<ion-header class="head-menu">
  <ion-toolbar class="header-holder">
    <button ion-button left menuToggle="TipMenu">
      <ion-icon id="menu-name" name="menu"></ion-icon>
    </button>

    <ion-row *ngFor="let merchant of merchants">
      <ion-col col-6>
        <div class="pink-header">
          <!-- {{ merchant.merchant_name }} -->
          {{ (merchant.merchant_name.length > 8)? (merchant.merchant_name | slice:0:8)+'...':(merchant.merchant_name) }}
        </div>
      </ion-col>

      <ion-col col-4>
        <img class="img-name" src="{{ merchant.merchant_logo }}" alt="img" />
      </ion-col>

      <ion-col col-2>
        <button ion-button icon-only (click)="goBack()" clear>
          <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid no-padding>
    <ion-row class="special-row-icon">
      <ion-col col-10 class="search-bar" id="search-bar">
        <ion-searchbar
          placeholder="Courses name"
          class="ion-search"
          id="ion-search"
          (click)="navigateTo()"
        >
        </ion-searchbar>
      </ion-col>

      <ion-col col-2 class="options-icon" id="options-icon">
        <button
          ion-button
          icon-right
          class="option-btn"
          (click)="goTo('FilterPage')"
          clear
        >
          <ion-icon name="ios-options-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="special-row" no-padding>
      <ion-slides autoplay="3000" loop="true" speed="500" pager="true">
        <ion-slide>
          <img
            id="img-banner"
            src="../../assets/imgs/YUPANGCO/banner1 360x166.jpg"
            width="360"
            height="166"
          />
        </ion-slide>

        <ion-slide>
          <img
            id="img-banner"
            src="../../assets/imgs/YUPANGCO/yupangco-banner 360x166.jpg"
            width="360"
            height="166"
          />
        </ion-slide>

        <ion-slide>
          <img
            id="img-banner"
            src="../../assets/imgs/YUPANGCO/50th-banner 360x166.jpg"
            width="360"
            height="166"
          />
        </ion-slide>

        <ion-slide>
          <img
            id="img-banner"
            src="../../assets/imgs/YUPANGCO/yupangco_photo 360x166.jpg"
            width="360"
            height="166"
          />
        </ion-slide>

        <ion-slide>
          <img
            id="img-banner"
            src="../../assets/imgs/YUPANGCO/billboard__banner 360x166.jpg"
            width="360"
            height="166"
          />
        </ion-slide>
      </ion-slides>

      
      <div class="special-name">
        Courses
      </div>

      <div class="cate-name">
        <br />
        Guitar
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/guitar-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">ACOUSTIC GUITAR...</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Frederick Noad solo guitar Book1</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-menu">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/Music-Schools-03 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">ELECTRIC GUITAR...</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Jodie Fischer, Rock Guitar...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holders">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/preview 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">BASS GUITAR LESS...</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Friedman Bass</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-name">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/guitar-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">ACOUSTIC GUITAR...</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Frederick Noad solo guitar...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="appe-name">
        <br />
        Voice
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/voice-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">VOICE LESSON</p>
                  <p class="title-level">Primary</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Vocalization Exercises, Pieces...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-menu">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/voice-intermediate-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">VOICE LESSON</p>
                  <p class="title-level">Intermediate</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Vocalization Exercises, Pieces...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holders">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/voice-advance 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">VOICE LESSON</p>
                  <p class="title-level">Advance</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Vocalization Exercises, Pieces...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="appe-name">
        <br />
        Violin
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/violin-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">VIOLIN LESSON</p>
                  <p class="title-level">Primary</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">(Grade 1 & 2) Suzuki Book 1...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-menu">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/violin-intermediate-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">VIOLIN LESSON</p>
                  <p class="title-level">Intermediate</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">(Grade 3 & 4) Suzuki Book 4...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holders">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/violin-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">VIOLIN LESSON</p>
                  <p class="title-level">Advance</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">(Grade 5) Suzuki Book 6-7...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="appe-name">
        <br />
        Piano
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/piano-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">PIANO LESSON</p>
                  <p class="title-level">Primary (Piano I, II, III)</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">John Schaum A,B, Dozen a day...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-menu">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/piano-intermediate-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">PIANO LESSON</p>
                  <p class="title-level">Intermediate (Piano IV, V, VI, VII)</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Hanon Complete, Czerny Op...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holders">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/piano-advance 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">PIANO LESSON</p>
                  <p class="title-level">Advance (Piano IV, V, VI, VII)</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Hanon Complete, Czerny Op...</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="appe-name">
        <br />
        Wind
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/wind-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">WIND LESSON</p>
                  <p class="title-level">Primary</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Rubank elementary metho..</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-menu">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/wind-intermediate-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">WIND LESSON</p>
                  <p class="title-level">Intermediate</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Rubank Intermediate metho..</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holders">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/wind-advance 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">WIND LESSON</p>
                  <p class="title-level">Advance</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Rubank Advance metho..</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="appe-name">
        <br />
        Drums
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/drums-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">DRUM LESSON</p>
                  <p class="title-level">Primary</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Drumset Musician Book I..</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-menu">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/drums-intermediate-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">DRUM LESSON</p>
                  <p class="title-level">Intermediate</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Rubank Intermediate metho..</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holders">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openMenuDetail()"
                src="../../assets/imgs/YUPANGCO/drums-advanced 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">DRUM LESSON</p>
                  <p class="title-level">Advance</p>
                  <p class="title-price">1 hr/lesson</p>
                  <p class="title-desc">Rubank Advance metho..</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="special-name">
        Special offers
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <div class="box">
                <p class="free-name">SPECIAL OFFER</p>
                <!-- <p class="time-date">25 MIN</p> -->
              </div>
              <img
                id="img-resto"
                (click)="openSpecialDetail()"
                src="../../assets/imgs/YUPANGCO/drums-intermediate-1 360x166.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">DRUM LESSONS</p>
                  <!-- <p class="title-price"><b>Php 15,000.00</b></p> -->
                  <!-- <p class="mini-deli"> Php 100.00 minimum</p> -->
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-menu">
            <ion-card class="menu-image-card">
              <div class="box">
                <p class="free-name">SPECIAL OFFER</p>
                <!-- <p class="time-date">20 MIN</p> -->
              </div>
              <img
                id="img-resto"
                (click)="openSpecialDetail()"
                src="../../assets/imgs/YUPANGCO/Music-Schools-06 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">GUITAR LESSONS</p>
                  <!-- <p class="title-price"><b>Php 15,000.00</b></p> -->
                  <!-- <p class="mini-deli"> Php 200.00 minimum</p> -->
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holders">
            <ion-card class="menu-image-card">
              <div class="box">
                <p class="free-name">SPECIAL OFFER</p>
                <!-- <p class="time-date">20 MIN</p> -->
              </div>
              <img
                id="img-resto"
                (click)="openSpecialDetail()"
                src="../../assets/imgs/YUPANGCO/piano-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">PIANO LESSONS</p>
                  <!-- <p class="title-price"><b>Php 17,500.00</b></p> -->
                  <!-- <p class="mini-deli"> Php 200.00 minimum</p> -->
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-name">
            <ion-card class="menu-image-card">
              <div class="box">
                <p class="free-name">SPECIAL OFFER</p>
                <!-- <p class="time-date">25 MIN</p> -->
              </div>
              <img
                id="img-resto"
                (click)="openSpecialDetail()"
                src="../../assets/imgs/YUPANGCO/voice-primary-1 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">VOICE LESSONS</p>
                  <!-- <p class="title-price"><b>Php 17,500.00</b></p> -->
                  <!-- <p class="mini-deli"> Php 200.00 minimum</p> -->
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="special-name">
        Voucher
      </div>

      <ion-slides slidesPerView="3">
        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/YUPANGCO/OCTOBER-HANDOG-SALE-2-MAIN-POST.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">The Gift of Music in Your Hands</div>
                    <div class="item-desc">
                      It’s that time of the year again!...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/YUPANGCO/christmass blowout.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">Christmass Blowout</div>
                    <div class="item-desc">
                      Ho Ho Ho! Unbox jolly discounts this...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/YUPANGCO/voucher back.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">YMA rains June-packed ...</div>
                    <div class="item-desc">
                      Rain, rain in YMA, come now and...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/YUPANGCO/christmass blowout.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">Christmass Blowout</div>
                    <div class="item-desc">
                      Ho Ho Ho! Unbox jolly discounts this...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/YUPANGCO/voucher back.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">YMA rains June-packed ...</div>
                    <div class="item-desc">
                      Rain, rain in YMA, come now and ...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/YUPANGCO/OCTOBER-HANDOG-SALE-2-MAIN-POST.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">The Gift of Music in Your Hands</div>
                    <div class="item-desc">
                      It’s that time of the year again!...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="special-name">
        Features
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide>
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="goPromo()"
                src="../../assets/imgs/YUPANGCO/BacktoSchool 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">Back to School</p>
                  <p class="title-desc">
                    It’s that time of the year again! Class is in session!
                    Celebrate music and let help your giving discounted music...
                  </p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-menu">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="goPromo()"
                src="../../assets/imgs/YUPANGCO/pianopromo 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">Year End Promo</p>
                  <p class="title-desc">
                    2019 is just around the corner - let it be the year where
                    #YouCanBe what you want to be! Enroll a minimum ...
                  </p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holders">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="goPromo()"
                src="../../assets/imgs/YUPANGCO/BacktoSchool 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">Back to School</p>
                  <p class="title-desc">
                    It’s that time of the year again! Class is in session!
                    Celebrate music and let help your giving discounted music...
                  </p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="col-holder-name">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="goPromo()"
                src="../../assets/imgs/YUPANGCO/pianopromo 262x147.jpg"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">Year End Promo</p>
                  <p class="title-desc">
                    2019 is just around the corner - let it be the year where
                    #YouCanBe what you want to be! Enroll a minimum ...
                  </p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>

      
    </ion-row>
  </ion-grid>
</ion-content>

<!-- /*****************************************************side menu*******************************************************************/ -->

<ion-menu id="TipMenu" persistent="true" [content]="content">
  <ion-content>
    <ion-list>
      <div class="label-name">
        <ion-icon id="img-icon" name="ios-contact"></ion-icon>
        <label id="label-name">
          Log in / Create account
        </label>
      </div>

      <button ion-item menuClose (click)="openPage('YupangcoBranchPage')">
        <ion-icon id="label-order" name="md-git-network">
          <p id="order-name">Branches</p>
        </ion-icon>
      </button>

      <button ion-item>
        <ion-icon id="label-order" name="md-chatbubbles">
          <p id="order-name">Contact us</p>
        </ion-icon>
      </button>

      <button ion-item>
        <ion-icon id="label-order" name="list-box">
          <p id="order-name">Menu</p>
        </ion-icon>
      </button>

      <button ion-item menuClose (click)="openPage()">
        <ion-icon id="label-order" name="calendar">
          <p id="order-name">Reservation</p>
        </ion-icon>
      </button>

      <button ion-item (click)="navigateTo()">
        <label id="label-setting">
          Setting
        </label>
      </button>
      <button ion-item (click)="navigateTo()">
        <label id="label-setting">
          FAQ
        </label>
      </button>
      <button ion-item (click)="navigateTo()">
        <label id="label-setting">
          Terms & Conditions / Privacy
        </label>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
