page-table {
    .main-view-calendar{
        background: transparent;
      }
      .overlay-calendar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
      }
      .modal_content-calendar {
        position: absolute;
        top: calc(50% - (50%/2));
        left: 0;
        right: 0;
        width: 90%;
        height: auto;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: #e8e8e8;
        background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
      }

    .modal-title-calendar{
        text-align: center;
        // background: #ff3333;
        margin: 0;
        height: 28px;
        // color: white;
        font-size: 2rem;
        // padding-top: 12px
    }

    .bar-buttons-md{
        margin: 22px 0 22px 0;
    }

    .star-class{

    }

    ion-buttons{
        text-align: center;
    }

    .button-md{
        font-size: 1.4rem;
        background: #e01c44;
    }

    .button-inner{
        // width: 40px;
    }

    .promo-submit{
        text-align: center;
        padding-top: 3px;
    }

    .sub-mesg{
        font-size: 1.4rem;
    }

    .promo-desc{
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .button-holder{
        margin-top: 15px;
    }
}

modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  @media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal ion-backdrop {
      visibility: hidden;
    }
  }
  
  @media only screen and (min-height: 0px) and (min-width: 0px) {
    .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
}
