<ion-content class="content-holder">
    <div class="back">
        <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </div>
  
    <ng-container>
  
    <ion-grid class="new-grid" no-padding>
        <ion-row class="image-row">
          <ion-col class="image-holder">
            <img class="new-image" src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/greenbelt1.jpg">
          </ion-col>
        </ion-row>
    </ion-grid>
    
      <div class="slide-above">
        <ion-slides class="slider-middle" parallax=true update=true>
          <ion-slide >
            <div class="slide-div">
              <ion-grid class="grid-detail text-left">
                <ion-row>
                  <ion-col class="col-title">
                    <p class="product-name"></p>
                  </ion-col>
                </ion-row>
  
                <ion-row class="merchant-detail-holder">
                  <ion-col class="merchant-image" col-2>
                      <img src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/merchants/llq1bod58eejvbwpxdh.jpeg" alt="img" height="50">
                  </ion-col>
                  
                  <ion-col class="merchant-name-holder">
                    <div class="text-left merchant-name">Chicken Bacolod</div>
                  </ion-col>
                
                </ion-row>
  
                <ion-row>
                    <div class="text-label">Branch</div>
                </ion-row>
                  
                  <ion-row>
                    <div class="voucher-detail">Greenbelt</div>
                  </ion-row>
  
                <ion-row>
                    <div class="text-label">Address</div>
                </ion-row>
                  
                  <ion-row>
                    <div class="voucher-detail">Ground Floor, Greenbelt 1 Ayala Malls, Makati, Philippines</div>
                  </ion-row>
  
                  <ion-row>
                      <div class="text-label">Contact Number</div>
                    </ion-row>
                    
                    <ion-row>
                      <div class="voucher-detail">892-6599, 816-2327</div>
                    </ion-row>
   
              </ion-grid>
            </div>
          </ion-slide>
  
          <!-- <ion-slide>
            <div class="slide-div">
              <ion-grid class="grid-detail">
                <ion-row>
                  <ion-col class="col-title" >
                    <p class="product-name">Description</p>
                    <div class="voucher-detail voucher-description" [innerHTML]="promo.description"></div>
                  </ion-col>
                </ion-row>
                
              </ion-grid>
            </div>
          </ion-slide> -->
      
        </ion-slides>
      </div>  
    </ng-container>
  </ion-content>
  
  
  
  
  
  