page-login {
    .card-content-md {
        padding: 13px 16px;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .item-md {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-md-danger {
        color: #fff;
        background-color: #f53d3d;
    }

    .card-md {
        width: auto;
    }

    .label-md {
        margin: 13px 8px 13px 0;
    }

    ion-icon.icon-20.icon.icon-md.ion-md-person {
        font-size: 20px;
    }

    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #dedede !important;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #dedede;
        -webkit-box-shadow: inset 0 -1px 0 0 #dedede;
        box-shadow: inset 0 -1px 0 0 #dedede;
    }

}
