<ion-content class="bg-grey">
  <div *ngIf="isLoggedIn"  class="center-loading" text-center padding>
    <p>
     <img src="./assets/imgs/logov2.png" height="100px"/>
    </p>
    <ion-spinner class="spinner-50"></ion-spinner>
  </div>

  <div *ngIf="!isLoggedIn">
    <p class="mb40" text-center>
     <img src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/merchants/llq1bod58eejvbwpxdh.jpeg" height="100px"/>
    </p>
    <ion-card>
      <ion-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="onLogin()">
          <ion-item>
            <ion-label stacked>Username</ion-label>
            <ion-input type="number" formControlName="mobile" required></ion-input>
            <button ion-button clear color="dark" item-right>
               <ion-icon class="icon-20" name="person"></ion-icon>
            </button>
          </ion-item>

          <div class="seperator">&nbsp;</div>

          <ion-item>
            <ion-label stacked>Password</ion-label>
              <ion-input type="password" formControlName="password" required>
            </ion-input>
            <button ion-button clear color="dark" type="button" item-right>
              <ion-icon class="icon-20" name=""></ion-icon>
            </button>
          </ion-item>
          <div class="seperator">&nbsp;</div>
          <div class="validation-alert" *ngIf="validationError">
            <ion-icon name="alert"></ion-icon>
          </div>
        </form>
        <ion-item  text-center *ngIf="isProcessing">
          <ion-spinner class="spinner-50"></ion-spinner>
        </ion-item>

          <button ion-button
                  block
                  (click)="onLogin()">Login</button>
 
      </ion-card-content>
      <div>&nbsp;</div>
    </ion-card>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-8>
          <ion-buttons>
            <button [disabled]="isProcessing"
                    ion-button
                    clear
                    color="dark"
                    (click)="goTo('ForgotPage')">Forgot Password ?</button>
          </ion-buttons>
        </ion-col>
        <ion-col col-4 text-right>
          <ion-buttons>
            <button [disabled]="isProcessing"
                    ion-button
                    clear
                    color="dark"
                    (click)="navigateTo('RegistrationPage')">Register</button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row>
          <!-- <p class="user-data">{{localStorageUserId}}</p>
          <p class="user-data">{{localStorageFirstName}}</p>
          <p class="user-data">{{localStorageLastName}}</p> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
