<app-header-home></app-header-home>
<ion-content>
<div class="div-height"></div>

        <!-- <div class="menu-btn">
                <button ion-button icon-only (click)="goBack()" clear>
                  <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
                </button>
            </div>   -->

    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->

<ion-grid no-padding>

    <!-- <ion-row>
        <ion-col>
            <div class="red-header">
                <img class="logo" src="../../assets/imgs/logo_ipayu.png" alt="img">
            </div>
        </ion-col>
    </ion-row> -->
  
  <ion-row class="row-segment">
        
      <div class="segment-holder" >
        <ion-scroll scrollX="true" >
            <ion-segment class="shop-segments" mode="md" [(ngModel)]="pet">
                <ion-segment-button value="reserve">
                    <div class="segment-label">Appointment</div>
                </ion-segment-button>
                <ion-segment-button value="voucher">
                    <div class="segment-label">Voucher</div>
                    </ion-segment-button>
                <ion-segment-button value="order">
                    <div class="segmet-label">Orders</div>
                </ion-segment-button>
            </ion-segment>
        </ion-scroll>
      </div>
    
  </ion-row>

  
  <ion-row >
      
    <div class="holder-switch">
      <div [ngSwitch]="pet">
          <ion-list *ngSwitchCase="'reserve'">

              <ion-row class="holder-row" no-padding>
                      <ion-col col-10 class="search-bar" id="search-bar">
                         <ion-searchbar placeholder="Search Appointment" class="ion-search" id="ion-search" (click)="openSearchTo()"> </ion-searchbar> 
                      </ion-col>
              
                      <ion-col col-2 class="options-icon" id="options-icon">
                          <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
                          <ion-icon name="ios-options-outline"></ion-icon>
                          </button>  
                      </ion-col>
                    </ion-row>
              
          <ion-item class="holder-item">
                      <ion-row class="card-row-wallet">
                           <ion-card class="menu-image-card" *ngFor="let reservation of reservations">
                              <ion-item class="item-row">
                                  <div class="card-wallet">
                                          <img id="img-wallet"  (click)="openPromoDetail()" src="{{reservation.url}}" />
                                          <p id="merchant-name">
                                            {{
                                              reservation.product_name.length > 20
                                                ? (reservation.product_name | slice: 0:20) + "..."
                                                : reservation.product_name
                                            }}
                                          </p>
                                          <p id="merchant-date">{{reservation.cat_name}}</p>
                                       
                                          <ion-col col-4 id="col-rate">
                                          <p id="merchant-rate">Date</p>
                                          <p id="merchant-label">{{reservation.appointment_date | date:'y-MM-dd'}}</p>
                                          </ion-col>

                                          <ion-col col-4 id="col-rate-new">
                                          <p id="merchant-rate">Time</p>
                                          <p id="merchant-point">{{reservation.appointment_date | date:'h:mm a'}}</p>
                                          </ion-col>

                                          <!-- <ion-col col-4 id="col-rate-last">
                                          <p id="merchant-cash">People</p>
                                          <p id="merchant-hour">1</p>
                                          </ion-col> -->

                                          <ng-container *ngIf="reservation.status === 'active'">
                                              <div class="button-use">
                                                <button id="cancel-btn" (click)="cancelReservation(reservation.id, reservation.merchant_id)" ion-button class="my-button">CANCEL</button>
                                            </div>
                                          </ng-container>

                                          <ng-container *ngIf="reservation.status === 'approved'">
                                            <div class="button-use">
                                              <button id="cancel-btn" ion-button class="my-button3" disabled>APPROVED</button>
                                            </div>
                                        </ng-container>


                                  </div>
                              </ion-item>
                           </ion-card>
                  

                      </ion-row>
          </ion-item>
        </ion-list>
          <ion-list *ngSwitchCase="'voucher'">
            <ion-row class="holder-row" no-padding>
                <ion-col col-10 class="search-bar" id="search-bar">
                   <ion-searchbar placeholder="Voucher name" class="ion-search" id="ion-search" (click)="openSearchTo()"> </ion-searchbar> 
                </ion-col>
        
                <ion-col col-2 class="options-icon" id="options-icon">
                    <button ion-button icon-right class="option-btn" clear> 
                    <ion-icon name="ios-options-outline"></ion-icon>
                    </button>  
                </ion-col>
              </ion-row>    

              <ion-item class="holder-item">
                
                <ion-row class="card-row-wallet" *ngFor="let voucher of wallet_voucher">

                     <ion-card class="menu-image-card">
                        <ion-item class="item-row">
                            <div class="card-wallet">
                                
                                <img id="img-wallet" (click)="openPromoDetail()" src="{{voucher.url}}">
                            
                                <p id="merchant-name">{{(voucher.name.length > 20)? (voucher.name | slice:0:20)+'...':(voucher.name)}}</p>
                                <!-- <p id="merchant-date">{{voucher.merchant_name}}</p> -->
                                
                                <ion-col col-4 id="col-rate">
                                <p id="merchant-rate">Date</p>
                                <p id="merchant-label">{{voucher.validity_start | date:'MMM d y'}}</p>
                                </ion-col>

                                <ion-col col-4 id="col-rate-new">
                                <p id="merchant-rate">Rate</p>
                                <p id="merchant-point">Php {{voucher.value}}</p>
                                </ion-col>

                                <ion-col col-4 id="col-rate-last">
                                <p id="merchant-cash">Condition</p>
                                <p id="merchant-off">{{ (voucher.terms_and_conditions?.length > 5)? (voucher.terms_and_conditions | slice:0:5)+'...':(voucher.terms_and_conditions) }}</p>
                                </ion-col>

                                <div class="button-use-voucher" *ngIf="voucher.status == 0">
                                  <button (click)="useVoucher(voucher.voucher_id, voucher.merchant_id)" class="my-button">USE</button>
                                </div>

                                <div class="button-use-voucher" *ngIf="voucher.status == 1">
                                    <button ion-button class="my-button2" disabled>USED</button>
                                </div>

                                <div class="button-use-voucher" *ngIf="voucher.status == 2">
                                    <button ion-button class="my-button2" disabled>PENDING</button>
                                </div>
                                                                
                            </div>
                        </ion-item>
                     </ion-card>
                     
                </ion-row>
    </ion-item>
        </ion-list>


        <ion-list *ngSwitchCase="'order'">
            <ion-row class="holder-row" no-padding>
                <ion-col col-10 class="search-bar" id="search-bar">
                   <ion-searchbar placeholder="Order name" class="ion-search" id="ion-search" (click)="openSearchTo()"> </ion-searchbar> 
                </ion-col>
        
                <ion-col col-2 class="options-icon" id="options-icon">
                    <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
                    <ion-icon name="ios-options-outline"></ion-icon>
                    </button>  
                </ion-col>
              </ion-row>    

              <ion-item class="holder-item">
                
                <ion-row class="card-row-wallet" *ngFor="let order of orders">

                     <ion-card class="menu-image-card">
                        <ion-item class="item-row">
                            <div class="card-wallet">
                                
                                <img id="img-wallet" (click)="openPromoDetail()" src="{{ order.url }}" />
                            
                                <p id="merchant-name">{{ order.product_name }}</p>
                                <p id="merchant-date" class="merchant-label"></p>
                                
                                <ion-col col-4 id="col-rate">
                                <p id="merchant-rate">Date</p>
                                <p id="merchant-label">{{ order.cart_modify_datetime | date:'MMM d y' }}</p>
                                </ion-col>

                                <ion-col col-4 id="col-rate-new">
                                <p id="merchant-rate">Time</p>
                                <p id="merchant-point">{{ order.cart_modify_datetime | date:'shortTime' }}</p>
                                </ion-col>

                                <ion-col col-4 id="col-rate-last">
                                <p id="merchant-cash">Price</p>
                                <p id="merchant-off"><span class="peso-sign-list">&#8369;</span> {{ order.total }}</p>
                                </ion-col>
                                
                            </div>
                        </ion-item>
                     </ion-card>
                </ion-row>
            </ion-item>
        </ion-list>
         
        </div>
      </div>
  </ion-row>

</ion-grid>

<ion-fab bottom right absolute-drag>
    <button ion-fab class="fab-color"><img src="../../assets/imgs/chicken-bacolod/chicken-bacolod-logo.jpg"></button>
    <ion-fab-list side="left">
        <button ion-fab class="fab-color" (click)="toWallet('WalletFabPage')"><img src="assets/imgs/footer-menu/wallet.png"></button>
        <button ion-fab class="fab-color" (click)="toResto('VoucherFabPage')"><img src="assets/imgs/footer-menu/coupon.png"></button>
        <button ion-fab class="fab-color" (click)="toPromo('PromoPage')"><img src="assets/imgs/footer-menu/promo.png"></button>
        <button ion-fab class="fab-color" (click)="toProduct()"><img src="assets/imgs/footer-menu/shop.png"></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>


<ion-menu id="xyz123" persistent="true" [content]="content" >
  <ion-content>
    <ion-list>
      <div class="label-name">
        <ion-icon id="img-icon" name="ios-contact"></ion-icon>
        <label id="label-name">
          {{firstName}} / {{lastName}}
        </label>
      </div>

      <button ion-item>
        <ion-icon id="label-order" name="md-chatbubbles">
          <p id="order-name">Contact us</p>
        </ion-icon>
      </button>

      <button ion-item menuClose (click)="navScreen('SpecialOfferPage')">
        <ion-icon id="label-order" name="md-pricetag">
          <p id="order-name">Special Offers</p>
        </ion-icon>
      </button>

      <button ion-item menuClose (click)="navScreen('PromoPage')">
        <ion-icon id="label-order" name="ios-calendar">
          <p id="order-name">Events/News</p>
        </ion-icon>
      </button>

      <button ion-item menuClose (click)="navScreen('VoucherFabPage')">
        <ion-icon id="label-order" name="md-megaphone">
          <p id="order-name">Vouchers</p>
        </ion-icon>
    </button>

      <button ion-item menuClose (click)="navScreen('WalletFabPage')">
        <ion-icon id="label-order" name="md-card">
          <p id="order-name">Wallet</p>
        </ion-icon>
      </button>
      
      <button ion-item (click)="navigateTo()">
        <label id="label-setting">
          About us
        </label>
      </button>
      <button ion-item (click)="navigateTo()">
        <label id="label-setting">
          Setting
        </label>
      </button>
      <button ion-item (click)="navigateTo()">
        <label id="label-setting">
          FAQ
        </label>
      </button>
      <button ion-item (click)="navigateTo()">
        <label id="label-setting">
          Terms & Conditions / Privacy
        </label>
      </button>
      <button ion-item (click)="navigateToLogin()">
        <label id="label-setting">
          Logout
        </label>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
