page-wallet-fab {

    .scroll-content {
        background: #f2f2f2;
    }

    //ION Header Style Start Here//
    .toolbar-md{
        height: 50px !important;
        min-height: 50px;
    }

    ion-header.head-menu.header.header-md {
        border-bottom: 1px solid rgb(241, 239, 239);
        padding-bottom: px !important;
    }

    #menu-name{
        color: #e01c44;
        font-size: 2.2rem;
        margin-top: 2px;
    }

    img.img-name{
        max-width: 100%;
        margin-top: 13px;
    }

    p.cart-num {
        position: absolute;
        top: -9px;
        left: 37px;
        font-size: 12px;
        border-radius: 50%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 3px;
        background: #e01c44;
        color: white;
    }

    button.btn-cart.disable-hover.button.button-md.button-clear.button-clear-md {
        color: black;
        padding-top: 10px;
        padding-right: 6px;
        padding-left: 3px;
        font-size: 1.7rem;
        margin-top: 2px;
    }

    .pink-header {
        padding: 3px 8px;
        font-size: 16px;
        padding-left: -2px;
        font-family: 'open_sansregular';
        top: 12px;
        position: relative;
    }

    img.cart-logo {
        margin-top: 10px;
    }
    
    #arrow-back{
        position: relative;
        margin-top: 10px;
        margin-left: 6px;
        color: #e01c44;
    }

    ion-col.col {
        padding: 0px;
    }

    //ION Header Style End Here//

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    .card-title-md, p, span, ion-col, ion-segment-button, .item-md{
        font-family: 'open_sansregular' !important;
    }

    .red-header {
        background: #e01c44;
        text-align: center;
        // color: #ffffff;
        // padding: 10px;
        font-size: 2.5rem;
        font-family: 'open_sansregular';
        text-transform: initial;
        
    }

    ion-col#options-icon {
        background: #fff;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        
    }

    button.option-btn.disable-hover.button.button-md.button-clear.button-clear-md {
        // padding-left: 6px;
        // padding-top: 9px;
        // border-bottom: 2px solid rgb(194, 191, 191);
        align-content: center;
        width: 10px;
        margin-left: 4px;
        height: 30px;
        margin-bottom: 9px;
        box-shadow: none;
        margin-top: 3px;
    }

    ion-row.row-wallet.row {
        margin-top: 0px !important;
        top: -10px;
        // bottom: -13px;
        position: relative;
        padding-top: 0px !important;
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    input.searchbar-input {
        box-shadow: none !important;
        // padding-left: 10px;
        // border-right: solid 1px rgb(226, 223, 223);
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon{
        color: #e01c44;
    }


    .ion-searchbar#ion-search {
        margin: 0 auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    img.logo{
        width: 87px;
        padding-top: 13px;
        // padding-bottom: 5px;
    }


    // #ion-searchtext {
    //     position: absolute;
    //     // top: 132px;
    //     top: 141px;
    //     z-index: 99;
    //     width: 250px;
    //     left: 56px;
    //     box-shadow: none !important;
    // }


        .resto-name, .resto-addr {
            text-align: center;
        }
    
        .resto-addr{
            font-size: 1.2rem;
        }
    
        .rating-ico-holder{
            text-align:center;
        }
    
        ion-icon.icon.icon-md.ion-md-star {
            color: #f9d214;
        }
        
    
        ion-card.resto-banner.card.card-md {
            padding: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            box-shadow: none;
            padding-bottom: 0;
    
            
        }
    
        
        
    
        .item-name {
            font-weight: bold;
            color: #4d4c4f;
        }
    
        .item-price {
            color: #e01c44;
            font-weight: bold;
            font-size: 1.3rem;
        }
    
        .item-detail {
            color: #9c9ba0;
            font-size: 1.2rem;
        }
    
        ion-item.item-content.item.item-block.item-md {
            padding: 0;
        }
    
        
        .item-inner {
            border-bottom: none !important;
            padding: 0 !important;
        }
    
        // ion-card.item-image-card.card.card-md {
        //     box-shadow: none;
        // }
    
       
    
        .segment-holder .segment-button {
            text-transform: none;
            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
        }

        page-wallet-fab .segment-holder .segment-button {
            text-transform: none;
            font-size: 1.4rem;
            font-weight: normal;
            width: auto;
            padding: 0 10px;
            -webkit-box-flex: auto;
            -webkit-flex: auto;
            -ms-flex: auto;
            flex: auto;
            color: gray;
            position: relative;
            display: inline-block;
            border: 1px solid white;
            font-weight: normal;
            text-decoration: none;
            overflow: hidden;
            border-radius: 2px;
            width: 100%;
        }
    
        
    
        //Promotion Style
    
        .col-holder{
            .card-md {
                margin: 0 !important;
                width: auto;
            }
        }
    
        .right-detail{
            float: right;
        }
    
        .left-detail {
            float: left;
            color: #ffffff;
            top: 3px;
            left: 14px;
            position: relative;
        }
    
        .revert-left {
            top: 0px !important;
            left: 0 !important;
        }
    
       
    
        .promo-list:nth-child(odd){
            background: #e14543; 
        }
    
        .promo-list:nth-child(even){
            background: #2c3d4d;
        }
    
        
    
        .back{
            z-index: 10;
            position: absolute;
            top: inherit;
            
        }
    
        .my-style-for-modal{
            opacity: .5;
            background: transparent !important;
            box-shadow: none !important;
        }
    
        ion-col.promo-date-holder.odd.col {
            padding: 0;
            height: 70px;
            width: 20%;
            max-width: 20%;
        }
    
        ion-col.promo-date-holder.even.col {
            padding: 0;
            height: 70px;
        }
    
        .promo-day {
            font-size: 2.5rem;
            padding: 5px 5px 0px 5px;
        }
    
        .voucher-price{
            font-size: 2.5rem;
            padding: 5px 5px 0px 5px;
        }
    
        .promo-price-holder {
            font-size: 12px;
            margin: 0 10px;
            position: relative;
        }
    
        ion-item.promo-corner.item.item-block.item-md {
            
            padding-left: 6px;
        }
    
        ion-row.promo-list.row {
            margin-bottom: 10px;
            right: 1px;
            position: relative;
        }
    
        p.item-detail {
            word-break: break-all;
            white-space: normal;
        }
    
        .right-col-detail-holder {
            background: #ffffff;
            height: 70px;
            padding: 0;
            top: 0;
            position: relative;
            width: 103%;
        }
    
        ion-col.right-col-detail.col {
            padding: 0 5px 0px 0px;
        }
    
        .promo-name {
            font-size: 14px;
            font-weight: bold;
            margin: 0 10px;
            padding: 3.9px 0 0 0;
        }
    
        .promo-location {
            font-size: 12px;
            margin: 0 10px;
            top: -4px;
            position: relative;
            padding: 5px 0 4px 0;
        }
    
        .branch-promo-location {
            font-size: 12px;
            margin: 0 10px;
            top: -4px;
            left: -5px;
            position: relative;
        }
        
    
        .promo-month {
            font-size: 1.3rem;
            top: -5px;
            left: 3px;
            letter-spacing: 3px;
            position: relative;
        }
        
        img.marker-ico {
            width: 14px;
            top: 4px;
            position: relative;
            width: 16px;
        }
    
        .promo-contact-number {
            font-size: 12px;
            top: -3px;
            position: relative;
            left: 10px;
            text-decoration: underline;
        }
    
        span.loc-val {
            font-size: 12px;
        }
    
        // img.promo-image-thumbnail {
        //     width: 70px;
        //     height: 70px;
        // }
    
        img.female-ico {
            // height: 20px;
            position: relative;
            display: inline;
            top: 5px;
        }
    
    
        .avatar-list{
            .item-md ion-avatar[item-start]{
                width: 100%;
            }
    
            .item-md ion-avatar ion-img, .item-md ion-avatar img {
                width: 150px;
                height: 150px;
                margin: 0 auto;
            }
        }
    
        ion-list.avatar-list.list.list-md {
            margin: 0;
        }
    
        
        ion-card-title.card-title-holder.card-title.card-title-md {
            padding: 0 !important;
        }
    
        //Bookings
    
        .booking-time {
            top: -5px;
            position: relative;
            font-size: 1rem;
        }
    
        //Branch
    
        
        //Menu
    
        ion-card.menu-image-card.card.card-md img {
            width: 91px !important;
            height: 91px;
            border-radius: 20px;
        }
        
        ion-card.menu-image-card.card.card-md {
            box-shadow: none;
            margin: 0 10px;
        }
        
    
        //Segment
        
    
        //Voucher
    
        .left-detail-voucher {
            left: 6px !important;
            top: 14px !important;
        }
    
        // button
        .ion-md-remove-circle:before {
            content: "\f367";
            font-size: 46px;
            color: #e14543;
            margin-left: 5px;
        }
    
        .ion-md-add-circle:before {
            content: "\f272";
            font-size: 46px;
            color:#e14543;
        }
    
        ion-col.add-btn.col {
            padding-left: 2px;
        }
    
        .resto-banner img {
            width: 411px;
            height: 168px;
        }
    
        
    
        //Segments
        
        .segment-holder{
    
            .segment-button {
                text-transform: none;
                font-size: 1.4rem;
                font-weight: normal;
                width: auto;
                padding: 0 10px;
                -webkit-box-flex: auto;
                -webkit-flex: auto;
                -ms-flex: auto;
                flex: auto;
                color: gray;
                position: relative; 
                display: inline-block;
                // border: 1px solid #e01c44;
                // font-style: normal;
                font-weight: normal;
                text-decoration: none;
                overflow: hidden;
                border-radius: 2px;
                // margin: .8em auto;
                width: 100%;
    
            }
    
            .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
                // background: #e01c44;
                opacity: 1;
                font-size: 1.4rem;
                font-weight: bold;
                color: gray;
                border-color: #e01c44;
                border-bottom-width: 3px;
            }
        } 

        ion-scroll .scroll-content {
            left: 5px;
            right: 7px;
            top: 6px;
            bottom: -17px;
            position: absolute;
            overflow-y: hidden;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            will-change: scroll-position;
        }
        
        
    
        .segment-sub-holder{
            ion-scroll{
                padding: 20px 0 !important;
                height: auto;
                margin-top: 10px;
            }
    
            .segment-button {
                text-transform: none;
                font-size: 1.4rem;
                border:none;
                background: #e14543;
                opacity: 1;
                color: #ffffff;
                margin: 0 2px;
                line-height: initial;
                height: auto;
                padding: 5px;
            }
    
            .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
                // border-color: #e01c44;
                opacity: 1;
                font-size: 1.4rem;
                border:none;
                background: #e14543;
                color: #ffffff;
                margin: 0 2px;
                line-height: initial;
                height: auto;
                padding: 5px;
            }
        } 

        .segment-holder {
            width: 100%;
            
        }
    
        .holder-switch {
            width: 100%;
            margin-top: -14px;
            background-color: rgb(243, 241, 241) !important;
        }

        .segment-label{
            display: inline-block;
            padding: 0 .71em;
            cursor: pointer;
            // float: left;
            /* line-height: 3em; */
            // font-style: inherit;
            font-weight: inherit;
            text-decoration: inherit;
            font-size: 15px !important;
            // color: rgb(173, 169, 169);
        }
    
        .segmet-label {
            font-size: 15px;
        }

        .shop-segments{
            background: white;
            width: 120% !important;
        }
    
        ion-scroll {
            height: 42px;
            white-space: nowrap;
            background-color: rgb(243, 241, 241) !important;
        }
    
        ion-icon.icon.icon-md.ion-md-call {
            font-size: 11px;
        }
    
        p.question-label {
            text-transform: capitalize;
            color: grey;
            font-size: 12px;
        }
    
        p.answer-name {
            text-transform: uppercase;
            color: black;
            font-size: 22px;
        }
    
        .input-info{
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
        }
    
        .input-info-dine{
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
            padding-top: 16px;   
        }
    
        .ion-md-remove-circle-time:before {
            content: "\f367";
            font-size: 46px;
            color: rgb(196, 196, 196);
            margin-left: 5px;
        }
    
        p.pick-label {
            color: grey;
            font-size: 12px;
        }
    
        button#pick-btn {
            background-color: #e14543;
            box-shadow: none;
        }
    
        .input-info-pick{
            // border-bottom: 1px solid grey;
            padding-bottom: 10px;
            padding-top: 16px;   
        }
    
        button#book-btn {
            background-color: #e14543;
            text-transform: uppercase;
            box-shadow: none;
        }
    
        .input-info-book {
            padding-top: 16px;   
        }
    
        // input.searchbar-input {
        //     box-shadow: none !important;
        //     // border-right: solid 1px rgb(226, 223, 223);
        // }

        // ion-col.search-input.col {
        //     padding: 0px 0px;
        //     width: 55px;
        //     border-radius: 13px;
        //     border: 1px solid gray;
        // }

        // #ion-search {
        //     // width: 106%;
        //     padding-left: 0px;
        //     padding-right: 0px;
        //     padding-bottom: 0px;
        //     padding-top: 0px;
        //     box-shadow: none !important;
        //     border-bottom: solid 1px #ffffff;
        // }

        // .searchbar-input {
        //     padding: 6px 47px !important;
        //     border-radius: 15px !important;
        //     border: 1px solid gray;
        //     background-position: left 8px center;
        //     height: 38px !important;
        //     font-size: 1.6rem;
        //     font-weight: 400;
        //     // line-height: 2rem;
        //     color: #141414;
        //     background-color: #fff;
        // }
    
        // .searchbar-search-icon{
        //     color: #e01c44;
        //     padding-top: 11px !important;
        // }
    
    
        // .ion-searchbar#ion-search {
        //     margin: 0 auto;
        //     display: block;
        //     padding-left: 0px;
        //     padding-right: 0px;
        //     padding-bottom: 0px;
        //     padding-top: 0px;
        //     box-shadow: none !important;
        // }

        .searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
            position: absolute;
            background-repeat: no-repeat;
            background-size: 20px;
            // padding-top: 40px;
            top: 12px;
            left: 28px;
        }

        // .ion-col#search-bar {
        //     padding-left: 0px;
        //     padding-right: 10x;
        // }

        // ion-row.searchbar-row.row{
        //     padding-left: 0px;
        //     padding-right: 10x;
        // }

        .card-wallet {
            border: 1px solid rgb(221, 209, 209);
            height: 115px;
            border-radius: 9px;
            margin-left: 27px !important;
            background: white;
            // -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.14), 0 30px 10px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            // box-shadow: 0 200px 200px 0 rgba(0, 0, 0, 0.14), 0 30px 10px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
           
        }

        img#img-wallet {
            position: absolute;
            left: 1px;
            height: 95px;
            width: 90px !important;
            border-radius: 11px;
            top: 18px;
        }

        p#merchant-name {
            margin-left: 58px;
            // margin-top: 11px;
            font-weight: bold;
            font-size: 17px;
            margin-top: 3px;
        }

        p#merchant-date {
            margin-left: 58px;
            // margin-top: 13px;
            font-size: 14px;
            color: #e01c44;
        }

        p#merchant-rate {
            margin-left: 58px;
            // margin-top: 13px;
            font-size: 13px;
            color: rgb(168, 167, 167);
            margin-top: 0px;
        }

        p#merchant-cash {
            margin-left: 49px;
            // margin-top: 13px;
            font-size: 12px;
            color: rgb(168, 167, 167);
            margin-top: 0px;
        }
    
        ion-col#col-rate {
            position: absolute;
        }

        ion-col#col-rate-new {
            position: absolute;
            margin-left: 72px;
        }

        ion-col#col-rate-last {
            position: absolute;
            margin-left: 145px;
        }

        p#merchant-label {
            position: absolute;
            top: 25px;
            left: 59px;
            font-weight: bold;
            font-size: 12px;
        }

        p#merchant-point{
            position: absolute;
            top: 25px;
            left: 59px;
            font-weight: bold;
            font-size: 12px;
        }

        p#merchant-hour{
            position: absolute;
            top: 24px;
            left: 73px;
            font-weight: bold;
            font-size: 11px;
        }

        p#merchant-off{
            position: absolute;
            top: 24px;
            left: 55px;
            font-weight: bold;
            font-size: 12px;
        }


        #merchant-star {
            color: #f9d214;
            margin-left: 51px;
        }

        ion-row.card-row-wallet.row {
            position: relative;
            top: -2px;
        }

        ion-col#search-bar {
            padding-left: -12px;
            position: relative;
            left: -4px;
        }

        .label-md {
            margin: 4px 8px 0px 0;
        }

        // ion-item.item-row.item.item-block.item-md {
        //     box-shadow: 0 2px 5px 0 white;
        //     background-color: rgb(235, 232, 232);
        // }

        .searchbar-md .searchbar-input {
            padding: -1px 42px;
            border-radius: 2px;
            padding-top: 7px;
            background-position: left 8px center;
            height: auto;
            font-size: 1.6rem;
            font-weight: 400;
            // line-height: 3rem;
            color: #141414;
            border-right: 1px solid gray;
            background-color: #fff;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }

        ion-row.holder-row.row {
            border-bottom: 1px solid rgb(209, 203, 203) !important;
             height: 59px; 
            margin-top: 15px;
            padding-top: -9px;
        }

        .holder-item {
            // padding-left: 16px ;
            padding-right: 0;
            position: relative;
            font-size: 1.6rem;
            font-weight: normal;
            text-transform: none;
            color: #000;
            top: -14px;
            background-color: rgb(243, 241, 241) !important;
            // -webkit-box-shadow: none;
            box-shadow: none;
            // -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .item-row{
            background-color: rgb(243, 241, 241) !important;
        }

        .button-use{
            padding-left: 184px;
            padding-top: 20px;
        }

        .button-use-voucher{
            padding-left: 184px;
            padding-top: 50px;
        }

        .my-button{
            width: 68px;
            color: white;
            background: #e01c44;
            border-radius: 3px;
            font-size: 11px;
            height: 23px;
        }

        ion-scroll .scroll-content {
            left: 0 !important;
            right: 0 !important;
            top: 0 !important;
            bottom: 0 !important;
            position: absolute;
            overflow-y: hidden;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            will-change: scroll-position;
        }


        button#cancel-btn {
            font-size: 1.1rem;
            top: -6px;
            position: relative;
            left: 2px;
            width: 70px;
        }

        // button#cancel-btn2 {
        //     font-size: 1.1rem;
        //     top: -6px;
        //     position: relative;
        //     left: 2px;
        //     width: auto;
        // }

        .my-button2{
            width: 68px;
            color: white;
            background: gray;
            border-radius: 3px;
            font-size: 11px !important;
            height: 23px !important;
        }

        .my-button3{
            width: 68px;
            color: white;
            background: gray;
            border-radius: 3px;
            font-size: 11px !important;
            height: 23px !important;
        }

        .button-use2{
            padding-left: 184px;
            padding-top: 45px;
        }

        p#merchant-date {
            padding: 5px;
        }

        .fab-color {
            background-color: #FDD51B;
        }

}

.alertCustomCss {
    // text color for basic alerts
    color: black; 

    button {
        color: white !important; // button text color
        background-color: #e01c44 !important;
        width: -webkit-fill-available
    }

    .alert-message {
        color: white; // text color for confirm alerts
    }

    .alert-wrapper {
        
    }

    
  }
  .alert-md .alert-sub-title{
    text-align: center;
    padding-top: 10px;
}

.alert-md .alert-head {
    text-align: left;
    text-align: start;
    padding: 20px 0px 20px 0px;
}
