<ion-content no-padding>
    <ion-grid no-padding class="grid-holder">
        <ion-row>
            <ion-slides loop=true autoplay=2000 parallax=true autoplayDisableOnInteraction=false>
              <ion-slide>
                <img src="assets/imgs/20181022_IPAYUBanner.png" alt="" class="img-responsive">
              </ion-slide>
              <ion-slide>
                  <img src="assets/imgs/img1.jpg" alt="" class="img-responsive">
              </ion-slide>
              <ion-slide>
                  <img src="assets/imgs/img2.jpg" alt="" class="img-responsive">
              </ion-slide>
            </ion-slides>
            <ion-searchbar class="ion-searchtext" id="ion-searchtext" (click)="navigateTo('LocationPage')"></ion-searchbar>
        </ion-row>
        
        <div class="row-holder">
            <ion-row>
                <ion-col col-6 class="col-holder" no-padding>
                    <ion-card>
                        <div class="img-holder"><img src="assets/imgs/img1.jpg" class="voucher-image"/></div>
                        <div class="detail-holder">
                                <p class="shop-name"> Huya </p>
                            <div class="voucher-name">50% Voucher</div>
                            <div class="voucher-description">Lorem, ipsum dolor sit amet consectetur.</div>
                            <div class="voucher-validity">Valid until Oct. 20, 2018</div>
                        </div>
                    </ion-card>
                </ion-col>
      
                <ion-col col-6 class="col-holder" no-padding>
                    <ion-card>
                        <div class="img-holder"><img src="assets/imgs/img1.jpg" class="voucher-image"/></div>
                        <div class="detail-holder">
                                <p class="shop-name"> Huya </p>
                            <div class="voucher-name">20% Voucher</div>
                            <div class="voucher-description">Lorem, ipsum dolor sit amet consectetur.</div>
                            <div class="voucher-validity">Valid until Oct. 20, 2018</div>
                        </div>
                    </ion-card>
                </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-6 class="col-holder" no-padding>
                      <ion-card>
                          <div class="img-holder"><img src="assets/imgs/img1.jpg" class="voucher-image"/></div>
                          <div class="detail-holder">
                                <p class="shop-name"> Huya </p>
                              <div class="voucher-name">50% Voucher</div>
                              <div class="voucher-description">Lorem, ipsum dolor sit amet consectetur.</div>
                              <div class="voucher-validity">Valid until Oct. 20, 2018</div>
                          </div>
                      </ion-card>
                  </ion-col>
        
                  <ion-col col-6 class="col-holder" no-padding>
                      <ion-card>
                          <div class="img-holder"><img src="assets/imgs/img1.jpg" class="voucher-image"/></div>
                          <div class="detail-holder">
                                <p class="shop-name"> Huya </p>
                              <div class="voucher-name">20% Voucher</div>
                              <div class="voucher-description">Lorem, ipsum dolor sit amet consectetur.</div>
                              <div class="voucher-validity">Valid until Oct. 20, 2018</div>
                          </div>
                      </ion-card>
                  </ion-col>
                </ion-row>
        </div>


    </ion-grid>
</ion-content>
