page-voucher {
    #ion-searchtext {
        position: absolute;
        top: 195px;
        z-index: 99;
        width: 250px;
        left: 60px;
    }

    input.searchbar-input {
        border-radius: 5px !important;
        height: 30px !important;
        padding: 6px 33px !important;
    }
    
    .searchbar-search-icon{
        top: 7px !important;
        left: 7px !important;
    }

    .content-md {
        color: #000;
        background-color: #eee;
    }

    .img-holder {
        padding: 10px;
    }

    .voucher-name {
        color: #333;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    ion-card.card.card-md {
        border-radius: 5px !important;
    }

    .voucher-description, .voucher-validity {
        font-size: 12px;
    }

    .voucher-description {
        margin-bottom: 10px;
    }

    .detail-holder {
        padding: 0 10px 10px 10px;
    }
    
    .grid-holder{
        img.img-responsive {
            height: 250px;
        }

    }


}
