<ion-content class="content-holder">
  <div class="back">
      <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </div>

  <ng-container *ngFor="let promo of promos">

  <ion-grid class="new-grid" no-padding>
      <ion-row class="image-row">
        <ion-col class="image-holder">
          <img class="new-image" src="{{promo.url}}">
        </ion-col>
      </ion-row>
  </ion-grid>
  
    <div class="slide-above">
      <ion-slides class="slider-middle" parallax=true loop=true >
        <ion-slide >
          <div class="slide-div">
            <ion-grid class="grid-detail text-left">
              <ion-row>
                <ion-col class="col-title">
                  <p class="product-name"></p>
                </ion-col>
              </ion-row>

              <ion-row class="merchant-detail-holder">
                <ion-col class="merchant-image" col-2>
                    <img src="{{promo.merchant_url}}" alt="img" height="50">
                </ion-col>
                
                <ion-col col-6 class="merchant-name-holder">
                  <div class="text-left merchant-name">{{ (promo.merchant_name.length > 12)? (promo.merchant_name | slice:0:12)+'...':(promo.merchant_name) }}</div>
                </ion-col>

                <ion-col class="icon-holder" (click)="share(promo.name, promo.description, promo.url, 
                            promo.validity_end, promo.validity_start, promo.merchant_address)" col-2>
                  <ion-icon class="extra-icon" name="md-share"></ion-icon>
                </ion-col>

                <ion-col class="icon-holder" (click)="openCalendar(promo.name, promo.validity_end, 
                            promo.validity_start, promo.merchant_address, promo.description)" col-2>
                  <ion-icon class="extra-icon" name="md-calendar"></ion-icon>
                </ion-col>
              
              </ion-row>

              <ion-row>

                <ion-col col-4>
                  <div class="text-label">Validity</div>
                </ion-col>


                <ion-col (click)="rating(promo.id)" col-4 class="button-rating-holder">
                  <button class="button-rate">Rate Us</button>
                </ion-col>

                <ion-col class="star-holder" col-4>
                    <div *ngIf="starOneHalf">
                      <ion-icon class="new-star" name="md-star-half"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                    </div>
                    <div *ngIf="starOneFull">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                    </div>
                    <div *ngIf="starTwoHalf">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star-half"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                    </div>
                    <div *ngIf="starTwoFull">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                    </div>
                    <div *ngIf="starThreeHalf">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star-half"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                    </div>
                    <div *ngIf="starThreeFull">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                    </div>
                    <div *ngIf="starFourHalf">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star-half"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                    </div>
                    <div *ngIf="starFourFull">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star-outline"></ion-icon>
                    </div>
                    <div *ngIf="starFiveHalf">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star-half"></ion-icon>
                    </div>
                    <div *ngIf="starFiveFull">
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                      <ion-icon class="new-star" name="md-star"></ion-icon>
                    </div>
                </ion-col>
                
              </ion-row>
              
              <ion-row>
                <div class="voucher-detail">{{promo.validity_start | date:'d MMM y'}} - {{promo.validity_end | date:'d MMM y'}}</div>
              </ion-row>

              <ion-row>
                  <div class="text-label">Time</div>
                </ion-row>
                
                <ion-row>
                  <div class="voucher-detail">{{promo.validity_start | date:'shortTime'}} - {{promo.validity_end | date:'shortTime'}} </div>
                </ion-row>

                <ion-row>
                    <div class="text-label">Venue</div>
                  </ion-row>
                  
                  <ion-row>
                    <div class="voucher-detail">{{promo.merchant_address}}</div>
                  </ion-row>

                   <div class="text-label text-left">Condition</div>
                  <!-- <div class="voucher-detail">Every 1:00 pm to 4:00pm, Dine in for free 20% for 30 days </div> -->
  
            </ion-grid>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <ion-col class="col-title" >
                  <p class="product-name">Description</p>
                  <!-- <div class="justify"> {{promo.description}}</div>  -->
                  <div class="voucher-detail voucher-description" [innerHTML]="promo.description"></div>
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </div>
        </ion-slide>

        <!-- <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <ion-col class="col-title" >
                  
                  <div class="justify">  Room rentals are also included to offer an all-day long workshop of their talents and skills inside YMA premises. All these offers are giving away to help you and your kids pursue their passions and turn their dreams to life.
                    <br><br>Better make your everyday a sync of YMA! Keep posted and get daily updates on YMA’s Facebook Page!</div>
                  
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </div>
        </ion-slide> -->
  
      </ion-slides>
    </div>

  </ng-container>

</ion-content>





