<ion-content class="main-view-calendar">
    <div class="overlay-calendar" (click)="dismiss()"></div>
    <div class="modal_content-calendar">
      <h2 class="modal-title-calendar">Select Table</h2>
      
      
      <ion-item>
        <ion-label (ionChange)="get($event)"></ion-label>
        
        <ion-select [(ngModel)]="location" okText="Okay" cancelText="Dismiss">
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-row class="button-holder">
        <ion-col col-6 class="promo-submit-calendar">
          <button (click)="submit()" ion-button full>OK</button>
        </ion-col>
        <ion-col col-6 class="promo-submit-calendar">
          <button (click)="close()" ion-button full>CANCEL</button>
        </ion-col>
      </ion-row>
  
    </div>
  </ion-content>