<!-- <ion-header>
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>
        Search
      </ion-title>
    </ion-navbar>
  </ion-header> -->

<ion-content no-padding no-bounce class="no-scroll">
  <ion-grid no-padding>
  <div class="form-grid" padding>

    <div class="back-arrow">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" (click)="goBack()"></ion-icon>
    </div>

     <div class="image-holder text-center">
        <img class="img-class" src="assets/imgs/ipayu-logo.png" alt="ipayu-logo" width="150" height="58"> 
     </div>

      <form id="locationForm" [formGroup]="todo" (ngSubmit)="searchForm()">

        <ion-item>
            <ion-input type="text" placeholder="Location" formControlName="current_location"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Description" formControlName="item_description"></ion-input>
        </ion-item>

          <ion-row>
          <ion-col> 
            <select class="form-control" name="categories-location" id="categories-location" >
              <option value="1">Categories</option>
              <option value="2">All categories near current location</option>
            </select>
          </ion-col>
        </ion-row>

          <ion-row>
              <button class="search-location-btn" ion-button type="submit" > <ion-icon class="search-ico" ios="ios-search" md="md-search"></ion-icon> search</button>  
          </ion-row>
      </form>
  </div>
  
    <ion-row>
      <div id="map"></div>
    </ion-row>
  </ion-grid>

  
  <!-- <ion-footer no-border>
    <ion-toolbar>
        <button class="search-location-btn" ion-button type="submit" > <ion-icon class="search-ico" ios="ios-search" md="md-search"></ion-icon> search</button>  
    </ion-toolbar>
</ion-footer> -->

  </ion-content>
  