page-location {
    .form-grid{
        background: #e01c44;
        padding: 30px 16px !important;
        margin: 0;

        .image-holder {
            text-align: center;
            margin: 10px 0;
        }

    }

    ion-icon.search-ico {
        position: relative;
        display: block;
        left: -13px;
        font-size: 20px;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
    }

    ion-icon.icon.icon-md.ion-md-arrow-back {
        font-size: 30px;
        position: absolute;
        color: #ffffff;
    }

    #map{
        position: relative;
        display: block;
        height: 63vh;
        top: 0;
        //border: solid 1px red;
        width: 100%;
        overflow: hidden !important;
    }


    #map #infowindow-content {
        display: inline;
        }


    form#locationForm {
        width: 100%;

        .item-md{
            padding: 0;
            border-radius: 5px !important;
            margin: 10px 0;
        }

        .item-inner {
            border: 0 !important;
            padding: 0 !important;
        }

        .input-md {
            background: transparent;
            width: 100%;
            display: block;
        }

        // input#current-location {
        //     width: 100%;
        //     border: 1px solid #eeeeee;
        //     padding: 10px;
        //     // border-radius: 5px;
        //     // -moz-border-radius: 50px;
        //     -webkit-border-radius: 50px;
        //     border-radius: 7px;
        //     margin-bottom: 7px; 
        //     font-size: 16px;
        //     background-color: #f1eeee;
        //     color: #161515;
        //     padding-bottom: 5px;
        //     padding-top: 5px;
        // }

        // input#item-description{
        //     width: 100%;
        //     border: 1px solid #eeeeee;
        //     padding: 10px;
        //     // border-radius: 5px;
        //     // -moz-border-radius: 50px;
        //     -webkit-border-radius: 50px;
        //     border-radius: 7px;
        //     margin-bottom: 7px; 
        //     padding-top: 5px;
        //     font-size: 16px;
        //     background-color: #f1eeee;
        //     color: #161515;
        //     padding-bottom: 5px;
        // }

        ion-col.col {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }

        select#categories-location {
            width: 100%;
            border: 1px solid #eeeeee;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 7px;
            color: #aca4a4;
            background: #ffffff;
            border-color: #ffffff;
        }

        label {
            font-size: 15px;
            color: #999595;
            font-family: 'Times New Roman', Times, serif;
        }

        input.searchbar-input {
            width: 100%;
            padding: 10px;
            -webkit-border-radius: 50px;
            border-radius: 5px;
            margin-bottom: 5px; 
            padding-top: 5px;
            font-size: 18px;
            background-color: #da160f;
            color: #ffffff;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0; 
        }

        .searchbar-md .searchbar-search-icon {
            left: 93px !important;
            top: 5px;
            width: 21px;
            height: 21px;
            color: #ffffff;
        }

        ion-searchbar.searchbar.searchbar-md.searchbar-show-cancel.searchbar-left-aligned {
            padding-top: 58px;
            padding-left: 0;
            padding-right: 0;
        }   
    }

    .toolbar-background-md {
        background: transparent;
    }

    button.search-location-btn {
        width: 100%;
        background: #da160f;
        z-index: 2;
        border: solid 1px #fff;
        border-radius: 10px;
    }

}
