<ion-content class="content-holder">
    <div class="back">
        <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
    </div>
  
    <ion-grid class="new-grid" no-padding *ngFor="let voucher of vouchers">
      <ion-row class="image-row">
        <ion-col class="image-holder">
          <img class="new-image" src="{{voucher.url}}">
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div class="slide-above">
      <ion-slides class="slider-middle" parallax=true loop=true *ngIf="vouchers && vouchers.length">
        <ion-slide *ngFor="let voucher of vouchers">
          <div class="slide-div">
            <ion-grid class="grid-detail text-left">
              <ion-row>
                <ion-col class="col-title">
                  <p class="product-name">{{voucher.product_name}}</p>
                </ion-col>
              </ion-row>

              <ion-row class="merchant-detail-holder">
                <ion-col class="merchant-image" col-2>
                    <img src="{{voucher.merchant_url}}" alt="{{voucher.merchant_name}}" height="50">
                </ion-col>
                
                <ion-col col-10 class="merchant-name-holder">
                  <div class="text-left merchant-name">{{voucher.merchant_name}}</div>
                </ion-col>
              
              </ion-row>

              <ion-row>
                  <div class="voucher-value">{{voucher.currency_name}} {{voucher.value}}</div> &nbsp; <span class="off-label">off</span>
              </ion-row>
              
              <ion-row>
                <div class="text-label">Validity</div>
              </ion-row>
              
              <ion-row>
                <div class="voucher-detail">{{voucher.validity_start | date:'d MMM y'}} - {{voucher.validity_end | date:'d MMM y'}}</div>
              </ion-row>

                  <div class="text-label text-left">Description</div>
                  <div class="voucher-detail voucher-description" [innerHTML]="voucher.description"></div>
  
                  <!-- <div class="text-label">Terms & Conditions</div>
                  <div class="voucher-detail-swipe">Swipe right to view Terms and Conditions</div> -->

                  <div class="get-holder">
                    <button *ngIf="show" ion-button class="voucher-btn" (click)="getVoucher()">Get Voucher</button>
                  </div>
                  <!-- <div class="get-holder">
                    <button *ngIf="show_dis" ion-button class="voucher-btn" (click)="getVoucher()" [disabled]="true">Used</button>
                  </div> -->
                  <!-- <ng-container *ngFor="let voucher_stat of voucher_status">
                     <button *ngIf="voucher_stat.status == 0" ion-button class="voucher-btn" (click)="getVoucher()">Get Voucher</button>
                  </ng-container> -->
            </ion-grid>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <ion-col class="col-title" *ngFor="let voucher of vouchers">
                  <p class="product-name">Terms & Conditions</p>
                  <p class="voucher-detail text-left">A small Pinoy halo-halo will cost only P35, down from the usual P53. From P73, a regular-sized halo-halo will be sold at a discounted price of P55.

                      The discount applies for both dine-in and takeout orders.
                       
                      This is the second year that Chicken Bacolod devotes a day in March for more Pinoys to enjoy the Chicken Bacolod Pinoy halo-halo. 
                      
                      Chicken Bacolod also launched the 'Halo-Halo Hapon' campaign to convince the public to make Chicken Bacolod Pinoy halo-halo their favorite afternoon merienda.</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-slide>
  
      </ion-slides>
    </div>

  </ion-content>
  

  
  
  
  