<ion-header class="head-menu">
        <ion-toolbar class="header-holder">
            <button ion-button left menuToggle="xyz123">
                <ion-icon id="menu-name" name="menu"></ion-icon>
            </button>
      
            <ion-row *ngFor="let merchant of merchants">
                <ion-col col-8>
                    <div class="pink-header">
                          <img class="merchant-logo" src="{{merchant.merchant_logo}}" alt="img">
                          <span id="merchant-name">{{ (merchant.merchant_name.length > 15)? (merchant.merchant_name | slice:0:15)+'..':(merchant.merchant_name) }}</span>
                        
                    </div>
                </ion-col>
        
                <ion-col col-2>
                    <button ion-button icon-only (click)="openCart()" class="btn-cart" clear>
                        <p class="cart-num">{{ counterFront }}</p>
                        <ion-icon class="cart-logo" name="cart"></ion-icon>
                        </button>
                </ion-col>
        
                <ion-col col-2>
                <button ion-button id="reserve-btn" icon-only (click)="goToReservation()" clear>
                <ion-icon id="arrow-back" name="calendar"></ion-icon>
                    </button>
            </ion-col>
            </ion-row>
            
      
            </ion-toolbar>
      </ion-header>
      
      <ion-content #content class="content-holder">
      
            <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
      
            <ion-grid no-padding>


                <ion-row>
                    <ion-col>
                            <ion-menu [content]="mycontent">
                            <ion-content>
                                <ion-list>
                                LIsT 1
                                </ion-list>
                            </ion-content>
                            </ion-menu>
                    </ion-col>
                </ion-row>

                <ion-row class="special-row-icon"> 
                  <ion-col col-10 class="search-bar" id="search-bar">
                      <ion-searchbar placeholder="Cuisine or a restaurant name" class="ion-search" id="ion-search" (click)="navigateTo()"> </ion-searchbar> 
                   </ion-col>
      
                   <ion-col col-2 class="options-icon" id="options-icon">
                      <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
                      <ion-icon name="ios-options-outline"></ion-icon>
                      </button>  
                  </ion-col>
                </ion-row>
      
                <ion-row class="special-row" no-padding>
      
                        <ion-slides>
                            <ion-slide *ngFor="let merchant_ad of merchant_ads">
                                <img id="img-banner" src="{{merchant_ad.url}}" width="360" height="166"/>
                            </ion-slide>
                        </ion-slides>
      
                    <div class="special-name">
                        Special offers
                    </div>
                    
                    <ion-slides slidesPerView="2" class="promotion-slider">
                      
                        <ion-slide *ngFor="let specialOffer of specialOffers">
                        <div class="col-holder">
                            <ion-card class="menu-image-card">
                                <div class="box">
                              <p class="free-name"> {{specialOffer.price_currency}} {{specialOffer.price_amount}} </p>
                              <p class="time-date"></p>
                                </div>
                                <img id="img-resto" (click)="openSpecialDetail(specialOffer.product_id)" src="{{specialOffer.url}}" width="150"/>
                            
                            <ion-card-content class="menu-card-name3">
                                <ion-col >
                                    <p class="title-name">{{ (specialOffer.product_name.length > 12)? (specialOffer.product_name | slice:0:12)+'..':(specialOffer.product_name) }}</p>
                                </ion-col>

                                <ion-col class="input-btn2" col-12>
                                    <ion-col col-4>
                                        <ion-icon id="remove-icon" (click)="remove(specialOffer.product_id)" name="md-remove"></ion-icon>
                                    </ion-col>
                                    <ion-col  col-4>
                                        <p (click)="addtoOrder(specialOffer.product_id, specialOffer.price_amount, specialOffer.product_detail_id, 'section1')" id="input-name2">{{ counter }}</p>
                                    </ion-col>
                                    <ion-col col-4>
                                        <ion-icon id="add-btn" (click)="add(specialOffer.product_id)" name="md-add"></ion-icon>
                                    </ion-col>
                                    
                                </ion-col>

                            </ion-card-content>
                          </ion-card>
          

                      </div>
                      </ion-slide>  
                        
                      <!-- Extra Slide -->
                      <ion-slide></ion-slide>
                      <ion-slide></ion-slide>
                              
                    </ion-slides>
      
                <div class="special-name">
                    Voucher
                </div>
      
                <ion-slides slidesPerView="3">
                    <ion-slide *ngFor="let voucher of vouchers">
                    <ion-row class="voucher-row">
                        <ion-col class="col-holder" (click)="openVoucherDetail(voucher.id)">
                            <ion-card class="menu-image-card">
                                    <img id="img-vouc" src="{{voucher.url}}" width="100" height="100"/>
                                        <ion-card-content class="menu-card">
                                            <div class="item-holder">
                                                <div class="item-name">{{ (voucher.name.length > 15)? (voucher.name | slice:0:15)+'..':(voucher.name) }}</div>
                                                <div class="item-desc">{{ (voucher.description.length > 30)? (voucher.description | slice:0:30)+'..':(voucher.description) }}</div>
                                            </div>
                                        </ion-card-content>
                                    </ion-card>
                            </ion-col>
                            </ion-row>
                    </ion-slide>  
                </ion-slides>
      
                <div class="special-name">
                        Events/News
                </div>
      
                <ion-slides slidesPerView="2" class="promotion-slider">
      
                <ion-slide *ngFor="let promo of promos">
                        <div class="col-holder" (click)="openPromoDetail(promo.id)">
                            <ion-card class="menu-image-card">
                                <img id="img-resto" src="{{promo.url}}" width="262" height="147"  />
                            
                            <ion-card-content class="menu-card-name2">
                                <ion-col class="description-holder">
                                    <p class="title-name"> {{ (promo.name.length > 14)? (promo.name | slice:0:14)+'...':(promo.name) }} </p>
                                    <p class="title-desc" [innerHTML]="(promo.description.length > 120)? (promo.description | slice:0:120)+'...':(promo.description)"></p>
                                </ion-col>
                            </ion-card-content>
                            </ion-card>
                        </div>
                </ion-slide>  
                <ion-slide>
      
                </ion-slide>   
      
                </ion-slides> 
      
      <!-- ******menu****** -->
      
                <div class="special-name" id="section1">Menu</div>
      
                <div class="special-name">
                    Appetizers
                </div>
      
                <ion-row>
                    <ion-col col-6 class="menu-col-menu" *ngFor="let order of specialOffers">
                        <ion-card class="menu-image-card">
                        
                            <img id="img-resto" (click)="openProductDetail(order.product_id)" src="{{ order.url }}" width="150" height="150"  />
                          
                          <ion-card-content class="menu-card-name" (click)="openProductDetail(order.product_id)">
                              <ion-col >
      
                                  <p class="title-name">{{ (order.product_name.length > 12)? (order.product_name | slice:0:12)+'...':(order.product_name) }}</p>
                                  <p class="price-menu">php {{ order.price_amount }}</p>
                                  <p class="title-desc">{{ (order.product_desc.length > 55)? (order.product_desc | slice:0:55)+'...':(order.product_desc) }}</p>
                                 
                                </ion-col>
                          </ion-card-content>
                            
                            <ion-col class="input-btn" col-12>
                                <ion-col col-4>
                                    <ion-icon id="remove-icon" (click)="remove(order.product_id)" name="md-remove"></ion-icon>
                                </ion-col>
                                <ion-col  col-4>
                                    <p (click)="addtoOrder(order.product_id, order.price_amount, order.product_detail_id, 'section1')" id="input-name">{{ counter }}</p>
                                </ion-col>
                                <ion-col col-4>
                                    <ion-icon id="add-btn" (click)="add(order.product_id)" name="md-add"></ion-icon>
                                </ion-col>
                                
                            </ion-col>
                             
                        </ion-card>
            
                    </ion-col>
                  </ion-row>
             
      <!--******** end of menu********* -->
      
      
            </ion-row>
            </ion-grid>
      </ion-content>
      
      <ion-menu id="xyz123" persistent="true" [content]="content" >
            
            <ion-content>
              <ion-list>
                <div class="label-name">
                        <ion-icon id="img-icon" name="ios-contact"></ion-icon>
                <label id="label-name">
                  {{firstName}} / {{lastName}}
                </label>
              </div>
      
              <button ion-item>
                <ion-icon id="label-order" name="md-chatbubbles">
                  <p id="order-name">Contact us</p>
                </ion-icon>
            </button>
      
            <ion-row>
            <ion-col col-10>
                <button ion-item> 
                    <ion-icon id="label-order" name="list-box"> 
                      <p id="order-name">Menu</p>
                    </ion-icon>
                </button>
            </ion-col>
      
            <ion-col col-2>
                <button ion-item *ngIf=closeToggle (click)="open_Toggle()"> 
                    <ion-icon id="arrow-icon" name="md-arrow-dropdown"></ion-icon>
                </button>
                <button ion-item *ngIf=openToggle (click)="close_Toggle()"> 
                    <ion-icon id="arrow-icon" name="md-arrow-dropup"></ion-icon>
                </button>
            </ion-col>
            
        </ion-row>
        <ion-row>
                <div *ngIf=openopen class="drop-cate">
                        <button ion-item (click)="openMenu('MenuCategoryPage', 6)">
                                
                                <label id="drop-name">
                                    Appetizers
                                </label>
                                
                            </button>
                                <button ion-item (click)="openMenu('MenuCategoryPage')">
                                
                                <label id="drop-name">
                                    Beef, Chicken & Food
                                </label>
                           
                              </button>
                              <button ion-item (click)="openMenu('MenuCategoryPage',10)">
                                
                                <label id="drop-name">
                                    Desserts
                                </label>
                              
                              </button>
                                <button ion-item (click)="openMenu('MenuCategoryPage', 9)">
                                   
                                <label id="drop-name">
                                    Drinks
                                </label>
                            
                              </button>
                              <button ion-item (click)="openMenu('MenuCategoryPage')">
                                   
                                <label id="drop-name">
                                    Noodles & Rice
                                </label>
                           
                              </button>
                              <button ion-item (click)="openMenu('MenuCategoryPage',8)">
                                    
                                <label id="drop-name">
                                    Pork
                                </label>
                           
                              </button>
                              <button ion-item (click)="openMenu('MenuCategoryPage',12)">
                                    
                                <label id="drop-name">
                                    Salads & Vegetables
                                </label>
                           
                              </button>
                              <button ion-item (click)="openMenu('MenuCategoryPage', 7)">
                                   
                                <label id="drop-name">
                                    Soups
                                </label>
                            
                              </button>  
                </div>
        </ion-row>

        
                
                <button ion-item menuClose (click)="openToWallet('WalletFabPage')">
                    <ion-icon id="label-order" name="ios-megaphone">
                      <p id="order-name">Promo </p>
                    </ion-icon>
                </button>
                
                <button ion-item  menuClose (click)="openPage('ReservationPage')" >
                    <ion-icon id="label-order" name="calendar">
                      <p id="order-name">Reservation </p>
                    </ion-icon>
                </button>
      
              <button ion-item menuClose (click)="openPage()">
                <ion-icon id="label-order" name="md-albums">
                  <p id="order-name">Reservation History </p>
                </ion-icon>
            </button>
      
            <button ion-item menuClose (click)="openPage()">
                <ion-icon id="label-order" name="md-pricetag">
                  <p id="order-name">Special Offers</p>
                </ion-icon>
            </button>
      
            <button ion-item  menuClose (click)="openPage('ReservationPage')" >
                <ion-icon id="label-order" name="md-pricetags">
                  <p id="order-name">Voucher </p>
                </ion-icon>
            </button>
      
            <button ion-item (click)="navigateTo()">
                <label id="label-setting">
                    About us
                </label>
            </button>
                <button ion-item (click)="navigateTo()">
                <label id="label-setting">
                    Setting
                </label>
              </button>
              <button ion-item (click)="navigateTo()">
                <label id="label-setting">
                    FAQ
                </label>
              </button>
                <button ion-item (click)="navigateTo()">
                <label id="label-setting">
                    Terms & Conditions / Privacy
                </label>
              </button>
              </ion-list>
            </ion-content>
          </ion-menu>
      
          <!-- <ion-nav content [root]="rootPage"></ion-nav> -->
      
          <!--******** end of sidemenu*********  -->