page-promo-filter {
    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    // span.button-inner {
    //     color: white;
    //     padding: 0px;
    //     margin: auto;
    //     font-size: 13px;
        
    // }

    .red-header {
        background: #e01c44;
        text-align: center;
        color: #ffffff;
        // padding: 10px;
        font-size: 2.5rem;
        font-family: 'open_sansregular';
        text-transform: initial;
        
    }

    img.logo{
        width: 87px;
        padding-top: 13px;
        // padding-bottom: 5px;
    }

    ion-row.row img.img-desc {
        position: relative;
        margin: 0 auto;
    }

    img.img-desc {
        width: 360px;
    }

    span.button-inner {
        color: white;
        font-size: 1.2rem;
        // margin-top: 3px;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    button.option-btn.disable-hover.button.button-md.button-clear.button-clear-md {
        // padding-left: 6px;
        // padding-top: 9px;
        // border-bottom: 2px solid rgb(194, 191, 191);
        align-content: center;
        width: 10px;
        margin-left: 19px;
        height: 30px;
        margin-bottom: 9px;
        box-shadow: none;
    }

    input.searchbar-input {
        box-shadow: none !important;
        // border-right: solid 1px rgb(226, 223, 223);
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon{
        color: #e01c44;
    }


    .ion-searchbar#ion-search {
        margin: 0 auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    ion-row.promo-name.row {

        background: rgb(243, 241, 241);
        padding-bottom: 0px !important;
        box-shadow: none !important;
        padding-top: 0px !important;

        b {
            font-size: 2.5rem;
            font-weight: bold;
            margin-left: 22px;
            font-family: 'open_sansregular';
            // background: grey;
            // padding-bottom: 10px;
        }

        h5.title-name {
            margin-top: 7px;
        }
    }

    img.img-name{
        max-width: 100%;
        border-radius: 50%;
        margin-left: 17px;
        height: 55px;
        margin-top: 15px;
    }

    p.title-name {
        font-size: 20px;
        padding-left: 9px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    p.title-date {
        margin-top: 0px;
        padding-left: 9px;
        font-size: 13px;
        color: grey;
    }


    .desc-title{
        font-size: 18px;
        line-height: 20px;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 3px;
        font-weight: bold;
        margin-top: 10px;
        width: 100%;
    }

    .desc-desc {
        margin-top: 0px;
        padding-left: 10px;
        font-size: 14px;
        padding-right: 18px;
        width: 100%;
    }

    .result-label {
        padding: 10px 30px;
        text-align: center;
        color: #7777;
        font-size: 20px;
    }
}
