
<ion-content >

    <div class="menu-btn">
      <!-- <button ion-button icon-left (click)="navigateTo()" clear> 
          <ion-icon name="menu" ></ion-icon>
          </button>   -->
          <button ion-button icon-only (click)="goBack()" clear>
            <ion-icon name="arrow-back"></ion-icon>
          </button>
    </div>    
    
    <ion-grid no-padding>
        <ion-row>
            <ion-col>
              <div class="red-header">
                  <img class="logo" src="../../assets/imgs/logo_ipayu.png" alt="img">
              </div>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col col-10 class="search-bar" id="search-bar">
             <ion-searchbar placeholder="Product name or Shop name" class="ion-search" id="ion-search" (click)="navigateTo()"> </ion-searchbar> 
          </ion-col>
  
          <ion-col col-2 class="options-icon" id="options-icon">
              <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
              <ion-icon name="ios-options-outline"></ion-icon>
              </button>  
          </ion-col>
        </ion-row>
        <ion-row class="promo-name">
          <h5 class="title-name"><b> Event </b></h5>  
        </ion-row>
  
        <div class="promo-list-holder" *ngFor="let promo of promos">     
          <ion-row>
            <ion-col col-2>
              <img class="img-name" src="{{promo.merchant_url}}" alt="img">
            </ion-col>
  
            <ion-col col-10>
              <p class="title-name"> {{promo.merchant_name}}</p>
              <p class="title-date"> {{promo.validity_end | date:'MMMM d, y'}}</p>
            </ion-col>
          </ion-row>
  
          <ion-row no-padding>
            <img class="img-desc" (click)="openPromoDetail(promo.id)" src="{{promo.url}}" alt="img">
          </ion-row>
  
          <ion-row>
            <div class="desc-title"> {{promo.name}} </div>
            <div class="desc-desc" [innerHTML]="promo.description"></div>
          </ion-row>
        </div>
        <div class="result-label" *ngIf='promos.length === 0'>No Result Found</div>
              
    </ion-grid>
  </ion-content>
  