<ion-content class="main-view-calendar">
  <div class="overlay-calendar" (click)="dismiss()"></div>
  <div class="modal_content-calendar">
    <div *ngFor="let total of carts">
      <div class="sub-sum">
        <p class="name-sum">PAYMENT</p>
        <ion-row class="row-sum">
          <ion-col col-8>
          <p class="sub-name">Subtotal</p>
          </ion-col>
          <ion-col col-2>
          <p class="sub-price"><span class="peso-sign">&#8369;</span> {{ total.grand_total | number:'2.2' }}</p>
          </ion-col>
      </ion-row>
      <ion-row> 
        <ion-col col-8>
          <p class="sub-name">Delivery charge</p>
        </ion-col>
        <ion-col col-2>
          <p class="sub-price"><span class="peso-sign">&#8369;</span> 50.00</p>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col col-8>
            <p class="sub-name">VAT(12%) Inclusive</p>
          </ion-col>
          <ion-col col-2>
            <p class="sub-price"><span class="peso-sign">&#8369;</span> {{ f_vat | number:'2.2' }}</p>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col col-8>
              <p class="total-name">TOTAL</p>
            </ion-col>
            <ion-col col-2>
              <p class="total-price"><span class="peso-sign">&#8369;</span> {{ f_grand | number:'2.2' }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <p class="total-name">Payment</p>
            </ion-col>
            <ion-col col-2>
              <p class="sub-price"><span class="peso-sign">&#8369;</span> {{ cash | number:'2.2' }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <p class="total-name">Change</p>
            </ion-col>
            <ion-col col-2>
              <p class="total-price"><span class="peso-sign">&#8369;</span>{{ change | number:'2.2' }}</p>
            </ion-col>
          </ion-row>
          <ion-row class="btn-apply" id="btn-apply">
            <button ion-button full [disabled]=show class="filter-btn" (click)="pay()" id="filter-btn" form="ngForm" >
              <p class="filter">PAY</p>
            </button>
          </ion-row>
        </div> 
    </div>
  </div>
</ion-content>