page-paymantsummary {
    .main-view-calendar{
        background: transparent;
      }
      .overlay-calendar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
      }
      .modal_content-calendar {
        position: absolute;
        top: calc(50% - (70%/2));
        left: 0;
        right: 0;
        width: 90%;
        height: auto;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: #e8e8e8;
        background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
      }

    .modal-title-calendar{
        text-align: center;
        // background: #ff3333;
        margin: 0;
        height: 28px;
        // color: white;
        font-size: 2rem;
        padding-top: 12px
    }

    .bar-buttons-md{
        margin: 22px 0 22px 0;
    }

    .star-class{

    }

    ion-buttons{
        text-align: center;
    }

    .button-md{
        font-size: 1.4rem;
        background: #e01c44;;
    }

    .button-inner{
        // width: 40px;
    }

    .promo-submit{
        text-align: center;
        padding-top: 3px;
    }

    .sub-mesg{
        font-size: 1.4rem;
    }

    .promo-desc{
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .button-holder{
        margin-top: 15px;
    }

    ion-toolbar.header-holder.toolbar.toolbar-md {
        box-shadow: none !important;
        left: 0;
        bottom: -5px;
        background-position: left 0 top 1px;
        // position: absolute;
        width: 100%;
        // height: 5px;
        /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==); */
        /* background-repeat: repeat-x; */
        content: "";
    }

    #arrow-back{
        position: relative;
        margin-top: 5px;
        margin-left: -2px;
        color: #e01c44;
    }

    span#merchant-name {
        top: -3px;
        position: relative;
    }

    .pink-header {
        padding: 7px;
        font-size: 22px;
        padding-left: 0px;
        // padding-bottom: 9px;
        padding-top: 11px;
        font-family: 'open_sansregular';
        margin-top: 2px;
        text-align: center;

    }

    p.name-check {
        font-size: 18px;
        // padding-bottom: 9px;
        // padding-top: 6px;
        font-family: 'open_sansregular';
        top: -3px;
        position: absolute;
        // margin-top: 10px;
        text-align: end;
        padding-right: 13px;
        color: #e01c44;
        text-transform: uppercase;
    }

    ion-col.col {
        padding: 0px;
        // border: 1px solid grey;
    }

    // .sub-sum {
    //     box-shadow: none !important;
    //     margin: 10px 7px 10px 7px;
    //     border-radius: 5px;
    //     background: #f7b605;
    // }

    ion-row.row-sum.row {
        margin-top: -12px;
    }

    p.name-sum {
        margin-top: 15px;
        text-align: center;
        font-size: 20px;
        // padding-right: 15px;
        font-family: 'open_sansregular';
        // color: white;
    }

    p.sub-name {
        font-size: 16px;
        margin-top: 0px;
        margin-left: 18px;
        font-family: 'open_sansregular';
    }

    p.sub-price{
        font-size: 16px;
        margin-top: 0px;
        text-align: end;
        font-family: 'open_sansregular';
        width: 100px;
    }

    p.total-name{
        font-size: 16px;
        margin-top: 0px;
        margin-left: 18px;
        font-family: 'open_sansregular';
        // color: white;
    }

    p.total-price{
        font-size: 16px;
        margin-top: 0px;
        text-align: end;
        font-family: 'open_sansregular';
        width: 100px;
        color: #e01c44;
    }

    .list-order {
        background: rgb(243, 241, 241);
        height: 100%;
    }

    ion-row.order-row.row {
        /* border: 1px solid; */
        margin: 10px;
        border-radius: 5px;
        background: white;
        // height: 123px;
    }

    img#img-order {
        margin-top: 15px;
        margin-left: 15px;
        border-radius: 7px;
        margin-bottom: 7px;
        border: 1px solid grey;
    }

    p.name-order {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
        font-family: 'open_sansregular';
    }

    p.extra-order {
        font-size: 17px;
        // font-weight: bold;
        margin-left: 10px;
        margin-top: -18px !important;
        font-family: 'open_sansregular';
    }

    p.order-price {
        // position: absolute;
        margin: 0 18px 5px 0;
        font-size: 20px;
        color: #e01c44;
        font-family: 'open_sansregular';
        text-align: right;
    }

    p.order-price2 {
        text-align: end;
        position: absolute;
        left: 235px;
        top: 423px;
        font-size: 20px;
        color: #e01c44;
        font-family: 'open_sansregular';
    }

    .input-vouc {
        margin-left: 21px;
        margin-top: 5px;
        font-size: 17px;
        font-family: 'open_sansregular';
        margin-bottom: 5px;
    }

    ion-input.input.input-md {
        border: 1px solid #e01c44;
        font-family: 'open_sansregular';
        background: white;
        margin-bottom: 16px;
        border-radius: 5px;
    }

        button#filter-btn {
            top: -5px;
            position: relative !important;
            // position: -webkit-sticky; 
            // position: sticky;
            font-size: 1.7rem;
            background: #e01c44;
            padding: 0px;
            // margin-top: 529px;
            height: 50px;
            // width: 60%;
            z-index: 100;
            // position: absolute;
            overflow: hidden;
            bottom: 30%;
            // margin-left: 10px;
            align-items: center;
            border-radius: 7px;
            // margin-right: 100px;
        }

        p.filter {
            /* padding-bottom: 5px; */
            padding-top: 6px;
            font-size: 19px;
            height: 30px;
        }
    // }
    
    .header-md::after, .tabs-md[tabsPlacement=bottom]>.tabbar::before, .tabs-md[tabsPlacement=top]>.tabbar::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==); */
        /* background-repeat: repeat-x; */
        content: "";
    }

    span {
        content: "\20B1";
      }

    .peso-sign{
        font-size: 1.5rem;
    }

    .peso-sign-list{
        font-size: 2rem;
    }

    #cart-home {
        border-radius: 50%;
        background: #e01c44;
        padding-left: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 8px;
        color: white;
        // margin-left: 262px;
    }

    .home-holder{
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    #btn-apply{
        padding-bottom: 10px;
    }
}
