
  <button ion-fab class="fab-color"><img src="assets/imgs/logov4.png"></button>
  <ion-fab-list side="left">
    <button ion-fab class="fab-color" (click)="toWallet('WalletFabPage')"><img src="assets/imgs/footer-menu/wallet.png"></button>
    <button ion-fab class="fab-color" (click)="toResto('VoucherFabPage')"><img src="assets/imgs/footer-menu/coupon.png"></button>
    <button ion-fab class="fab-color" (click)="toPromo('PromoPage')"><img src="assets/imgs/footer-menu/promo.png"></button>
    <!-- <button ion-fab class="fab-color" (click)="toFood()"><img src="assets/imgs/footer-menu/food.png"></button> -->
    <button ion-fab class="fab-color" (click)="toProduct()"><img src="assets/imgs/footer-menu/shop.png"></button>
  </ion-fab-list>
