

<ion-header class="head-menu">
    <div class="menu-btn">
        <button ion-button icon-left menuToggle clear> 
            <ion-icon id="menu-name" name="menu" ></ion-icon>
            </button>  
      </div>  

      <ion-row>
          <ion-col col-10>
            <div class="pink-header">
                <b>Kuya J</b>
            </div>
          </ion-col>

          <ion-col col-2>
                <img class="img-name" src="../../assets/imgs/kuya-50x50.jpg" alt="img">
          </ion-col>
        </ion-row>
      
   </ion-header>

   <ion-content >
        <ion-grid no-padding>
                <ion-row class="special-row-icon"> 
                  <ion-col col-10 class="search-bar" id="search-bar">
                      <ion-searchbar placeholder="Cuisine or a restaurant name" class="ion-search" id="ion-search" (click)="navigateTo()"> </ion-searchbar> 
                   </ion-col>

                   <ion-col col-2 class="options-icon" id="options-icon">
                      <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
                      <ion-icon name="ios-options-outline"></ion-icon>
                      </button>  
                  </ion-col>
                </ion-row>

                <ion-row class="special-row" no-padding>
                    <div class="special-name">
                        Special offers
                    </div>

                    <ion-slides slidesPerView="2" >
                        
                      <ion-slide class="menu-slide">
                    <div class="col-holder">
                        <ion-card class="menu-image-card">
                            <div class="box">
                          <p class="free-name"> SPECIAL OFFER</p>
                          <p class="time-date">25 MIN</p>
                            </div>
                          <img id="img-resto" src="../../assets/imgs/resto/pork-1_262x147.jpg" width="262" height="147"  alt="img">
                        
                        <ion-card-content class="menu-card-name">
                            <ion-col >
                                <p class="title-name"> SIZZLING SISIG WITH...</p>
                                <p class="title-price"> Php 235.00, Filipino</p>
                                <p class="mini-deli"> Php 200.00 minimum</p>
                                <!-- <p class="free-deli">Free delivery</p> -->
                              </ion-col>
                        </ion-card-content>
                      </ion-card>
                  </div>
                  </ion-slide>  

                  <ion-slide>
                      <div class="col-holder-menu">
                          <ion-card class="menu-image-card">
                                <div class="box">
                            <p class="free-name"> SPECIAL OFFER</p>
                            <p class="time-date">20 MIN</p>
                            </div>
                            <img id="img-resto" src="../../assets/imgs/resto/appetizer1 262x147.jpg" width="262" height="147" alt="img">
                          
                          <ion-card-content class="menu-card-name">
                              <ion-col >
                                  <p class="title-name"> KUYA J GRILLED SCAL...</p>
                                  <p class="title-price"> Php 245.00, Filipino</p>
                                  <p class="mini-deli"> Php 200.00 minimum</p>
                                  <!-- <p class="free-deli">Free delivery</p> -->
                                </ion-col>
                          </ion-card-content>
                        </ion-card>
                    </div>
                    </ion-slide>  

                    <ion-slide>
                            <div class="col-holders">
                                    <ion-card class="menu-image-card">
                                          <div class="box">
                                      <p class="free-name"> SPECIAL OFFER</p>
                                      <p class="time-date">20 MIN</p>
                                      </div>
                                      <img id="img-resto" src="../../assets/imgs/resto/appetizer1 262x147.jpg" width="262" height="147" alt="img">
                                    
                                    <ion-card-content class="menu-card-name">
                                        <ion-col >
                                            <p class="title-name"> KUYA J GRILLED SCAL...</p>
                                            <p class="title-price"> Php 245.00, Filipino</p>
                                            <p class="mini-deli"> Php 200.00 minimum</p>
                                            <!-- <p class="free-deli">Free delivery</p> -->
                                          </ion-col>
                                    </ion-card-content>
                                  </ion-card>
                              </div>
                      </ion-slide> 
                      
                      <ion-slide class="menu-slide">
                            <div class="col-holder-name">
                                <ion-card class="menu-image-card">
                                    <div class="box">
                                  <p class="free-name"> SPECIAL OFFER</p>
                                  <p class="time-date">25 MIN</p>
                                    </div>
                                  <img id="img-resto" src="../../assets/imgs/resto/pork-1_262x147.jpg" width="262" height="147" alt="img">
                                
                                <ion-card-content class="menu-card-name">
                                    <ion-col >
                                        <p class="title-name"> SIZZLING SISIG WITH...</p>
                                        <p class="title-price"> Php 235.00, Filipino</p>
                                        <p class="mini-deli"> Php 200.00 minimum</p>
                                        <!-- <p class="free-deli">Free delivery</p> -->
                                      </ion-col>
                                </ion-card-content>
                              </ion-card>
                          </div>
                          </ion-slide>  

                          <ion-slide>

                               
                          </ion-slide>
                          
                </ion-slides>
                
                        <div class="special-name">
                            Voucher
                        </div>

                        
    
                        <ion-slides slidesPerView="3" >

                          <ion-slide>
                            <ion-row class="voucher-row">
                                <ion-col class="col-holder">
                                    <ion-card class="menu-image-card">
                                            <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj.jpg" width="100" height="100"/>
                                                <ion-card-content class="menu-card">
                                                    <div class="item-holder">
                                                        <div class="item-name">Kuya J Cheers to 100 stores</div>
                                                        <div class="item-desc">50% Off Halo-halo Espesyal </div>
                                                    </div>
                                                </ion-card-content>
                                            </ion-card>
                                    </ion-col>
                                    </ion-row>
                      </ion-slide>  
    
                      <ion-slide>
                            <ion-row class="voucher-row">
                                <ion-col class="col-holder">
                                    <ion-card class="menu-image-card">
                                            <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj1.jpg" width="100" height="100"/>
                                                <ion-card-content class="menu-card">
                                                    <div class="item-holder">
                                                        <div class="item-name">Ang maligayang kaarawan...</div>
                                                        <div class="item-desc">Dine in for free for 30 days ... </div>
                                                    </div>
                                                </ion-card-content>
                                            </ion-card>
                                    </ion-col>
                                    </ion-row>
                      </ion-slide>
                      
                      

                      <ion-slide>
                            <ion-row class="voucher-row">
                                <ion-col class="col-holder">
                                    <ion-card class="menu-image-card">
                                            <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj2.jpg" width="100" height="100"/>
                                                <ion-card-content class="menu-card">
                                                    <div class="item-holder">
                                                        <div class="item-name">HABA HAPPY BIRTHDAY ...</div>
                                                        <div class="item-desc">Dine in for free for 30 days... </div>
                                                    </div>
                                                </ion-card-content>
                                            </ion-card>
                                    </ion-col>
                                    </ion-row>
                      </ion-slide>  

                      <ion-slide>
                            <ion-row class="voucher-row">
                                <ion-col class="col-holder">
                                    <ion-card class="menu-image-card">
                                            <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj.jpg" width="100" height="100"/>
                                                <ion-card-content class="menu-card">
                                                    <div class="item-holder">
                                                        <div class="item-name">Kuya J Cheers to 100 stores</div>
                                                        <div class="item-desc">50% Off Halo-halo Espesyal </div>
                                                    </div>
                                                </ion-card-content>
                                            </ion-card>
                                    </ion-col>
                                    </ion-row>
                      </ion-slide>  
    
                      <ion-slide>
                            <ion-row class="voucher-row">
                                <ion-col class="col-holder">
                                    <ion-card class="menu-image-card">
                                            <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj1.jpg" width="100" height="100"/>
                                                <ion-card-content class="menu-card">
                                                    <div class="item-holder">
                                                        <div class="item-name">Ang maligayang kaarawan...</div>
                                                        <div class="item-desc">Dine in for free for 30 days ... </div>
                                                    </div>
                                                </ion-card-content>
                                            </ion-card>
                                    </ion-col>
                                    </ion-row>
                      </ion-slide>
                      
                      

                      <ion-slide>
                            <ion-row class="voucher-row">
                                <ion-col class="col-holder">
                                    <ion-card class="menu-image-card">
                                            <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj2.jpg" width="100" height="100"/>
                                                <ion-card-content class="menu-card">
                                                    <div class="item-holder">
                                                        <div class="item-name">HABA HAPPY BIRTHDAY ...</div>
                                                        <div class="item-desc">Dine in for free for 30 days... </div>
                                                    </div>
                                                </ion-card-content>
                                            </ion-card>
                                    </ion-col>
                                    </ion-row>
                      </ion-slide>  
    
                        <ion-slide>
                            
                          </ion-slide>  
                    </ion-slides>

                <div class="special-name">
                    Promotion
                </div>

                <ion-slides slidesPerView="2" >

                    <ion-slide class="menu-slide">
                  <div class="col-holder">
                      <ion-card class="menu-image-card">
                        <!-- <p class="free-name"> FREE DELIVERY</p>
                        <p class="time-date">25 MIN</p> -->
                        <img id="img-resto" src="../../assets/imgs/resto/beef-chicken-seafood-1.jpg" width="262" height="147"  alt="img">
                      
                      <ion-card-content class="menu-card-name">
                          <ion-col >
                              <p class="title-name"> CHICKEN HALANG-...</p>
                              <p class="title-desc"> Chicken cooked tinola-style na may added creaminess of coconut milk and extra kick of spiciness ng green chili peppers.</p>
                              <!-- <p class="mini-deli"> Php 200.00 minimum</p> -->
                              <!-- <p class="free-deli">Free delivery</p> -->
                            </ion-col>
                      </ion-card-content>
                    </ion-card>
                </div>
                </ion-slide>  

                <ion-slide>
                    <div class="col-holder-menu">
                        <ion-card class="menu-image-card">
                          <!-- <p class="free-name"> FREE DELIVERY</p>
                          <p class="time-date">25 MIN</p> -->
                          <img id="img-resto" src="../../assets/imgs/resto/salads-1.jpg"  width="262" height="147" alt="img">
                        
                        <ion-card-content class="menu-card-name">
                            <ion-col >
                                <p class="title-name"> CHOPSUEY</p>
                                <p class="title-desc"> Ang all-time favorite Filipino vegetable dish! Stir-fried vegetables with pork meat and chicken atay. Favorite gulay dish na ...</p>
                                <!-- <p class="mini-deli"> Php 200.00 minimum</p>
                                <p class="free-deli">Free delivery</p> -->
                              </ion-col>
                        </ion-card-content>
                      </ion-card>
                  </div>
                  </ion-slide> 

                  <ion-slide class="menu-slide">
                        <div class="col-holders">
                            <ion-card class="menu-image-card">
                              <!-- <p class="free-name"> FREE DELIVERY</p>
                              <p class="time-date">25 MIN</p> -->
                              <img id="img-resto" src="../../assets/imgs/resto/beef-chicken-seafood-1.jpg" width="262" height="147" alt="img">
                            
                            <ion-card-content class="menu-card-name">
                                <ion-col >
                                    <p class="title-name"> CHICKEN HALANG-...</p>
                                    <p class="title-desc"> Chicken cooked tinola-style na may added creaminess of coconut milk and extra kick of spiciness ng green chili peppers.</p>
                                    <!-- <p class="mini-deli"> Php 200.00 minimum</p> -->
                                    <!-- <p class="free-deli">Free delivery</p> -->
                                  </ion-col>
                            </ion-card-content>
                          </ion-card>
                      </div>
                      </ion-slide>  
      
                      <ion-slide>
                          <div class="col-holder-name">
                              <ion-card class="menu-image-card">
                                <!-- <p class="free-name"> FREE DELIVERY</p>
                                <p class="time-date">25 MIN</p> -->
                                <img id="img-resto" src="../../assets/imgs/resto/salads-1.jpg"  width="262" height="147" alt="img">
                              
                              <ion-card-content class="menu-card-name">
                                  <ion-col >
                                      <p class="title-name"> CHOPSUEY</p>
                                      <p class="title-desc"> Ang all-time favorite Filipino vegetable dish! Stir-fried vegetables with pork meat and chicken atay. Favorite gulay dish...</p>
                                      <!-- <p class="mini-deli"> Php 200.00 minimum</p>
                                      <p class="free-deli">Free delivery</p> -->
                                    </ion-col>
                              </ion-card-content>
                            </ion-card>
                        </div>
                        </ion-slide> 

                  <ion-slide>
                    
                  </ion-slide> 
                  
                  <ion-slide>
                    
                    </ion-slide> 
                  
                  </ion-slides> 

                  <div class="special-name">
                    Menu
                </div>

                <ion-slides slidesPerView="2" >
                  <ion-slide class="menu-slide">
                <div class="col-holder">
                    <ion-card class="menu-image-card">
                      <!-- <p class="free-name"> FREE DELIVERY</p>
                      <p class="time-date">25 MIN</p> -->
                      <img id="img-resto" src="../../assets/imgs/resto/pork-1.jpg" width="262" height="147" alt="img">
                    
                    <ion-card-content class="menu-card-name">
                        <ion-col >
                            <p class="title-name"> LECHON KAWALI </p>
                            <p class="title-price"> Php 285.00, Filipino</p>
                            <p class="title-desc"> Deep-fried pork belly na mas pina-yummy ng classic lechon sauce.</p> 
                            <!-- <p class="free-deli">Free delivery</p> --> 
                          </ion-col>
                    </ion-card-content>
                  </ion-card>
              </div>
              </ion-slide>  

              <ion-slide>
                  <div class="col-holder-menu">
                      <ion-card class="menu-image-card">
                        <!-- <p class="free-name"> FREE DELIVERY</p>
                        <p class="time-date">25 MIN</p> -->
                        <img id="img-resto" src="../../assets/imgs/resto/beef-chicken-seafood-1.jpg" width="262" height="147" alt="img">
                      
                      <ion-card-content class="menu-card-name">
                          <ion-col >
                              <p class="title-name"> CRISPY BANGUS ALA... </p>
                              <p class="title-price"> Php 285.00, Filipino</p>
                              <p class="title-desc"> Deep-fried bangus ala pobre topped with crispy garlic Kuya J style.</p>
                              <!-- <p class="free-deli">Free delivery</p> -->
                            </ion-col>
                      </ion-card-content>
                    </ion-card>
                </div>
                </ion-slide> 

                <ion-slide class="menu-slide">
                        <div class="col-holders">
                            <ion-card class="menu-image-card">
                              <!-- <p class="free-name"> FREE DELIVERY</p>
                              <p class="time-date">25 MIN</p> -->
                              <img id="img-resto" src="../../assets/imgs/resto/pork-1.jpg" width="262" height="147" alt="img">
                            
                            <ion-card-content class="menu-card-name">
                                <ion-col >
                                    <p class="title-name"> LECHON KAWALI </p>
                                    <p class="title-price"> Php 285.00, Filipino</p>
                                    <p class="title-desc"> Deep-fried pork belly na mas pina-yummy ng classic lechon sauce.</p> 
                                    <!-- <p class="free-deli">Free delivery</p> --> 
                                  </ion-col>
                            </ion-card-content>
                          </ion-card>
                      </div>
                      </ion-slide>  
        
                      <ion-slide>
                          <div class="col-holder-name">
                              <ion-card class="menu-image-card">
                                <!-- <p class="free-name"> FREE DELIVERY</p>
                                <p class="time-date">25 MIN</p> -->
                                <img id="img-resto" src="../../assets/imgs/resto/beef-chicken-seafood-1.jpg" width="262" height="147" alt="img">
                              
                              <ion-card-content class="menu-card-name">
                                  <ion-col >
                                      <p class="title-name"> CRISPY BANGUS ALA... </p>
                                      <p class="title-price"> Php 285.00, Filipino</p>
                                      <p class="title-desc"> Deep-fried bangus ala pobre topped with crispy garlic Kuya J style.</p>
                                      <!-- <p class="free-deli">Free delivery</p> -->
                                    </ion-col>
                              </ion-card-content>
                            </ion-card>
                        </div>
                        </ion-slide> 
                
                <ion-slide>
                    
                  </ion-slide>  

                  <ion-slide>
                    
                    </ion-slide>
                </ion-slides>
                </ion-row>
            </ion-grid>

   </ion-content>


