page-restaurant-new {

    ion-header.head-menu.header.header-md {
        border-bottom: 1px solid rgb(241, 239, 239);
        padding-bottom: px !important;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: relative;
        width: 100%;
        height: 5px;
        background-repeat: repeat-x;
        content: "";
    }

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    #menu-name{
        color: #e01c44;
        font-size: 2.2rem;
        margin-top: 9px;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-left: 5px;
        margin-top: 0px !important;
        background:  rgb(255, 255, 255);
        
    }

    img.img-name{
        max-width: 100%;
        // border-radius: 50%;
        margin-left: 2px;
        height: 45px;
        margin-top: 4px;
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    .searchbar-md .searchbar-input {
        padding: 6px 43px;
    }


    input.searchbar-input {
        box-shadow: none !important;
        margin-bottom: 0px !important;
        border-right: 1px solid rgb(241, 239, 239); 
        padding-bottom: 0px;
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        // border-bottom: solid 1px #ffffff;
    }

    

    ion-col#search-bar{
        padding: 0px !important;
    }

    

    .pink-header {
        padding: 7px;
        font-size: 25px;
        padding-left: 78px;
        padding-bottom: 13px;
        padding-top: 9px;
        font-family: 'open_sansregular';
        margin-top: 2px;

    }

    ion-col.col {
        padding: 0px;
    }

    ion-col.name-shop.col {
        padding: 0px !important;
        margin: 0 auto;
        position: relative;
        display: block;
        border-bottom: 1px solid rgb(241, 239, 239);
    }

    
    ion-row.special-row.row{
        background: rgb(241, 239, 239);
        // padding-right: -4px !important;
        padding-top: 0px !important;
    }

    ion-row.special-row-icon.row{
        // background: rgb(241, 239, 239);
        padding-right: -4px !important;
        padding-top: 0px !important;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        padding: 0px 16px;
        padding-top: 20px !important;
        padding-bottom: 7px !important;
    }

    

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
    }

   

    .special-name {
        font-size: 24px;
        margin-left: 17px;
        margin-top: 10px;
    }

    
    p.free-name {
        background: #e01c44;
        width: 116px;
        display: block;
        margin-top: -83px;
        padding-left: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: white;
        font-family: 'open_sansregular';
        z-index: 999;
        bottom: -97px;
        position: relative;
    }

    p.time-date {
        background: white;
        width: 45px;
        position: relative;
        display: block;
        /* margin-top: 0px; */
        /* padding-left: 4px; */
        padding-top: 4px;
        padding-bottom: 4px;
        /* text-align: center; */
        margin-left: 207px !important;
        font-family: 'open_sansregular';
        float: right;
        z-index: 999;
        bottom: -51px;

    }
// }
    p.mini-deli {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
    }

    p.title-name {
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: -10px;
        text-align: start;
        margin-bottom: 7px;
        font-family: 'open_sansregular';
    }
    
    ion-card-content.menu-card-name.card-content.card-content-md {
        // padding-top: 0px;
        padding: 0px 16px;
    
    }

    p.title-price {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
    }

    p.title-desc {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
        text-align: justify;
    }

    p.free-deli {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        color: black;
        font-family: 'open_sansregular';
    }

    img#img-resto{
        // width: 262px;
        // height: 144px;
        margin: 0 auto !important;
        padding: 0px !important;
        margin-left: 0px !important;
        // margin-right: 0px !important;
    }

    .col-holder {
        width: 132%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    ion-slide.swiper-slide.swiper-slide-next {
        position: relative;
    }

    ion-slide.menu-slide.swiper-slide.swiper-slide-active {
        width: 173px !important;
        margin-right: 0px !important;
        // padding-right: 100px !important;
    }


    .col-holder-menu {
        width: 238%;
        margin-left: 63px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    .col-holders {
        width: 132%;
        margin-left: 117px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-name {
        width: 238%;
        margin-left: 171px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    .col-holder-promo {
        width: 157%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-menu-promo {
        width: 258%;
        margin-left: 109px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    .col-holders-promo {
        width: 149%;
        margin-left: 201px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-name-promo {
        width: 264%;
        margin-left: 298px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    .voucher-row{
        background: #f2f2f2;
       // border-radius: 0px 0px 5px 5px;
    }


    ion-card-content.menu-card.card-content.card-content-md {
        margin: 0 !important;
        padding: 0px;
    }

    #img-vouc {
        height: 100px;
        border-radius: 7px 7px 0px 0px;
    }

    ion-col.col-holder.col {
        /* margin-left: 6px; */
        margin: 0px !important;
        padding: 0px !important;
    }

    .item-holder{
        text-align: left;
        padding: 5px;
        font-size: 10px;
        height: 100%;

        .item-name{
            font-weight: bold;
            font-family: 'open_sansregular';
            font-size: 10px;
        }

        .item-desc {
            font-family: 'open_sansregular';
            font-size: 9.5px;
        }
    }
}
