<ion-header class="head-menu">
  <ion-toolbar class="header-holder">
    <button ion-button menuToggle left>
      <ion-icon id="menu-name" name="menu"></ion-icon>
    </button>

    <ion-row>
      <ion-col col-6>
        <div class="star-header">
          Starbuck
        </div>
      </ion-col>

      <ion-col col-4>
        <img
          class="img-name"
          src="../../assets/imgs/starbucks/starbuck logo.png"
          alt="img"
        />
      </ion-col>

      <ion-col col-2>
        <button ion-button icon-only (click)="goBack()" clear>
          <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid no-padding>
    <ion-row class="special-row-icon">
      <ion-col col-10 class="search-bar" id="search-bar">
        <ion-searchbar
          placeholder="Coffee name"
          class="ion-search"
          id="ion-search"
          (click)="navigateTo()"
        >
        </ion-searchbar>
      </ion-col>

      <ion-col col-2 class="options-icon" id="options-icon">
        <button
          ion-button
          icon-right
          class="option-btn"
          (click)="goTo('FilterPage')"
          clear
        >
          <ion-icon name="ios-options-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="special-row" no-padding>
      <!-- <ion-slides>
                <ion-slide>
                    <img id="img-banner" src="../../assets/imgs/starbucks/WERTHEIMER-Sandra-Starbucks-Banner 360x166.jpg" width="360" height="166"/>
                </ion-slide>

                <ion-slide>
                        <img id="img-banner" src="../../assets/imgs/starbucks/maxresbanner 360x166.jpg" width="360" height="166"/>
                </ion-slide>

                <ion-slide>
                        <img id="img-banner" src="../../assets/imgs/starbucks/drink guide 360x166.jpg" width="360" height="166"/>
                </ion-slide>

                <ion-slide>
                        <img id="img-banner" src="../../assets/imgs/starbucks/starbucks-holiday-drinks 360x166.jpg" width="360" height="166"/>
                </ion-slide>
        </ion-slides> -->

      <div class="special-name">
        Voucher
      </div>

      <ion-slides slidesPerView="3">
        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/starbucks/Starbucks Malaysia Signature Breakfast Set Meal Discount Promo.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">STARBUCKS CARD MEMBER...</div>
                    <div class="item-desc">
                      Breakfast is the most important...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/starbucks/Starbucks Half Price.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">STARBUCKS FRAPPUCCINO...</div>
                    <div class="item-desc">
                      Get 50% off on your favorite ...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/starbucks/starbucks-50off.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">STARBUCKS COFFEE: 50% OFF...</div>
                    <div class="item-desc">
                      Purchase any Starbucks handcra...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/starbucks/Starbucks .jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">ENJOY BUY 1 FREE 1 FRAPPUCCINO</div>
                    <div class="item-desc">
                      In conjunction with NST Online's 17...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/starbucks/starbucks-50off.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">STARBUCKS COFFEE: 50% OFF...</div>
                    <div class="item-desc">
                      Purchase any Starbucks handcra...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide>
          <ion-row class="voucher-row">
            <ion-col class="col-holder">
              <ion-card class="menu-image-card">
                <img
                  id="img-vouc"
                  src="../../assets/imgs/starbucks/Starbucks Half Price.jpg"
                  (click)="goNext()"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">STARBUCKS FRAPPUCCINO...</div>
                    <div class="item-desc">
                      Get 50% off on your favorite ...
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-slide>

        <ion-slide> </ion-slide>
      </ion-slides>

      <div class="special-name">
        Events/News
      </div>

      <ion-slides>
        <ion-slide>
          <div id="promo-cafe">
            <img
              id="img-promo"
              src="../../assets/imgs/starbucks/christmass promo 360x166.jpg"
              (click)="goPromo()"
              width="360"
              height="150"
            />
            <button ion-button left id="dis-btn">Discover more</button>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>
