page-cafe {

    ion-header.head-menu.header.header-md {
        border-bottom: 1px solid rgb(241, 239, 239);
        padding-bottom: px !important;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: relative;
        width: 100%;
        height: 5px;
        background-repeat: repeat-x;
        content: "";
    }

    b#price-bold {
        margin-left: -19px;
        position: absolute;
        background: #e01c44;
        padding-left: 10px;
        width: 77px;
        margin-top: -51px;
        color: #f2f2f2;
    }

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    #arrow-back{
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
        color: #e01c44;
    }

    #menu-name{
        color: #e01c44;
        font-size: 2.2rem;
        margin-top: 6px;
        margin-left: -12px;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-left: 5px;
        margin-top: 0px !important;
        background:  rgb(255, 255, 255);
        
    }

    img.img-name{
        max-width: 100%;
        // border-radius: 50%;
        margin-left: -11px;
        height: 45px;
        margin-top: 6px;
    }

    .star-header {
        padding: 7px;
        font-size: 25px;
        padding-left: 8px;
        padding-bottom: 9px;
        padding-top: 11px;
        font-family: 'open_sansregular';
        margin-top: 2px;

    }

    ion-row.special-row-icon.row{
        // background: rgb(241, 239, 239);
        padding-right: -4px !important;
        padding-top: 0px !important;
    }

    ion-col#search-bar{
        padding: 0px !important;
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    input.searchbar-input {
        box-shadow: none !important;
        margin-bottom: 0px !important;
        border-right: 1px solid rgb(241, 239, 239); 
        padding-bottom: 0px;
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    .searchbar-md .searchbar-input {
        padding: 6px 43px;
    }
    
    ion-col.col {
        padding: 0px;
    }

    ion-row.special-row.row{
        background: rgb(241, 239, 239);
        padding-top: 0px !important;
    }

    .special-name {
        font-size: 24px;
        margin-left: 17px;
        margin-top: 6px;
        font-family: 'open_sansregular';
    }

    .voucher-row{
        background: #f2f2f2;
    }

    .col-holder {
        width: 133%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    #img-vouc {
        height: 100px;
        // border-radius: 7px 7px 0px 0px;
    }

    ion-card.menu-image-card.card.card-md {
        border-radius: 8px 8px 0px 0px !important;
        box-shadow: none !important;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        padding: 0px 16px;
        padding-top: 20px !important;
        padding-bottom: 7px !important;
        margin: 0 !important;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        // padding-top: 0px;
        padding: 0px 16px;
    
    }

    ion-card-content.menu-card.card-content.card-content-md {
        margin: 0 !important;
        padding: 0px;
    }

    .item-holder{
        text-align: left;
        padding: 5px;
        font-size: 10px;
        height: 100%;

        .item-name{
            font-weight: bold;
            font-family: 'open_sansregular';
            font-size: 10px;
        }

        .item-desc {
            font-family: 'open_sansregular';
            font-size: 9.5px;
            // text-align: justify;
        }
    }

    ion-col.col-holder.col {
        /* margin-left: 6px; */
        margin: 0px !important;
        padding: 0px !important;
    }

    button#dis-btn {
        top: 148px;
        position: relative;
        display: block;
        left: 189px;
        border-radius: 25px;
        background: #e01c44;
    }

}
