page-books-filter {
    ion-col.col{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .back-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    .pink-header {
        background: #e01c44;
        color: #ffffff;
        padding: 10px;
        font-size: 20px;
        padding-left: 80px;
        padding-bottom: 13px;
        padding-top: 14px;
    }

    span.button-inner {
        color: white;
        padding: 0px;
        margin: auto;
        font-size: 13px;
        margin-top: 7px;
    }

    p.search-title{
        font-size: 17px;
        padding-left: 4px;
        padding-top: 3px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    p.location-name{
        font-size: 17px;
        padding-left: 4px;
        padding-top: 3px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    
    .scroll-content {
        // border: 1px solid #d3cfcf;
        border-radius: 5px;
        padding: 10px;
        padding-bottom: 6px !important;
        margin-top: 22px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;

        div#scroll-name {
            border: 1px solid #d3cfcf;
        }
    }
    
    p.name-label {
        text-transform: uppercase;
        padding-top: 15px;
        font-size: 15px;
        padding-bottom: 15px;
    }

    ion-col.cat-name.col {
        padding-left: 15px;
        font-size: 15px;
        padding-bottom: 20px;
    }

    ion-col.cat-check.col {
        text-align: center;
        font-size: 15px;
    }

    ion-footer.footer.footer-md {

        padding: 0px;
        margin: 0 auto;
        height: 45px;
        align-items: center;
        position: fixed;
        margin-left: 63px;
        padding-bottom: 59px;

        button#filter-btn {
            top: -5px;
            position: relative !important;
            font-size: 1.7rem;
            background: #e01c44;
            padding: 0px;
            height: 50px;
            width: 60%;
            z-index: 100;
            overflow: hidden;
            bottom: 30%;
            margin-left: 10px;
            align-items: center;
        }

        p.filter {
            padding-bottom: 15px;
            padding-top: 0px;
            font-size: 15px;
            height: 30px;
        }

    }
    
    input.searchbar-input {
        box-shadow: none !important;
        border: 1px solid #757373;
        border-radius: 10px !important;
        padding: 0px;
        height: 34px !important;
        width: 295px !important;
        margin-top: 15px;
        padding: 5px 34px !important;
        
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    ion-input#searh-location {
        border: 1px solid #757373;
        border-radius: 10px;
        padding: 0 30px;
        margin-top: 15px;

        .text-input-md {
            margin: 8px;
        }
    }

    ion-icon#seach-ico {
        top: 62px;
        left: 32px;
        font-size: 21px;
        position: absolute;
        bottom: 10px;
    }
    

    .searchbar-search-icon{
        margin-top: 12px;
        margin-left: 0px;
        padding-left: 5px;
        position: relative;
    }

    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        top: auto !important;
        bottom: 0 !important;
        background-position: left 0 top 0;
        height: 2px;
    }
}
