<ion-content class="main-view">
  <div class="overlay" (click)="dismiss()"></div>
  <div class="modal_content">
    <h2 class="modal-title">Please Rate Us!</h2>
      <rating [(ngModel)]="rate" 
            readOnly="false"
            max="5" 
            emptyStarIconName="star-outline" 
            halfStarIconName="star-half"
            starIconName="star" 
            nullable="false" 
            (ngModelChange)="onModelChange($event)"
            class="star-class">
      </rating>
      <ion-grid>
        <ion-row>
          <ion-col class="promo-submit" col-6>
            <button (click)="submit()" class="buttons" ion-button full>SUBMIT</button>
          </ion-col>
          <ion-col class="promo-submit" col-6>
            <button (click)="cancel()" class="buttons" ion-button full>CANCEL</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>