<ion-header class="head-menu">
  <ion-toolbar class="header-holder">
    <button ion-button left menuToggle="xyz123">
      <ion-icon id="menu-name" name="menu"></ion-icon>
     </button>

    <ion-row *ngFor="let merchant of merchants">
      <ion-col col-1>
          <img
            class="img-name"
            src="{{merchant.merchant_logo}}"
            alt="img"
          />
        </ion-col>
      <ion-col col-6>
        <div class="pink-header">
            <span id="merchant-name">{{ (merchant.merchant_name.length > 10)? (merchant.merchant_name | slice:0:10)+'..':(merchant.merchant_name) }}</span>
        </div>
      </ion-col>

      <ion-col col-5>

        <button ion-button icon-only (click)="toHome()" clear>
            <ion-icon id="cart-home" name="ios-home"></ion-icon>
        </button>

        <button ion-button icon-only (click)="openCart()" class="btn-cart" clear>
            <p class="cart-num">{{cartQty}}</p>
            <ion-icon class="cart-logo" name="cart"></ion-icon>
        </button>

        <button ion-button icon-only (click)="goBack()" clear>
          <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
        </button>
      </ion-col>

      <!-- <ion-icon id="cart-home" name="ios-home"></ion-icon> -->

    </ion-row>

  </ion-toolbar>
</ion-header>

