<ion-content class="content-holder">
    <div class="back">
        <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
    </div>
  
    <ion-grid class="new-grid" no-padding>
      <ion-row class="image-row">
        <ion-col class="image-holder">
          <img class="new-image" src="assets/imgs/20181114_Pata.jpg">
        </ion-col>
      </ion-row>
      <ion-row class="background" [style.background]="'#ffffff'" >
      <!-- <ion-row class="background" style="background:rgb(91, 148, 239)"> -->
      </ion-row>
    </ion-grid>
  
    <div class="slide-above">
      <ion-slides class="slider-middle" parallax=true loop=true>
  
        <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <ion-col class="col-title">
                  <p class="product-name">Crispy Pata</p>
                  <p style="text-align:left; font-size: 13px">Ang specialty ni Kuya J! Deep-fried crispy pork skin with tender juicy pata meat</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4 class="product-star" class="yellow-color">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </ion-col>
                <ion-col col-2 class="yellow-color" style="text-align: center">
                  4.5
                </ion-col>
              </ion-row>               

              <ion-row style="height: .5px; border: .5px solid grey;">
  
              </ion-row>
  
              <ion-row class="row-dessert">
                <ion-col col-4>
                  <ion-icon name="ios-pizza"></ion-icon> Dessert
                </ion-col>
                <ion-col col-4>
                    <ion-icon name="ios-flag"></ion-icon> 1.6km
                </ion-col>
                <ion-col col-4>
                  23/person
                </ion-col>
              </ion-row>
              <ion-row class="row-time"> 
                <ion-col class="time">
                  <ion-icon name="ios-time"></ion-icon> 9:00-22:00
                </ion-col>
                <ion-col>
                  <ion-icon name="ios-car"></ion-icon> Parking Lot
                </ion-col>
              </ion-row>
              <ion-row (click)="linkTo()">
                <ion-col class="link-product">
                  <ion-icon name="ios-link-outline"></ion-icon> Link to pdf
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-slide>
  
        <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <ion-col class="col-title">
                  <p class="product-name">Product Information</p>
                  <p class="desc">Deep-fried crispy pork skin with tender juicy pata meat</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="product-name">Order and Collection</p>
                  <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="product-name">Shop Location</p>
                  <p class="desc">Makati</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-slide>
  
      </ion-slides>
    </div>
  
    <div class="price-above">
      <ion-grid>
        <ion-row class="center-price">
          <div class="new-price-holder">
            <p class="price">$29.90 Pay</p>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    
  </ion-content>
  

  
  
  
  