
<ion-content >

    <div class="menu-btn">
      <!-- <button ion-button icon-left (click)="navigateTo()" clear> 
          <ion-icon name="menu" ></ion-icon>
          </button>   -->
          <button ion-button icon-only (click)="goBack()" clear>
            <ion-icon name="arrow-back"></ion-icon>
          </button>
    </div>    
    
    <ion-grid no-padding>
        <ion-row>
            <ion-col>
              <div class="red-header">
                  <img class="logo" src="../../assets/imgs/logo_ipayu.png" alt="img">
              </div>
            </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col col-10 class="search-bar" id="search-bar">
             <ion-searchbar placeholder="Product name or Shop name" class="ion-search" id="ion-search" (click)="openSearchTo()"> </ion-searchbar> 
          </ion-col>
  
          <ion-col col-2 class="options-icon" id="options-icon">
              <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
              <ion-icon name="ios-options-outline"></ion-icon>
              </button>  
          </ion-col>
        </ion-row>
        <!-- <ion-row class="promo-name">
          <h5 class="title-name"><b>Promotion</b></h5>
        </ion-row> -->

        <h1>{{this.x}}</h1>

        <div class="promo-name">
            <!-- <h5 class="title-name">
                <b>Promotion</b>
            </h5> -->

            <div class="special-name">
                    Restaurant
                </div>
  
            <ion-row>
                <ion-col col-6 class="menu-col">
                    <ion-card class="menu-image-card">
                    
                        <img id="img-resto" (click)="openPromoDetail()" src="../../assets/imgs/resto/kuya J halo halo promo oct 2017 150x150.jpg" width="150" height="150"  />
                      
                      <ion-card-content class="menu-card-name">
                          <ion-col >
                              <p class="shop-name"> Huya </p>
                              <p class="title-name"> Kuya J HALO-...</p>
                              <p class="title-desc"> From May 28, 2018 to June 3, 2018, customers can av...</p>
                             
                            </ion-col>
                      </ion-card-content>
                    </ion-card>
        
                </ion-col>
        
                <ion-col col-6 class="menu-col">
                    <ion-card class="menu-image-card">
                      
                        <img id="img-resto" (click)="openPromoDetail()" src="../../assets/imgs/resto/vouc-kuyaj2 150x150.jpg"  width="150" height="150" />
                      
                      <ion-card-content class="menu-card-name">
                          <ion-col >
                              <p class="shop-name"> Huya </p>
                              <p class="title-name"> Pata tayo diyan...</p>
                              <p class="title-desc"> Celebrate your Graduation at SM City Sta. Mesa, visit Kuya...</p>
                              
                            </ion-col>
                      </ion-card-content>
                    </ion-card>
        
                </ion-col>
              </ion-row>

              <ion-row>
                    <ion-col col-6 class="menu-col">
                            <ion-card class="menu-image-card">
                              
                                <img id="img-resto" (click)="openPromoDetail()" src="../../assets/imgs/resto/vouc-kuyaj 150x150.jpg"  width="150" height="150" />
                              
                              <ion-card-content class="menu-card-name">
                                  <ion-col >
                                      <p class="shop-name"> Huya </p>
                                      <p class="title-name"> Pata tayo diyan...</p>
                                      <p class="title-desc"> 2019 is just around the corner - let it be the year where #YouCa...</p>
                                      
                                    </ion-col>
                          </ion-card-content>
                        </ion-card>
            
                    </ion-col>
            
                   
                  </ion-row> 

              <!-- <div class="special-name">
                    Music Academy
                </div>
        
              <ion-row>
                  <ion-col col-6 class="menu-col">
                      <ion-card class="menu-image-card">
                      
                          <img id="img-resto" (click)="openPromoDetail()" src="../../assets/imgs/YUPANGCO/back-to-school 150x150.jpg" width="150" height="150"  />
                        
                        <ion-card-content class="menu-card-name">
                            <ion-col >
                                <p class="shop-name"> Yupangco Mus...</p>
                                <p class="title-name"> Back to School</p>
                                <p class="title-desc"> It’s that time of the year again! Class is in session! Cele...</p>
                               
                              </ion-col>
                        </ion-card-content>
                      </ion-card>
          
                  </ion-col>
          
                  <ion-col col-6 class="menu-col">
                      <ion-card class="menu-image-card">
                        
                          <img id="img-resto" (click)="openPromoDetail()" src="../../assets/imgs/YUPANGCO/july-fb-post3 150x150.jpg"  width="150" height="150" />
                        
                        <ion-card-content class="menu-card-name">
                            <ion-col >
                                <p class="shop-name"> Yupangco Mus... </p>
                                <p class="title-name"> Year End Promo</p>
                                <p class="title-desc"> 2019 is just around the corner - let it be the year where #YouCa...</p>
                                
                              </ion-col>
                        </ion-card-content>
                      </ion-card>
          
                  </ion-col>
                </ion-row>
        
                <ion-row>
                    <ion-col col-6 class="menu-col">
                        <ion-card class="menu-image-card">
                        
                            <img id="img-resto" (click)="openPromoDetail()" src="../../assets/imgs/YUPANGCO/OCTOBER-HANDOG-SALE-2-MAIN-POST 150x150.jpg" width="150" height="150"  />
                          
                          <ion-card-content class="menu-card-name">
                              <ion-col >
                                  <p class="shop-name"> Yupangco Mus...</p>
                                  <p class="title-name"> Back to School</p>
                                  <p class="title-desc"> It’s that time of the year again! Class is in session! Cele...</p>
                                 
                                </ion-col>
                          </ion-card-content>
                        </ion-card>
            
                    </ion-col>
        
                  </ion-row>
        
            </div>
         
    </ion-grid>
  </ion-content>
  