<app-header-home></app-header-home>
<ion-content #content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid no-padding>
    <ion-row class="special-row-icon">
      <ion-col col-10 class="search-bar" id="search-bar">
        <ion-searchbar placeholder="Branches Name" 
        class="ion-search" id="ion-search"
        [(ngModel)]="searchTerm"
        (ionClear)="onClear($event)"
        (input)="onSearchChange($event.target.value)"
        (change)="onChange($event)">
        <!-- (keyup.enter)="universalSearchEnter($event)"  -->
        </ion-searchbar> 
     </ion-col>

      <ion-col col-2 class="options-icon" id="options-icon">
        <button
          ion-button
          icon-right
          class="option-btn"
         
          clear
        >
          <ion-icon name="ios-options-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="special-row" no-padding>
      <ion-slides>
          <ion-slide *ngFor="let merchant_ad of merchant_ads">
              <img id="img-banner" src="{{merchant_ad.url}}" width="360" height="166"/>
          </ion-slide>
      </ion-slides>

    </ion-row>

    <ion-row class="panel">
  
      <div class="sub-appe-name sp-label">
        <br /><br />
        <b>Branches</b>
        <br/>
        Metro Manila
      </div>

      <ion-slides slidesPerView="3">

        <ion-slide class="slider-category-holder">
          <div class="col-holder-cat">
            <ion-card class="menu-image-card">
              <img
                id="img-sp"
                (click)="navScreen('BranchDetailPage')"
                src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/greenbelt1.jpg"
                width="120"
                height="120"
              />
              <ion-card-content class="menu-card-name" (click)="navScreen('BranchDetailPage')">
                <ion-col>
                  <p class="title-name">Greenbelt</p>
                  <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> Ground Floor, Greenbelt 1 Ayala...</p>
                  <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 892-6599</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide class="slider-category-holder">
            <div class="col-holder-cat">
              <ion-card class="menu-image-card">
                <img
                  id="img-sp"
                  (click)="navScreen('BranchDetailPage')"
                  src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/market!market!.jpg"
                  width="120"
                  height="120"
                />
                <ion-card-content class="menu-card-name" (click)="navScreen('BranchDetailPage')">
                  <ion-col>
                    <p class="title-name">Market!Marke..</p>
                    <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> 2nd Floor, Market!Market! Ayala Ma...</p>
                    <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 729-5706</p>
                  </ion-col>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-slide>

          <ion-slide class="slider-category-holder">
              <div class="col-holder-cat">
                <ion-card class="menu-image-card">
                  <img
                    id="img-sp"
                    (click)="navScreen('BranchDetailPage')"
                    src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/katipunan.jpg"
                    width="120"
                    height="120"
                  />
                  <ion-card-content class="menu-card-name" (click)="navScreen('BranchDetailPage')">
                    <ion-col>
                      <p class="title-name">Katipunan</p>
                      <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> Katipunan Road, across Ateneo Gat...</p>
                      <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 920-0829</p>
                    </ion-col>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-slide>

      <ion-slide></ion-slide>
      
    </ion-slides>

    <ion-slides slidesPerView="3">

        <ion-slide class="slider-category-holder">
          <div class="col-holder-cat">
            <ion-card class="menu-image-card">
              <img
                id="img-sp"
                (click)="navScreen('BranchDetailPage')"
                src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/Teacher's Village.jpg"
                width="120"
                height="120"
              />
              <ion-card-content class="menu-card-name" (click)="navScreen('BranchDetailPage')">
                <ion-col>
                  <p class="title-name">Teacher's Vi...</p>
                  <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> Matalino St., Alongside Sulo Hotel,...</p>
                  <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 929-2404</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide class="slider-category-holder">
            <div class="col-holder-cat">
              <ion-card class="menu-image-card">
                <img
                  id="img-sp"
                  (click)="navScreen('BranchDetailPage')"
                  src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/alphaland.jpg"
                  width="120"
                  height="120"
                />
                <ion-card-content class="menu-card-name" (click)="navScreen('BranchDetailPage')">
                  <ion-col>
                    <p class="title-name">Alphaland</p>
                    <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> Ground Floor, Alphaland Towers, EDSA...</p>
                    <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 810-1676</p>
                  </ion-col>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-slide>

          <ion-slide class="slider-category-holder">
              <div class="col-holder-cat">
                <ion-card class="menu-image-card">
                  <img
                    id="img-sp"
                    (click)="navScreen('BranchDetailPage')"
                    src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/Ayala Malls Vertis North.jpg"
                    width="120"
                    height="120"
                  />
                  <ion-card-content class="menu-card-name" (click)="navScreen('BranchDetailPage')">
                    <ion-col>
                      <p class="title-name">Ayala Mall...</p>
                      <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> North Avenue, Quezon City...</p>
                      <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 810-1676</p>
                    </ion-col>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-slide>

     
      
    </ion-slides>

    <ion-slides slidesPerView="3">

        <ion-slide class="slider-category-holder">
          <div class="col-holder-cat">
            <ion-card class="menu-image-card">
              <img
                id="img-sp"
                (click)="navScreen('BranchDetailPage')"
                src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/Alabang Town Center.jpg"
                width="120"
                height="120"
              />
              <ion-card-content class="menu-card-name" (click)="navScreen('BranchDetailPage')">
                <ion-col>
                  <p class="title-name">Alabang Town...</p>
                  <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> Alabang Town Center, Muntinl...</p>
                  <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 929-2404</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <!-- <ion-slide class="slider-category-holder">
            <div class="col-holder-cat">
              <ion-card class="menu-image-card">
                <img
                  id="img-sp"
                  (click)="navScreens('BranchDetailPage')"
                  src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/alphaland.jpg"
                  width="120"
                  height="120"
                />
                <ion-card-content class="menu-card-name" (click)="navScreens('BranchDetailPage')">
                  <ion-col>
                    <p class="title-name">Alphaland</p>
                    <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> Ground Floor, Alphaland Towers, EDSA...</p>
                    <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 810-1676</p>
                  </ion-col>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-slide>

          <ion-slide class="slider-category-holder">
              <div class="col-holder-cat">
                <ion-card class="menu-image-card">
                  <img
                    id="img-sp"
                    (click)="navScreens('BranchDetailPage')"
                    src="http://206.189.32.108/images_CWswDdGUmsUEoQKx/branches/Ayala Malls Vertis North.jpg"
                    width="120"
                    height="120"
                  />
                  <ion-card-content class="menu-card-name" (click)="navScreens('BranchDetailPage')">
                    <ion-col>
                      <p class="title-name">Ayala Mall...</p>
                      <p class="free-deli"><ion-icon id="icon-loca" name="pin"></ion-icon> GNorth Avenue, Quezon City...</p>
                      <p class="title-price"><ion-icon id="icon-loca" name="md-call"></ion-icon> 810-1676</p>
                    </ion-col>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-slide> -->

      
      
    </ion-slides>

    </ion-row>

  </ion-grid>

  <ion-fab bottom right absolute-drag>
      <button ion-fab class="fab-color"><img src="../../assets/imgs/chicken-bacolod/chicken-bacolod-logo.jpg"></button>
      <ion-fab-list side="left">
          <button ion-fab class="fab-color" (click)="toWallet('WalletFabPage')"><img src="assets/imgs/footer-menu/wallet.png"></button>
          <button ion-fab class="fab-color" (click)="toResto('VoucherFabPage')"><img src="assets/imgs/footer-menu/coupon.png"></button>
          <button ion-fab class="fab-color" (click)="toPromo('PromoPage')"><img src="assets/imgs/footer-menu/promo.png"></button>
          <button ion-fab class="fab-color" (click)="toProduct()"><img src="assets/imgs/footer-menu/shop.png"></button>
      </ion-fab-list>
    </ion-fab>
    
</ion-content>