page-branches {

//Style for refresher//
ion-refresher {
    top: 49px;
}

.scroll-content, .fixed-content {
    margin-top: 49px !important;
}

    ion-row.panel.row {
        background: #f2f2f2;
    }

    ion-row.quantity-holder.row {
        background: #e01c44;
        color: #ffffff;
        height: 21px;
        border-radius: 5px;
        margin-right: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

        p#input-name {
            background: #ffffff;
            height: 18px;
            top: 1px;
            position: relative;
        }

        ion-icon#remove-icon, ion-icon#add-btn{
            top: 2px;
            position: relative;
        }

    }

    ion-header.head-menu.header.header-md {
        border-bottom: 1px solid rgb(241, 239, 239);
        padding-bottom: px !important;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: relative;
        width: 100%;
        height: 5px;
        background-repeat: repeat-x;
        content: "";
    }

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    #arrow-back{
        position: relative;
        margin-top: 10px;
        margin-left: 6px;
        color: #e01c44;
    }

    #menu-name{
        color: #e01c44;
        font-size: 2.2rem;
        margin-top: 2px;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-left: 5px;
        margin-top: 0px !important;
        background:  rgb(255, 255, 255);
        
    }

    img.img-name{
        max-width: 100%;
        //height: 30px;
        margin-top: 10px;
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    .searchbar-md .searchbar-input {
        padding: 6px 43px;
    }


    input.searchbar-input {
        box-shadow: none !important;
        margin-bottom: 0px !important;
        border-right: 1px solid rgb(241, 239, 239); 
        padding-bottom: 0px;
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        // border-bottom: solid 1px #ffffff;
    }

    ion-col#search-bar{
        padding: 0px !important;
    }

    .pink-header {
        padding: 3px 8px;
        font-size: 16px;
        padding-left: -2px;
        font-family: 'open_sansregular';
        top: 12px;
        position: relative;
    }

    ion-col.col {
        padding: 0px;
    }

    ion-col.name-shop.col {
        padding: 0px !important;
        margin: 0 auto;
        position: relative;
        display: block;
        border-bottom: 1px solid rgb(241, 239, 239);
    }

    
    ion-row.special-row.row{
        background: rgb(241, 239, 239);
        // padding-right: -4px !important;
        padding-top: 0px !important;
    }

    ion-row.special-row-icon.row{
        // background: rgb(241, 239, 239);
        padding-right: -4px !important;
        padding-top: 0px !important;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        padding: 0px 16px;
        padding-top: 20px !important;
        padding-bottom: 7px !important;
    }

    

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
    }

   

    .special-name {
        font-size: 24px;
        margin-left: 17px;
        margin-top: 0px;
        font-family: 'open_sansregular';
    }

    .special-name-vouc {
        font-size: 24px;
        margin-left: 17px;
        margin-top: -13px;
        font-family: 'open_sansregular';
    }

    .cate-name {
        font-size: 20px;
        margin-left: -341px;
        margin-top: 160px;
        margin-bottom: 4px;
        font-family: 'open_sansregular';
    }

    .sub-cate-name {
        font-size: 18px;
        margin-left: -117px;
        margin-top: 169px;
        margin-bottom: -2px;
        font-family: 'open_sansregular';
    }

    .sub-appe-name {
        font-size: 18px;
        margin-left: 18px;
        margin-top: -44px;
        margin-bottom: 0px;
        font-family: 'open_sansregular';

        .music-label {
            top: 3px;
            position: relative;
            padding: 4px 0;
        }

        .sp-label {
            padding: 5px 0;
            top: -3px;
            position: relative;
        }
    }

    .sub-appe {
        font-size: 18px;
        margin-left: -111px;
        margin-top: -11px;
        margin-bottom: 0px;
        font-family: 'open_sansregular';
    }


    .appe-name {
        font-size: 20px;
        margin-left: 18px;
        margin-top: -24px;
        margin-bottom: 0px;
        margin-bottom: 4px;
        font-family: 'open_sansregular';
    }
    
    p.free-name {
        background: #e01c44;
        width: 116px;
        display: block;
        margin-top: -40px;
        padding-left: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: white;
        font-family: 'open_sansregular';
        z-index: 999;
        bottom: -56px;
        position: relative;
    }

    p.time-date {
        background: white;
        width: 45px;
        position: relative;
        display: block;
        /* margin-top: 0px; */
        /* padding-left: 4px; */
        padding-top: 4px;
        padding-bottom: 4px;
        /* text-align: center; */
        margin-left: 207px !important;
        font-family: 'open_sansregular';
        float: right;
        z-index: 999;
        bottom: -51px;

    }
// }
    p.mini-deli {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
    }

    p.title-name {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: -13px;
        text-align: start;
        margin-bottom: 0px;
        font-family: 'open_sansregular';
    }
    
    ion-card-content.menu-card-name.card-content.card-content-md {
        // padding-top: 0px;
        padding: 0px 9px;
    
    }

    p.title-price {
        font-size: 1.2rem;
        font-weight: bold !important;
        text-align: start;
        font-family: 'open_sansregular';
    }

    p.title-desc {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
        text-align: justify;
    }

    p.free-deli {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        color: black;
        font-family: 'open_sansregular';
    }

    #img-resto{
        margin: 0 auto !important;
        padding: 0px !important;
        margin-left: 0px !important;
        // margin-right: 0px !important;
    }

    // .col-holder:first-child {
    //     width: 121%;
    //     margin-left: 5px;
    //     position: relative;
    //     display: block;
    //     margin-right: 0px !important;
    // }

    .col-holder {
        width: 121%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    ion-slide.swiper-slide.swiper-slide-next {
        position: relative;
    }

    ion-slide.menu-slide.swiper-slide.swiper-slide-active {
        width: 173px !important;
        margin-right: 0px !important;
        // padding-right: 100px !important;
    }


    .col-holder-menu {
        width: 227%;
        margin-left: 38px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;
        padding-top: 2px;

    }

    .col-holders {
        width: 122%;
        margin-left: 70px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-name {
        width: 230%;
        margin-left: 109px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    .col-holder-cat {
        width: 100%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-menu-cat {
        width: 186%;
        margin-left: -42px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;
        padding-top: 0px;

    }

    .col-holders-cat {
        width: 78%;
        margin-left: -89px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-name-cat {
        width: 186%;
        margin-left: -134px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    //Can be removed
    ion-slide.slider-category-holder.swiper-slide.swiper-slide {
        width: 140px !important;
        background: #f2f2f2;
    }

    ion-slide.slider-category-holder.swiper-slide.swiper-slide-next {
        width: 140px !important;
        background: #f2f2f2;
    }
    
    // ion-slide.slider-category-holder{

    //     ion-card.menu-image-card.card.card-md {
    //         padding-right: 20px;
    //     }

    // }

    ion-slide.slider-events-holder{
        margin-right: 40px;
    }

    img.cart-logo {
        margin-top: 10px;
    }

    p.cart-num {
        position: absolute;
        top: -9px;
        left: 37px;
        font-size: 12px;
        border-radius: 50%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 3px;
        background: #e01c44;
        color: white;
    }

    // button.btn-cart.disable-hover.button.button-md.button-clear.button-clear-md {
    //     color: black;
    //     padding-top: 10px;
    //     padding-right: 6px;
    //     padding-left: 3px;
    //     font-size: 1.7rem;
    //     margin-top: 2px;
    //     float: right;
    //     left: 19px;
    // }

    .voucher-row{
        background: #f2f2f2;
       // border-radius: 0px 0px 5px 5px;

        .sp-col-holder{
            .card-md {
                margin: 10px 16px;
                border-radius: 2px;
                width: calc(100% - 12px);
            }
        }

    }


    ion-card-content.menu-card.card-content.card-content-md {
        margin: 0 !important;
        padding: 0px;
    }

    #img-vouc {
        height: 100px;
        border-radius: 7px 7px 0px 0px;
    }

    ion-col.col-holder.col {
        /* margin-left: 6px; */
        margin: 0px !important;
        padding: 0px !important;
    }

    .item-holder{
        text-align: left;
        padding: 5px;
        font-size: 10px;
        height: 100%;

        .item-name{
            font-weight: bold;
            font-family: 'open_sansregular';
            font-size: 10px;
        }

        .item-desc {
            font-family: 'open_sansregular';
            font-size: 9.5px;
        }
    }

    $black: #343838;
$blue: #00DFFC;
$dullWhite: #f6f6f6;
$easing: cubic-bezier(.6, .05, .28, .91);
* {
    box-sizing: border-box;
}

// body {
//     background-color: $black;
//     font-size: 16px;
// }

#page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title {
    color: $dullWhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

#btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: left 500ms $easing;
    div {
        width: 35px;
        height: 2px;
        margin-bottom: 8px;
        background-color: $blue;
        transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
    }
}

#btn.active {
    left: 230px;
    div {
        background-color: $black;
    }
    #top {
        transform: translateY(10px) rotate(-135deg);
    }
    #middle {
        opacity: 0;
        transform: rotate(135deg);
    }
    #bottom {
        transform: translateY(-10px) rotate(-45deg);
    }
}

#box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 275px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: $dullWhite;
    color: $black;
    transition: all 350ms $easing;
}

#box.active {
    left: 0px;
    opacity: 1;
}

#items {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .item {
        position: relative;
        cursor: pointer;
        font-size: 2em;
        padding: 15px 30px;
        transition: all 250ms;
        &:hover {
            padding: 15px 45px;
            background-color: transparentize($black, .8);
        }
    }
}

#btn, #btn * {
    will-change: transform;
}

#box {
    will-change: transform, opacity;
}

// Side menu

ion-app.android {
    font-family: 'open_sansregular' !important;
    }

.card-title-md, p, span, ion-col, ion-segment-button, .item-md{
    font-family: 'open_sansregular' !important;
}

.toolbar-md-pantone .toolbar-background-md {
    background: #DA291C;
}

.link-menu-bar {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding-top: 5px;
    padding: 5px 2px;
    text-align: center;
    opacity: 0.8;
}

.link-menu-bar span {
    font-size: 42%;
    display: block;
    height: 14px;
    display: block;
    overflow: hidden;
}
.link-menu-bar.link-menu-bar-active {
    opacity: 1;
    background: #ed3b3b;
}
.link-menu-bar img, .link-menu-bar ion-icon {
    height: 21px;
    margin: 0 auto;
}

.myrow{
    width: 10%;
}

.myFlag{
    height: 15px;
    width: 25px;
    margin-top: 0px;

}

.ion-page{
    top: -4px;
    height: 101%;
}

.tabs-md .tab-button[aria-selected=true]{
    color: black;
}

.myLogo{
    height: 25px;
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 10px;
}

ion-header {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
}

.toolbar-md{
    height: 50px !important;
    min-height: 50px;
}

.my-style-for-modal{
    font-size: 1.5rem;
}

    label#label-name {
        height: 50px;
        padding-top: 100px;
        color: #fff;
        padding-left: 15px; 
        font-size: 17px; 
        font-family: 'open_sansregular';
    }

    .label-name{
        background: #e01c44;
        height: 155px;
        padding-top: 122px;
    }

    #label-order{
        color: grey;
        font-size: 25px;
        padding-left: 7px;
    }

    p#order-name {
        padding-left: 44px;
        position: absolute;
        top: 14px;
        font-size: 17px;
        font-family: 'open_sansregular';
        color: black !important;
        // font-weight: bold;
    }

    label#label-setting {
        padding-left: 9px;
        font-size: 17px;
    }

    #img-icon {
        position: absolute;
        border-radius: 50%;
        z-index: 999;
        height: 87px;
        display: block;
        margin-left: 113px;
        top: 20px;
        font-size: 95px;
        color: #f2f2f2;
    }

    ion-slide.slide-holder {

        .col-holder{
            width: 130%;
            margin:0px !important;
        }

        //border: solid 1px red;
        margin: 0 26px;

        .card-md{
            margin: 0px !important;
        }
    }

    ion-slide.slide-holder {

        .col-holder{
            width: 130%;
            margin:0px !important;
        }

        //border: solid 1px red;
        margin: 0 26px;

        .card-md{
            margin: 0px !important;
        }
    }

    .currency-label{
        text-transform:capitalize;
    }

    img#img-spy {
        width: 360px;
    }

    img#img-sp {
        width: 219px !important;
        height: 123px;
    }

    .prod-price {
        color: #ffffff;
        margin-left: 5px;
        font-size: 1rem;
        text-align: left;
        margin-bottom: 0;
        position: absolute;
        bottom: 73px;
        background: #e14543;
        padding: 0 5px;
        left: 11px;

    }

    .sub-appe-name.sp-label {
        padding: 7px 0;
        top:0;
        position: relative;
    }

    .currency{
        text-transform: capitalize;
    }

    ion-icon#icon-loca {
        color: #c9bc77;
    }

    .fab-color {
        background-color: #FDD51B;
    }

}
