<app-header-home></app-header-home>
<ion-content>        
        <ion-grid no-padding>                    
                    <ion-row no-padding>
                      <ion-col col-10 class="search-bar" id="search-bar">
                         <ion-searchbar 
                         placeholder="Product name or Shop name" 
                         class="ion-search" 
                         [(ngModel)]="searchTerm"
                         (ionClear)="onClear($event)"
                         (input)="onSearchChange($event.target.value)"
                         (change)="onChange($event)"
                         id="ion-search"> 
                         
                        </ion-searchbar> 
                      </ion-col>
              
                      <ion-col *ngIf="firstFilter" col-2 class="options-icon" id="options-icon">
                          <button ion-button icon-right class="option-btn"  clear> 
                          <ion-icon name="ios-options-outline"></ion-icon>
                          </button>  
                      </ion-col>

                      <ion-col *ngIf="secondFilter" col-2 class="options-icon" id="options-icon">
                            <button ion-button icon-right class="option-btn"  clear> 
                            <ion-icon name="ios-options-outline"></ion-icon>
                            </button>  
                        </ion-col>
                      
                    </ion-row>

                    <div *ngIf="!show; else elseBlock" class="vouc-name">
                        <!-- ********************************************************Voucher category list********************************************** -->
                        <h5 class="title-name"><b>Voucher</b></h5>
                  
                        <ng-container class="menu-holder">
                            <!-- <ion-slides slidesPerView="3" >
                                <ion-slide *ngFor="let vou of voucherCategories"> -->
                                    <ion-row class="voucher-row">
                                        <ion-col class="col-holder" *ngFor="let vou of voucherCategories" col-4>
                                            <ion-card class="menu-image-card">
                                                <img id="img-vouc" (click)="openVoucherDetail(vou.voucher_id)" src="{{vou.url}}" width="100" height="100"/>
                                                    <ion-card-content class="menu-card">
                                                        <div class="item-holder" (click)="openVoucherDetail(vou.voucher_id)">
                                                            <!-- <p class="shop-name"> {{vou.merchant_name}} </p> -->
                                                            <div class="item-name">{{ (vou.name.length > 15)? (vou.name | slice:0:15)+'...':(vou.name) }}</div>
                                                            <div class="item-desc" [innerHTML]="(vou.description.length > 40)? (vou.description | slice:0:40)+'...':(vou.description)"> </div>
                                                        </div>
                                                    </ion-card-content>
                                                </ion-card>
                                        </ion-col>
                                    </ion-row>
                                <!-- </ion-slide>  
                            </ion-slides> -->
                        </ng-container>
                  <!--**********************************************************************Voucher category list******************************************************************* -->      
            </div>

            <div *ngIf="!showFilter" class="vouc-name">
                    <!-- ********************************************************Voucher category list********************************************** -->
                    <h5 class="title-name"><b>Voucher</b></h5>
              
                    <ng-container class="menu-holder">
                        <ion-slides slidesPerView="3" >
                            <ion-slide *ngFor="let vou of voucherCategories">
                                <ion-row class="voucher-row">
                                    <ion-col class="col-holder">
                                        <ion-card class="menu-image-card">
                                            <img id="img-vouc" (click)="openVoucherDetail(vou.voucher_id)" src="{{vou.url}}" width="100" height="100"/>
                                                <ion-card-content class="menu-card">
                                                    <div class="item-holder">
                                                        <p class="shop-name"> {{vou.merchant_name}} </p>
                                                        <div class="item-name">{{ (vou.name.length > 30)? (vou.name | slice:0:30)+'...':(vou.name) }}</div>
                                                        <div class="item-desc" [innerHTML]="(vou.description.length > 40)? (vou.description | slice:0:40)+'...':(vou.description)"> </div>
                                                    </div>
                                                </ion-card-content>
                                            </ion-card>
                                    </ion-col>
                                </ion-row>
                            </ion-slide>  
                        </ion-slides>
                    </ng-container>
              <!--**********************************************************************Voucher category list******************************************************************* -->      
        </div>

            <!-- <ng-template #elseBlock>

                    <ng-container *ngIf="voucherCounters; else noItems"></ng-container>

                    <h5 class="title-name">
                            <b>Voucher</b>
                        </h5>

                    <ng-template #noItems>
                       <div class="result-holder">
                        <ion-grid class="no-result-grid">
                                <ion-row>
                                        <div class="icon-holder"><ion-icon name="search"></ion-icon></div>
                                    </ion-row>
                                    <ion-row>
                                            <div class="result-label">No Result Found.</div>
                                            <p>We cannot find the item you are searching. Try a more general keyword.</p>
                                    </ion-row>
                        </ion-grid>
                       </div>
                    </ng-template>
                    
                    <ng-container *ngFor="let voucherCategory of search_results" class="menu-holder">
                            <div class="cate-name" *ngIf="voucherCategory.vouchers && voucherCategory.vouchers.length">
                                {{voucherCategory.trade_name}}
                            </div>
                            <ion-slides slidesPerView="3" >
                                <ion-slide *ngFor="let search of voucherCategory.vouchers">
                                    <ion-row class="voucher-row">
                                        <ion-col class="col-holder">
                                            <ion-card class="menu-image-card">
                                                <img id="img-vouc" (click)="openVoucherDetail(search.voucher_id)" src="{{search.url}}" width="100" height="100"/>
                                                    <ion-card-content class="menu-card">
                                                        <div class="item-holder">
                                                            <p class="shop-name"> {{search.merchant_name}} </p>
                                                            <div class="item-name">{{ (search.name.length > 30)? (search.name | slice:0:30)+'...':(search.name) }}</div>
                                                            <div class="item-desc" [innerHTML]="(search.description.length > 40)? (search.description | slice:0:40)+'...':(search.description)"> </div>
                                                        </div>
                                                    </ion-card-content>
                                                </ion-card>
                                        </ion-col>
                                    </ion-row>
                                </ion-slide>  
                            </ion-slides>
                        </ng-container>

            </ng-template> -->            
        </ion-grid>

        <ion-fab bottom right absolute-drag>
                <button ion-fab class="fab-color"><img src="../../assets/imgs/chicken-bacolod/chicken-bacolod-logo.jpg"></button>
                <ion-fab-list side="left">
                    <button ion-fab class="fab-color" (click)="toWallet('WalletFabPage')"><img src="assets/imgs/footer-menu/wallet.png"></button>
                    <button ion-fab class="fab-color" (click)="toResto('VoucherFabPage')"><img src="assets/imgs/footer-menu/coupon.png"></button>
                    <button ion-fab class="fab-color" (click)="toPromo('PromoPage')"><img src="assets/imgs/footer-menu/promo.png"></button>
                    <button ion-fab class="fab-color" (click)="toProduct()"><img src="assets/imgs/footer-menu/shop.png"></button>
                </ion-fab-list>
              </ion-fab>
            

      </ion-content>