
<ion-content>

    <div class="menu-btn">
        <!-- <button ion-button icon-left (click)="navigateTo()" clear> 
            <ion-icon name="menu" ></ion-icon>
            </button>   -->
            <button ion-button icon-only (click)="goBack()" clear>
              <ion-icon name="arrow-back"></ion-icon>
            </button>
      </div>   

      <ion-grid no-padding>
          <ion-row>
              <ion-col>
                <div class="red-header">
                    <img class="logo" src="../../assets/imgs/logo_ipayu.png" alt="img">
                </div>
              </ion-col>
          </ion-row>

          <ion-row no-padding>
              <ion-col col-10 class="search-bar" id="search-bar">
                 <ion-searchbar placeholder="Product name or Shop name" class="ion-search" id="ion-search" (click)="openSearchTo()"> </ion-searchbar> 
              </ion-col>
      
              <ion-col col-2 class="options-icon" id="options-icon">
                  <button ion-button icon-right class="option-btn" (click)="goTo('VoucherFilterPage')" clear> 
                  <ion-icon name="ios-options-outline"></ion-icon>
                  </button>  
              </ion-col>
            </ion-row>

            <div class="special-name">
                Restaurant
            </div>

            <ion-slides slidesPerView="3" >

              <ion-slide>
                <ion-row class="voucher-row">
                    <ion-col class="col-holder">
                        <ion-card class="menu-image-card">
                                <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj.jpg" (click)="goNext()" width="100" height="100"/>
                                    <ion-card-content class="menu-card">
                                        <div class="item-holder">
                                                <p class="shop-name"> Huya </p>
                                            <div class="item-name">Kuya J Cheers to 100 stores</div>
                                            <div class="item-desc">50% Off Halo-halo Espesyal </div>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                        </ion-col>
                        </ion-row>
          </ion-slide>  

          <ion-slide>
                <ion-row class="voucher-row">
                    <ion-col class="col-holder">
                        <ion-card class="menu-image-card">
                                <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj1.jpg" (click)="goNext()" width="100" height="100"/>
                                    <ion-card-content class="menu-card">
                                        <div class="item-holder">
                                                <p class="shop-name"> Huya </p>
                                            <div class="item-name">Ang maligayang kaarawan...</div>
                                            <div class="item-desc">Dine in for free for 30 days ... </div>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                        </ion-col>
                        </ion-row>
          </ion-slide>
          
          

          <ion-slide>
                <ion-row class="voucher-row">
                    <ion-col class="col-holder">
                        <ion-card class="menu-image-card">
                                <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj2.jpg" (click)="goNext()" width="100" height="100"/>
                                    <ion-card-content class="menu-card">
                                        <div class="item-holder">
                                                <p class="shop-name"> Huya </p>
                                            <div class="item-name">HABA HAPPY BIRTHDAY ...</div>
                                            <div class="item-desc">Dine in for free for 30 days... </div>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                        </ion-col>
                        </ion-row>
          </ion-slide>  

          <ion-slide>
                <ion-row class="voucher-row">
                    <ion-col class="col-holder">
                        <ion-card class="menu-image-card">
                                <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj.jpg" (click)="goNext()" width="100" height="100"/>
                                    <ion-card-content class="menu-card">
                                        <div class="item-holder">
                                                <p class="shop-name"> Huya </p>
                                            <div class="item-name">Kuya J Cheers to 100 stores</div>
                                            <div class="item-desc">50% Off Halo-halo Espesyal </div>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                        </ion-col>
                        </ion-row>
          </ion-slide>  

          <ion-slide>
                <ion-row class="voucher-row">
                    <ion-col class="col-holder">
                        <ion-card class="menu-image-card">
                                <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj1.jpg" (click)="goNext()" width="100" height="100"/>
                                    <ion-card-content class="menu-card">
                                        <div class="item-holder">
                                                <p class="shop-name"> Huya </p>
                                            <div class="item-name">Ang maligayang kaarawan...</div>
                                            <div class="item-desc">Dine in for free for 30 days ... </div>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                        </ion-col>
                        </ion-row>
          </ion-slide>
          
          

          <ion-slide>
                <ion-row class="voucher-row">
                    <ion-col class="col-holder">
                        <ion-card class="menu-image-card">
                                <img id="img-vouc" src="../../assets/imgs/resto/vouc-kuyaj2.jpg" (click)="goNext()" width="100" height="100"/>
                                    <ion-card-content class="menu-card">
                                        <div class="item-holder">
                                                <p class="shop-name"> Huya </p>
                                            <div class="item-name">HABA HAPPY BIRTHDAY ...</div>
                                            <div class="item-desc">Dine in for free for 30 days... </div>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                        </ion-col>
                        </ion-row>
          </ion-slide>  

            <ion-slide>
                
              </ion-slide>  
        </ion-slides>

        <div class="special-name">
            Music Academy
        </div>

        <ion-slides slidesPerView="3" >

          <ion-slide>
            <ion-row class="voucher-row">
                <ion-col class="col-holder">
                    <ion-card class="menu-image-card">
                            <img id="img-vouc" src="../../assets/imgs/YUPANGCO/OCTOBER-HANDOG-SALE-2-MAIN-POST.jpg" (click)="goNext()" width="100" height="100"/>
                                <ion-card-content class="menu-card">
                                    <div class="item-holder">
                                            <p class="shop-name"> Yupangco Mus... </p>
                                        <div class="item-name">The Gift of Music in Your Hands</div>
                                        <div class="item-desc">It’s that time of the year again!... </div>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                    </ion-col>
                    </ion-row>
      </ion-slide>  

      <ion-slide>
            <ion-row class="voucher-row">
                <ion-col class="col-holder">
                    <ion-card class="menu-image-card">
                            <img id="img-vouc" src="../../assets/imgs/YUPANGCO/christmass blowout.jpg" (click)="goNext()" width="100" height="100"/>
                                <ion-card-content class="menu-card">
                                    <div class="item-holder">
                                            <p class="shop-name"> Yupangco Mus... </p>
                                        <div class="item-name">Christmass Blowout</div>
                                        <div class="item-desc">Ho Ho Ho! Unbox jolly discounts this... </div>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                    </ion-col>
                    </ion-row>
      </ion-slide>
      
      

      <ion-slide>
            <ion-row class="voucher-row">
                <ion-col class="col-holder">
                    <ion-card class="menu-image-card">
                            <img id="img-vouc" src="../../assets/imgs/YUPANGCO/voucher back.jpg" (click)="goNext()" width="100" height="100"/>
                                <ion-card-content class="menu-card">
                                    <div class="item-holder">
                                            <p class="shop-name"> Yupangco Mus... </p>
                                        <div class="item-name">YMA rains June-packed ...</div>
                                        <div class="item-desc">Rain, rain in YMA, come now and... </div>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                    </ion-col>
                    </ion-row>
      </ion-slide>  

      <ion-slide>
            <ion-row class="voucher-row">
                <ion-col class="col-holder">
                    <ion-card class="menu-image-card">
                            <img id="img-vouc" src="../../assets/imgs/YUPANGCO/christmass blowout.jpg" (click)="goNext()" width="100" height="100"/>
                                <ion-card-content class="menu-card">
                                    <div class="item-holder">
                                            <p class="shop-name"> Yupangco Mus... </p>
                                        <div class="item-name">Christmass Blowout</div>
                                        <div class="item-desc">Ho Ho Ho! Unbox jolly discounts this...</div>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                    </ion-col>
                    </ion-row>
      </ion-slide>  

      <ion-slide>
            <ion-row class="voucher-row">
                <ion-col class="col-holder">
                    <ion-card class="menu-image-card">
                            <img id="img-vouc" src="../../assets/imgs/YUPANGCO/voucher back.jpg" (click)="goNext()" width="100" height="100"/>
                                <ion-card-content class="menu-card">
                                    <div class="item-holder">
                                            <p class="shop-name"> Yupangco Mus... </p>
                                        <div class="item-name">YMA rains June-packed ...</div>
                                        <div class="item-desc">Rain, rain in YMA, come now and ... </div>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                    </ion-col>
                    </ion-row>
      </ion-slide>
      
      

      <ion-slide>
            <ion-row class="voucher-row">
                <ion-col class="col-holder">
                    <ion-card class="menu-image-card">
                            <img id="img-vouc" src="../../assets/imgs/YUPANGCO/OCTOBER-HANDOG-SALE-2-MAIN-POST.jpg" (click)="goNext()" width="100" height="100"/>
                                <ion-card-content class="menu-card">
                                    <div class="item-holder">
                                            <p class="shop-name"> Yupangco Mus... </p>
                                        <div class="item-name">The Gift of Music in Your Hands</div>
                                        <div class="item-desc">It’s that time of the year again!...</div>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                    </ion-col>
                    </ion-row>
      </ion-slide>  

        <ion-slide>
            
          </ion-slide>  
    </ion-slides>
      </ion-grid>

</ion-content>
