page-voucher-search-result {

    .special-name {
        font-size: 24px;
        margin-left: 17px;
        margin-top: 10px;
        font-family: 'open_sansregular';
    }

    .voucher-row{
        background: #f2f2f2;
       // border-radius: 0px 0px 5px 5px;
    }

    .col-holder {
        width: 133%;
        margin-left: 0px;
        padding: 0px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
    }

    #img-vouc {
        height: 100px;
        border-radius: 7px 7px 0px 0px;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        padding: 0px 16px;
        padding-top: 20px !important;
        padding-bottom: 7px !important;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        // padding-top: 0px;
        padding: 0px 16px;
    
    }

    ion-card-content.menu-card.card-content.card-content-md {
        margin: 0 !important;
        padding: 0px;
    }

    .item-holder{
        text-align: left;
        padding: 5px;
        font-size: 10px;
        height: 100%;

        .item-name{
            font-weight: bold;
            font-family: 'open_sansregular';
            font-size: 10px;
        }

        .item-desc {
            font-family: 'open_sansregular';
            font-size: 9.5px;
        }
    }

    ion-grid.grid{
        background: #f1efef;
    }

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    .red-header {
        background: #e01c44;
        text-align: center;
        color: #ffffff;
        // padding: 10px;
        font-size: 2.5rem;
        font-family: 'open_sansregular';
        text-transform: initial;
        
    }

    img.logo{
        width: 87px;
        padding-top: 13px;
        // padding-bottom: 5px;
    }

    ion-row.row img.img-desc {
        position: relative;
        margin: 0 auto;
    }

    img.img-desc {
        width: 360px;
    }

    span.button-inner {
        color: white;
        font-size: 1.2rem;
        // margin-top: 3px;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    button.option-btn.disable-hover.button.button-md.button-clear.button-clear-md {
        // padding-left: 6px;
        // padding-top: 9px;
        // border-bottom: 2px solid rgb(194, 191, 191);
        align-content: center;
        width: 10px;
        margin-left: 19px;
        height: 30px;
        margin-bottom: 9px;
        box-shadow: none;
    }

    input.searchbar-input {
        box-shadow: none !important;
        // border-right: solid 1px rgb(226, 223, 223);
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon{
        color: #e01c44;
    }


    .ion-searchbar#ion-search {
        margin: 0 auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    ion-row.promo-name.row {

        background: rgb(243, 241, 241);
        padding-bottom: 0px !important;
        box-shadow: none !important;
        padding-top: 0px !important;

        b {
            font-size: 2.5rem;
            font-weight: bold;
            margin-left: 22px;
            font-family: 'open_sansregular';
            // background: grey;
            // padding-bottom: 10px;
        }

        h5.title-name {
            margin-top: 7px;
        }
    }

    img.img-name{
        max-width: 100%;
        border-radius: 50%;
        margin-left: 17px;
        height: 55px;
        margin-top: 15px;
    }

    p.title-name {
        font-size: 20px;
        padding-left: 9px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    p.title-date {
        margin-top: 0px;
        padding-left: 9px;
        font-size: 13px;
        color: grey;
    }


    .desc-title{
        font-size: 18px;
        line-height: 20px;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 3px;
        font-weight: bold;
        margin-top: 10px;
        width: 100%;
    }

    .desc-desc {
        margin-top: 0px;
        padding-left: 10px;
        font-size: 14px;
        padding-right: 18px;
        width: 100%;
        text-align: justify;
        padding-bottom: 11px;
    }

    ion-col#options-icon {
        background: #fff;
    }

    page-restaurant ion-col.col-holder.col {
        /* margin-left: 6px; */
        margin: 0px !important;
        padding: 0px !important;
    }

    .voucher-row{
        background: #f2f2f2;
       // border-radius: 0px 0px 5px 5px;
    }

    ion-card-content.menu-card.card-content.card-content-md {
        margin: 0 !important;
        padding: 0px;
    }

    p.shop-name{
        font-size: 11px;
        font-weight: bold;
        // margin-top: -20px;
        text-align: start;
        // margin-bottom: 18px;
        padding-left: 0px;
        font-family: 'open_sansregular';
    }

}
