page-yupangco-branch {

    #arrow-back{
        position: relative;
        margin-top: 15px;
        margin-left: 5px;
        color: rgb(201, 188, 119);
    }

    .yupangco-header {
        padding: 7px;
        font-size: 25px;
        padding-left: 8px;
        padding-bottom: 9px;
        padding-top: 11px;
        font-family: 'open_sansregular';
        margin-top: 2px;

    }

    img.img-name{
        max-width: 100%;
        // border-radius: 50%;
        margin-left: -11px;
        height: 45px;
        margin-top: 6px;
    }

    ion-row.head-row.row {
        border-bottom: 1px solid rgb(228, 224, 224);
    }

    .desc-title{
        font-size: 21px;
        line-height: 20px;
        padding-left: -12px;
        padding-top: 0px;
        margin-bottom: 8px;
        font-weight: bold;
        margin-top: 6px;
        width: 100%;
        text-align: start;
    }

    .desc-desc {
        margin-top: -23px;
        padding-left: 29px;
        font-size: 16px;
        padding-right: 0px;
        width: 100%;
        position: relative;
        text-align: justify;
    }

    .desc-tel {
        margin-top: -21px;
        padding-left: 29px;
        font-size: 16px;
        padding-right: 0px;
        width: 100%;
        position: relative;
        text-align: justify;
    }

    .desc-email {
        margin-top: -21px;
        padding-left: 29px;
        font-size: 16px;
        padding-right: 0px;
        width: 100%;
        position: relative;
        text-align: justify;
    }

    .special-name {
        font-size: 23px;
        margin-left: 17px;
        margin-top: 4px;
        font-family: 'open_sansregular';
    }

    ion-col#col-loca {
        margin-left: -156px;
    }

    ion-icon#icon-loca {
        font-size: 20px;
        color: rgb(201, 188, 119);
    }

    ion-slide.swiper-slide.swiper-slide-next {
        position: relative;
    }

    ion-slide.menu-slide.swiper-slide.swiper-slide-active {
        width: 173px !important;
        margin-right: 0px !important;
        // padding-right: 100px !important;
    }


    .col-holder-menu {
        width: 238%;
        margin-left: 63px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;
        padding-top: 2px;

    }

    .col-holders {
        width: 132%;
        margin-left: 117px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder {
        width: 133%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
    }

    ion-row.head-body.row {
        background: #f2f2f2;
    }

    ion-card-name.card-content.card-content-md {
        padding-bottom: 0px;
    }

    input.searchbar-input {
        box-shadow: none !important;
        // border-right: solid 1px rgb(226, 223, 223);
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon{
        color: #e01c44;
    }


    .ion-searchbar#ion-search {
        margin: 0 auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    ion-row.promo-name.row {

        background: rgb(243, 241, 241);
        padding-bottom: 0px !important;
        box-shadow: none !important;
        padding-top: 0px !important;

        b {
            font-size: 2.3rem;
            font-weight: bold;
            margin-left: 17px;
            font-family: 'open_sansregular';
            // background: grey;
            // padding-bottom: 10px;
        }

        h5.title-name {
            margin-top: 7px;
        }
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: rgb(201, 188, 119);
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        
    }


}
