
<ion-content>

    <ion-grid no-padding>
        <ion-row class="head-row">

            <ion-col col-2>
                <button ion-button icon-only (click)="goBack()" clear>
                    <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
                  </button>
          </ion-col>

            <ion-col col-6>
              <div class="yupangco-header">
                  Yupangco
                </div>
            </ion-col>
  
            <ion-col col-4>
                  <img class="img-name" src="../../assets/imgs/YUPANGCO/yupangco logo.png" alt="img">
            </ion-col>
  
        </ion-row>

        <ion-row no-padding>
            <ion-col col-10 class="search-bar" id="search-bar">
               <ion-searchbar placeholder="Branches name" class="ion-search" id="ion-search" (click)="navigateTo()"> </ion-searchbar> 
            </ion-col>
    
            <ion-col col-2 class="options-icon" id="options-icon">
                <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
                <ion-icon name="ios-options-outline"></ion-icon>
                </button>  
            </ion-col>
          </ion-row>
          <ion-row class="promo-name">
            <h5 class="title-name"><b>Branches</b></h5>
          </ion-row>

        <ion-row class="head-body" no-padding>

                <div class="special-name">
                        Metro Manila School Centers
                </div>
        <ion-slides slidesPerView="2" >
            <ion-slide>
                <div class="col-holder">
                    <ion-card class="menu-image-card">
            <img class="img-desc" src="../../assets/imgs/YUPANGCO/yupangco 262x147.jpg" alt="img" width="262" height="147">
       

            <ion-card-content class="menu-card-name">
                <div class="desc-title"> YUPANGCO MA...</div>
                    <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
                    <ion-col col-11>
                <div class="desc-desc">2nd Floor G.A. Yupangco Buildi... </div> </ion-col>
                    <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
                    <ion-col col-11>
                <div class="desc-tel">Tel. Nos.: 899-9595..</div></ion-col>
                    <!-- <ion-col col id="col-loca"><ion-icon id="icon-loca" name="ios-globe"></ion-icon></ion-col>
                    <ion-col col-11>
                <div class="desc-email">www.yupangcomusicacademy.com</div></ion-col> -->
            </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>

        
            <ion-slide>
                <div class="col-holder-menu">
                        <ion-card class="menu-image-card">
                    <img class="img-desc" src="../../assets/imgs/YUPANGCO/drums-primary-1 262x147.jpg" alt="img" width="262" height="147">

                <ion-card-content class="menu-card-name">
              <div class="desc-title"> SM NORTH EDSA</div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">AX1-251, 2/F The Annex, SM City Nor... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. No.: 355-7279</div></ion-col>
          </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>

          <ion-slide>
                <div class="col-holders">
                        <ion-card class="menu-image-card">
                    <img class="img-desc" src="../../assets/imgs/YUPANGCO/guitar-1 262x147.jpg" alt="img" width="262" height="147">

                <ion-card-content class="menu-card-name">
              <div class="desc-title"> SM MEGAMALL</div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">565-567 (B), 5/F Building B, SM... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. No.: (632) 63...</div></ion-col>
        </ion-card-content>
            </ion-card>
        </div>
            </ion-slide>
            <ion-slide>

            </ion-slide>
        </ion-slides>

        
          <div class="special-name">
              Regional School Centers
          </div>

          <ion-slides slidesPerView="2" >
                <ion-slide>
                    <div class="col-holder">
                        <ion-card class="menu-image-card">
                <img class="img-desc" src="../../assets/imgs/YUPANGCO/guitar-primary-1 262x147.jpg" alt="img" width="262" height="147">

                <ion-card-content class="menu-card-name">
              <div class="desc-title"> SM CITY ILOILO</div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">Unit 89, Lower Ground Floor, SM City Iloilo... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. Nos.: (033) 330-1511</div></ion-col>
            </ion-card-content>
                </ion-card>
            </div>
                </ion-slide>

                <ion-slide>
                        <div class="col-holder-menu">
                                <ion-card class="menu-image-card">
                            <img class="img-desc" src="../../assets/imgs/YUPANGCO/piano-intermediate-1 262x147.jpg" alt="img" width="262" height="147">
        
                        <ion-card-content class="menu-card-name">
              <div class="desc-title"> YAMAHA DAVAO  </div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">Y-L Finance Building, J. P. Laurel Avenue,... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. Nos.: (082) 221-4134 / (082) 3...</div></ion-col>
        </ion-card-content>
    </ion-card>
</div>
</ion-slide>
<ion-slide>

</ion-slide>
</ion-slides>
        
        
          <div class="special-name">
              Franchise School Centers
          </div>

          <ion-slides slidesPerView="2" >
                <ion-slide>
                    <div class="col-holder">
                        <ion-card class="menu-image-card">
                <img class="img-desc" src="../../assets/imgs/YUPANGCO/violin-primary-1 262x147.jpg" alt="img" width="262" height="147">

                <ion-card-content class="menu-card-name">
              <div class="desc-title"> CONGRESSIONAL</div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">4TH Floor Barrington Place, 27 Congressional ... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. No.: 453-4400</div></ion-col>
        </ion-card-content>
    </ion-card>
</div>
    </ion-slide>

    <ion-slide>
            <div class="col-holder-menu">
                    <ion-card class="menu-image-card">
                <img class="img-desc" src="../../assets/imgs/YUPANGCO/wind-intermediate-1 262x147.jpg" alt="img" width="262" height="147">

            <ion-card-content class="menu-card-name">
              <div class="desc-title"> COMMONWEALTH  </div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">G/F Grand Royale Place, Don Antonio Drive, Commonwea... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. No.: 931-7570</div></ion-col>
        </ion-card-content>
    </ion-card>
</div>
</ion-slide>

<ion-slide>
        <div class="col-holders">
                <ion-card class="menu-image-card">
            <img class="img-desc" src="../../assets/imgs/YUPANGCO/yupangco 262x147.jpg" alt="img" width="262" height="147">

        <ion-card-content class="menu-card-name">
              <div class="desc-title">BIÑAN LAGUNA </div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">2nd Floor Umbria Commercial Cen... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Cellphone No.: 0956 1567256</div></ion-col>
        </ion-card-content>
    </ion-card>
</div>
</ion-slide>
<ion-slide>

</ion-slide>
</ion-slides>

          <div class="special-name">
              Dealer School Centers
          </div>

          <ion-slides slidesPerView="2" >
                <ion-slide>
                    <div class="col-holder">
                        <ion-card class="menu-image-card">
                <img class="img-desc" src="../../assets/imgs/YUPANGCO/voice-primary-1 262x147.jpg" alt="img" width="262" height="147">

                <ion-card-content class="menu-card-name">
              <div class="desc-title"> GEN SAN</div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">Kaman Building, J. Catolico Aven... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. No: (083) 554 1704</div></ion-col>
        </ion-card-content>
    </ion-card>
</div>
    </ion-slide>

    <ion-slide>
            <div class="col-holder-menu">
                    <ion-card class="menu-image-card">
                <img class="img-desc" src="../../assets/imgs/YUPANGCO/violin-intermediate-1 262x147.jpg" alt="img" width="262" height="147">

                <ion-card-content class="menu-card-name">
              <div class="desc-title"> ASTRO IZNART... </div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">Astro Trade, Jamerlan Build... </div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. No: (033) 336 0632</div></ion-col>
        </ion-card-content>
    </ion-card>
</div>
    </ion-slide>

    <ion-slide>
            <div class="col-holders">
                    <ion-card class="menu-image-card">
                <img class="img-desc" src="../../assets/imgs/YUPANGCO/yupangco 262x147.jpg" alt="img" width="262" height="147">

            <ion-card-content class="menu-card-name">
              <div class="desc-title">ASTRO JARO ...</div>
              <ion-col col id="col-loca"><ion-icon id="icon-loca" name="pin"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-desc">Jaro Commercial Compl...</div> </ion-col>
            <ion-col col id="col-loca"><ion-icon id="icon-loca" name="md-call"></ion-icon></ion-col>
            <ion-col col-11>
            <div class="desc-tel">Tel. No.: (033) 329 0853</div></ion-col>
        </ion-card-content>
    </ion-card>
</div>
    </ion-slide>

    <ion-slide>
    
        </ion-slide>
    </ion-slides>

          </ion-row>
        </ion-grid>
    <!-- <div>&nbsp;</div>
    <div>&nbsp;</div> -->

</ion-content>
