<ion-header class="head-menu">
    <ion-toolbar class="header-holder">
        <button ion-button left menuToggle="TipMenu2" (click)="menu()">
            <ion-icon id="menu-name" name="menu"></ion-icon>
        </button>
        <ion-row *ngFor="let merchant of merchants">
          <ion-col col-8>
              <div class="pink-header">
                    <img class="merchant-logo" src="{{merchant.merchant_logo}}" alt="img">
                    <span id="merchant-name">{{ (merchant.merchant_name.length > 15)? (merchant.merchant_name | slice:0:15)+'..':(merchant.merchant_name) }}</span>
                  
              </div>
          </ion-col>
  
          <ion-col col-2>
              <button ion-button icon-only (click)="openCart()" class="btn-cart" clear>
                  <p class="cart-num">{{ counterFront }}</p>
                  <ion-icon class="cart-logo" name="cart"></ion-icon>
                  </button>
          </ion-col>
  
          <ion-col col-2>
          <button ion-button id="reserve-btn" icon-only (click)="goToReservation()" clear>
          <ion-icon id="arrow-back" name="calendar"></ion-icon>
              </button>
      </ion-col>
      </ion-row>
        </ion-toolbar>
</ion-header>

<ion-content #content class="content-holder">

        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-grid no-padding>
            <ion-row class="special-row-icon"> 
              <ion-col col-10 class="search-bar" id="search-bar">
                  <ion-searchbar placeholder="Cuisine or a restaurant name" class="ion-search" id="ion-search" (click)="navigateTo()"> </ion-searchbar> 
               </ion-col>

               <ion-col col-2 class="options-icon" id="options-icon">
                  <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
                  <ion-icon name="ios-options-outline"></ion-icon>
                  </button>  
              </ion-col>
            </ion-row>

<!-- ********************************************************menu********************************************** -->

            <div class="special-name">Menu</div>

            <div class="special-name" *ngFor="let name of category">
                {{ name.cat_name }}
            </div>

            <ion-row>
                <ion-col col-6 class="menu-col-menu" *ngFor="let order of specialOffers">
                    <ion-card class="menu-image-card">
                    
                        <img id="img-resto" (click)="openProductDetail(order.product_id)" src="{{ order.url }}" width="150" height="150"  />
                      
                      <ion-card-content class="menu-card-name" (click)="openProductDetail(order.product_id)">
                          <ion-col >

                              <p class="title-name">{{ (order.product_name.length > 12)? (order.product_name | slice:0:12)+'...':(order.product_name) }}</p>
                              <p class="price-menu">php {{ order.price_amount }}</p>
                              <p class="title-desc">{{ (order.product_desc.length > 55)? (order.product_desc | slice:0:55)+'...':(order.product_desc) }}</p>
                             
                            </ion-col>
                      </ion-card-content>
                        
                        <ion-col class="input-btn" col-12>
                            <ion-col col-4>
                                <ion-icon id="remove-icon" (click)="remove(order.product_id)" name="md-remove"></ion-icon>
                            </ion-col>
                            <ion-col  col-4>
                                <p (click)="addtoOrder(order.product_id, order.price_amount)" id="input-name">{{ counter }}</p>
                            </ion-col>
                            <ion-col col-4>
                                <ion-icon id="add-btn" (click)="add(order.product_id)" name="md-add"></ion-icon>
                            </ion-col>
                            
                        </ion-col>
                      
                    </ion-card>
                </ion-col>
              </ion-row>

              
                    
<!--********************************************************************** end of menu******************************************************************* -->

        </ion-grid>
  </ion-content>

  <ion-menu id="TipMenu2" persistent="true" [content]="content" >
        
        <ion-content>
          <ion-list>
            <div class="label-name">
                    <ion-icon id="img-icon" name="ios-contact"></ion-icon>
            <label id="label-name">
              {{firstName}} / {{lastName}}
            </label>
          </div>

          <button ion-item>
            <ion-icon id="label-order" name="md-chatbubbles">
              <p id="order-name">Contact us</p>
            </ion-icon>
        </button>

        <ion-row>
        <ion-col col-10>
            <button ion-item> 
                <ion-icon id="label-order" name="list-box"> 
                  <p id="order-name">Menu</p>
                </ion-icon>
            </button>
        </ion-col>

        <ion-col col-2>
            <button ion-item *ngIf=closeToggle (click)="open_Toggle()"> 
                <ion-icon id="arrow-icon" name="md-arrow-dropdown"></ion-icon>
            </button>
            <button ion-item *ngIf=openToggle (click)="close_Toggle()"> 
                <ion-icon id="arrow-icon" name="md-arrow-dropup"></ion-icon>
            </button>
        </ion-col>
        
    </ion-row>
    <ion-row>
            <div *ngIf=openopen class="drop-cate">
                    <button ion-item (click)="openMenu(6)">
                            
                            <label id="drop-name">
                                Appetizers
                            </label>
                            
                        </button>
                            <button ion-item (click)="openMenu()">
                            
                            <label id="drop-name">
                                Beef, Chicken & Food
                            </label>
                       
                          </button>
                          <button ion-item (click)="openMenu(10)">
                            
                            <label id="drop-name">
                                Desserts
                            </label>
                          
                          </button>
                            <button ion-item (click)="openMenu(9)">
                               
                            <label id="drop-name">
                                Drinks
                            </label>
                        
                          </button>
                          <button ion-item (click)="openMenu()">
                               
                            <label id="drop-name">
                                Noodles & Rice
                            </label>
                       
                          </button>
                          <button ion-item (click)="openMenu(8)">
                                
                            <label id="drop-name">
                                Pork
                            </label>
                       
                          </button>
                          <button ion-item (click)="openMenu(12)">
                                
                            <label id="drop-name">
                                Salads & Vegetables
                            </label>
                       
                          </button>
                          <button ion-item (click)="openMenu(7)">
                               
                            <label id="drop-name">
                                Soups
                            </label>
                        
                          </button>  
            </div>
    </ion-row>
            
           
            
            
            <button ion-item menuClose (click)="openToWallet('WalletFabPage')">
                <ion-icon id="label-order" name="ios-megaphone">
                  <p id="order-name">Promo </p>
                </ion-icon>
            </button>
            
            <button ion-item  menuClose (click)="openPage('ReservationPage')" >
                <ion-icon id="label-order" name="calendar">
                  <p id="order-name">Reservation </p>
                </ion-icon>
            </button>

          <button ion-item menuClose (click)="openPage()">
            <ion-icon id="label-order" name="md-albums">
              <p id="order-name">Reservation History </p>
            </ion-icon>
        </button>

        <button ion-item menuClose (click)="openPage()">
            <ion-icon id="label-order" name="md-pricetag">
              <p id="order-name">Special Offers</p>
            </ion-icon>
        </button>

        <button ion-item  menuClose (click)="openPage('ReservationPage')" >
            <ion-icon id="label-order" name="md-pricetags">
              <p id="order-name">Voucher </p>
            </ion-icon>
        </button>

        <button ion-item (click)="navigateTo()">
            <label id="label-setting">
                About us
            </label>
        </button>
            <button ion-item (click)="navigateTo()">
            <label id="label-setting">
                Setting
            </label>
          </button>
          <button ion-item (click)="navigateTo()">
            <label id="label-setting">
                FAQ
            </label>
          </button>
            <button ion-item (click)="navigateTo()">
            <label id="label-setting">
                Terms & Conditions / Privacy
            </label>
          </button>
          </ion-list>
        </ion-content>
      </ion-menu>
  
      <!-- <ion-nav content [root]="rootPage"></ion-nav> -->

      <!--********************************************************************** end of sidemenu*******************************************************************  -->

      