page-menu-category {

    ion-header.head-menu.header.header-md {
        border-bottom: 1px solid rgb(241, 239, 239);
        padding-bottom: 0px !important;
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: relative;
        width: 100%;
        height: 5px;
        background-repeat: repeat-x;
        content: "";
    }

    b#price-bold {
        margin-left: -19px;
        position: absolute;
        background: #e01c44;
        padding-left: 10px;
        width: 77px;
        margin-top: -51px;
        color: #f2f2f2;
    }

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    #arrow-back{
        position: relative;
        margin-top: 10px;
        margin-left: -13px;
        color: #e01c44;
    }

    #menu-name{
        color: #e01c44;
        font-size: 2.2rem;
        margin-top: 2px;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-left: 5px;
        margin-top: 0px !important;
        background:  rgb(255, 255, 255);
        
    }

    span#merchant-name {
        top: -6px;
        position: relative;
        left: -16px;
        font-size: 16px;
    }

    img.merchant-logo {
        max-width: 100%;
        height: 28px;
        top: 0px;
        left: -22px;
        position: relative;
    }

    img.img-name{
        max-width: 100%;
        margin-left: -23px;
        height: 45px;
        margin-top: 6px;
        left: 30px;
        position: relative;
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    .searchbar-md .searchbar-input {
        padding: 6px 43px;
    }


    input.searchbar-input {
        box-shadow: none !important;
        margin-bottom: 0px !important;
        border-right: 1px solid rgb(241, 239, 239); 
        padding-bottom: 0px;
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        // border-bottom: solid 1px #ffffff;
    }

    

    ion-col#search-bar{
        padding: 0px !important;
    }

    

    .pink-header {
        padding: 7px;
        font-size: 23px;
        // padding-left: 31px;
        padding-bottom: 9px;
        padding-top: 9px;
        font-family: 'open_sansregular';
        margin-top: 2px;
        text-align: center;
    }

    ion-col.col {
        padding: 0px;
    }

    ion-col.name-shop.col {
        padding: 0px !important;
        margin: 0 auto;
        position: relative;
        display: block;
        border-bottom: 1px solid rgb(241, 239, 239);
    }

    
    ion-row.special-row.row{
        background: rgb(241, 239, 239);
        // padding-right: -4px !important;
        padding-top: 0px !important;
    }

    ion-row.special-row-icon.row{
        // background: rgb(241, 239, 239);
        padding-right: -4px !important;
        padding-top: 0px !important;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        padding: 0px 16px;
        padding-top: 20px !important;
        padding-bottom: -1px !important;
    }

    

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
    }

   

    .special-name {
        font-size: 24px;
        margin-left: 17px;
        margin-top: 10px;
        font-family: 'open_sansregular';
        width: 100%;
        background: rgb(241, 239, 239);
    }

    .cate-name {
        font-size: 20px;
        //margin-left: -65px;
        margin-top: 20px;
        //margin-bottom: 4px;
        margin: 0 15px;
        font-family: 'open_sansregular';
    }

    .appe-name {
        font-size: 20px;
        margin-left: 18px;
        margin-top: -30px;
        margin-bottom: 4px;
        font-family: 'open_sansregular';
    }
    
    p.free-name {
        background: #e01c44;
        width: 116px;
        display: block;
        margin-top: -83px;
        padding-left: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: white;
        font-family: 'open_sansregular';
        z-index: 999;
        bottom: -212px;
        position: relative;
        text-align: left;
        text-transform: capitalize;
    }

    p.time-date {
        background: transparent;
        width: 45px;
        position: relative;
        display: block;
        /* margin-top: 0px; */
        /* padding-left: 4px; */
        padding-top: 4px;
        padding-bottom: 4px;
        /* text-align: center; */
        margin-left: 207px !important;
        font-family: 'open_sansregular';
        float: right;
        z-index: 999;
        bottom: -51px;
        height: 50px;
    }
// }
    p.mini-deli {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
    }

    p.title-name {
        font-size: 1.6rem !important;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: -10px;
        text-align: start;
        margin-bottom: 1px;
        font-family: 'open_sansregular';
    }
    
    ion-card-content.menu-card-name.card-content.card-content-md {
        // padding-top: 0px;
        padding: 45px 16px;
    }

    ion-card-content.menu-card-name2.card-content.card-content-md {
        // padding-top: 0px;
        padding: 15px 16px;
    }

    ion-card-content.menu-card-name3.card-content.card-content-md {
        // padding-top: 0px;
        padding: 20px 15px 5px 15px;
    }

    p.title-price {
        font-size: 1.8rem;
        font-weight: bolder;
        text-align: start;
        font-family: 'open_sansregular';
        text-transform: capitalize;
    }

    p.title-desc {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
        text-align: justify;
        margin-bottom: -4px;
        height: 51px;
    }

    p.free-deli {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        color: black;
        font-family: 'open_sansregular';
    }

    #img-resto{
        margin: 0 auto !important;
        padding: 0px !important;
        margin-left: 0px !important;
        // margin-right: 0px !important;
    }

    .special-slide .col-holder {
        width: 133%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    ion-slides {
        display: block;
        width: 100%;
        height: 100%;
    }

    ion-col.description-holder.col {
        height: 102px !important;
        position: relative;
        display: block;
    }

    ion-slide.swiper-slide.swiper-slide-next {
        position: relative;
    }

    ion-slide.menu-slide.swiper-slide.swiper-slide-active {
        width: 173px !important;
        margin-right: 0px !important;
        // padding-right: 100px !important;
    }

    .promotion-slider ion-slide.swiper-slide {
        width: 236px !important; 
    }

    .cat-slider ion-slide.swiper-slide {
        width: 236px !important; 
    }


    .col-holder-menu {
        width: 238%;
        margin-left: 63px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;
        padding-top: 2px;

    }

    .special-slide .col-holders {
        width: 132%;
        margin-left: 117px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .special-slide .col-holder-name {
        width: 240%;
        margin-left: 171px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    img#img-resto {
        width: 262px;
        height: 147px;
    }

    // .col-holder-promo {
    //     width: 157%;
    //     margin-left: 5px;
    //     position: relative;
    //     display: block;
    //     margin-right: 0px !important;
    // }

    // .col-holder-menu-promo {
    //     width: 258%;
    //     margin-left: 109px;
    //     position: relative;
    //     display: block;
    //     padding-right: 195px !important;
    //     margin-right: 5px !important;

    // }

    // .col-holders-promo {
    //     width: 149%;
    //     margin-left: 201px;
    //     position: relative;
    //     display: block;
    //     margin-right: 0px !important;
    // }

    // .col-holder-name-promo {
    //     width: 264%;
    //     margin-left: 298px;
    //     position: relative;
    //     display: block;
    //     padding-right: 195px !important;
    //     margin-right: 5px !important;

    // }

    .voucher-row{
        background: #f2f2f2;
       // border-radius: 0px 0px 5px 5px;
    }


    ion-card-content.menu-card.card-content.card-content-md {
        margin: 0 !important;
        padding: 0px;
    }

    #img-vouc {
        height: 100px;
        border-radius: 7px 7px 0px 0px;
    }

    ion-col.col-holder.col {
        /* margin-left: 6px; */
        margin: 0px !important;
        padding: 0px !important;
    }

    .item-holder{
        text-align: left;
        padding: 5px;
        font-size: 10px;
        height: 100%;

        .item-name{
            font-weight: bold;
            font-family: 'open_sansregular';
            font-size: 10px;
        }

        .item-desc {
            font-family: 'open_sansregular';
            font-size: 9.5px;
        }
    }

    $black: #343838;
$blue: #00DFFC;
$dullWhite: #f6f6f6;
$easing: cubic-bezier(.6, .05, .28, .91);
* {
    box-sizing: border-box;
}

// body {
//     background-color: $black;
//     font-size: 16px;
// }

#page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#title {
    color: $dullWhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

#btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: left 500ms $easing;
    div {
        width: 35px;
        height: 2px;
        margin-bottom: 8px;
        background-color: $blue;
        transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
    }
}

#btn.active {
    left: 230px;
    div {
        background-color: $black;
    }
    #top {
        transform: translateY(10px) rotate(-135deg);
    }
    #middle {
        opacity: 0;
        transform: rotate(135deg);
    }
    #bottom {
        transform: translateY(-10px) rotate(-45deg);
    }
}

#box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 275px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: $dullWhite;
    color: $black;
    transition: all 350ms $easing;
}

#box.active {
    left: 0px;
    opacity: 1;
}

#items {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .item {
        position: relative;
        cursor: pointer;
        font-size: 2em;
        padding: 15px 30px;
        transition: all 250ms;
        &:hover {
            padding: 15px 45px;
            background-color: transparentize($black, .8);
        }
    }
}

#btn, #btn * {
    will-change: transform;
}

#box {
    will-change: transform, opacity;
}

// Side menu

ion-app.android {
    font-family: 'open_sansregular' !important;
    }

.card-title-md, p, span, ion-col, ion-segment-button, .item-md{
    font-family: 'open_sansregular' !important;
}

.toolbar-md-pantone .toolbar-background-md {
    background: #DA291C;
}

.link-menu-bar {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding-top: 5px;
    padding: 5px 2px;
    text-align: center;
    opacity: 0.8;
}

.link-menu-bar span {
    font-size: 42%;
    display: block;
    height: 14px;
    display: block;
    overflow: hidden;
}
.link-menu-bar.link-menu-bar-active {
    opacity: 1;
    background: #ed3b3b;
}
.link-menu-bar img, .link-menu-bar ion-icon {
    height: 21px;
    margin: 0 auto;
}

.myrow{
    width: 10%;
}

.myFlag{
    height: 15px;
    width: 25px;
    margin-top: 0px;

}

.ion-page{
    top: -4px;
    height: 101%;
}

.tabs-md .tab-button[aria-selected=true]{
    color: black;
}

.myLogo{
    height: 25px;
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 10px;
}

ion-header {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
}

.toolbar-md{
    height: 50px !important;
    min-height: 50px;
}

.my-style-for-modal{
    font-size: 1.5rem;
}

    label#label-name {
        height: 50px;
        padding-top: 100px;
        color: #fff;
        padding-left: 15px; 
        font-size: 17px; 
        font-family: 'open_sansregular';
    }

    .label-name{
        background: #e01c44;
        height: 155px;
        padding-top: 122px;
    }

    #label-order{
        color: grey;
        font-size: 25px;
        padding-left: 7px;
    }

    p#order-name {
        padding-left: 44px;
        position: absolute;
        top: 14px;
        font-size: 17px;
        font-family: 'open_sansregular';
        color: black !important;
        // font-weight: bold;
    }

    label#label-setting {
        padding-left: 9px;
        font-size: 17px;
    }

    #img-icon {
        position: absolute;
        border-radius: 50%;
        z-index: 999;
        height: 87px;
        display: block;
        margin-left: 113px;
        top: 20px;
        font-size: 95px;
        color: #f2f2f2;
    }

    .item-inner, ion-item {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        }

    //select
    ion-item.menu-select.item.item-block.item-md.item-select {
        position: absolute;
        top: 215px;
        align-items: flex-end; 
        // float: right;
        // left: 26px;
        // top: 210px;
        left: 252px;
        width: 70px;
    }

    .select-md {
        padding: 13px 8px 13px 0px;
    }

    .select-md .select-icon .select-icon-inner {
        left: -16px;
        top: 50%;
        margin-top: -3px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #999;
        pointer-events: none;
    }

    #label-order-menu{
        color: grey;
        font-size: 25px;
        padding-left: 22px;
    }

    p#order-name-menu {
        padding-left: 44px;
        position: absolute;
        top: -12px;
        font-size: 17px;
        font-family: 'open_sansregular';
        color: black !important;
        // font-weight: bold;
    }

    ion-row.menu-row.row {
        margin: 13px 1px;
        /* border-bottom: 1px solid #ded2d2; */
    }

    // DropDown Category

    #arrow-icon {
        color: grey;
        font-size: 25px;
        // padding-left: 10px;
    }

    label#drop-name {
        margin-left: 58px;
        font-size: 16px;
        font-family: 'open_sansregular';
    }

    // p#drop-name {
    //     margin-left: 58px;
    //     font-size: 16px;
    //     font-family: 'open_sansregular';
    // }

    ion-icon#drop-name-icon{
        color: grey;
        font-size: 12px;
        padding-left: 38px;
    }

    img.cart-logo {
        margin-top: 10px;
    }

    p.cart-num {
        position: absolute;
        top: -9px;
        left: 37px;
        font-size: 12px;
        border-radius: 50%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 3px;
        background: #e01c44;
        color: white;
    }

    button.btn-cart.disable-hover.button.button-md.button-clear.button-clear-md {
        // margin-top: 2px;
        // margin-bottom: 0px;
        // height: 44px;
        // margin-right: 7px;
        // margin-left: -4px;
        // padding-right: 6px;
        // padding-left: 3px;
        color: black;
        padding-top: 10px;
        padding-right: 6px;
        padding-left: 3px;
        font-size: 1.7rem;
        margin-top: 9px
    }

    p.price-menu {
        font-size: 1.8rem;
        padding-left: -3px;
        padding-top: -6px;
        font-weight: bolder;    
        margin-bottom: 0px;
    }

    button.voucher-btn.disable-hover.button.button-md.button-default.button-default-md {
        width: 60px;
        /* position: absolute; */
        margin: 10px auto;
        /* top: 261px; */
        left: 31px;
        height: 30px;
        border-radius: 7px;
        text-transform: inherit;
        font-weight: bold;
        font-size: 13px;
        background: #e01c44;
    }

    ion-col.input-btn.col {
        margin: 0px;
        /* padding: 32px; */
        // padding-top: 10px;
        padding-bottom: 16px;
        padding-left: 34%;
        top: 277px;
        padding-bottom: -1px;
        position: absolute;
        // border: 1px solid #e01c44;
        right: 25px;
        height: 23px;
        // width: 19px;
        border-radius: 5px;
        // width: 71%;
    }

    .ion-md-add:before {
        content: "\f273";
        // position: absolute;
        top: 0px;
        right: 0px;
        background: #e01c44;
        padding-left: 10px;
        padding-right: 10px;
        padding: 7px;
        color: white;
        border-radius: 0px 5px 5px 0px;
        width: 30px;
        text-align: -webkit-center;
    }

    .ion-md-remove:before {
        content: "\f368";
        // position: absolute;
        top: 1px;
        left: 0px;
        background: #e01c44;
        padding-left: 7px;
        padding-right: 7px;
        padding: 7px;
        color: white;
        border-radius: 5px 0px 0px 5px;
        width: 30px;
        text-align: -webkit-center;
    }

    p#input-name {
        position: absolute;
        top: -1px;
        left: 40px;
        font-size: 18px;
        padding-left: 8%;
        line-height: 1.4;
        border-top: #e01c44 1px solid;
        border-bottom: #e01c44 1px solid;
        padding-right: 10%;
    }

    ion-icon#add-btn {
        position: absolute;
        top: -1px;
        font-size: 13px;
        left: 75px;
    }

    ion-icon#remove-icon {
        position: absolute;
        top: -1px;
        font-size: 13px;
        left: -1px;
    }

    ion-col.add-btn.col {
        padding-left: 2px;
    }

    .swiper-slide img{
        width: 100%;
        height: 100%;
    }

    .back-holder{
        text-align: right;
        margin-top: 5px;
    }

    button#reserve-btn {
                /* margin-right: -30px; */
                position: absolute;
                right: -7px;
                top: 2px;
                font-size: 16px;
            }

    .icon-holder{
        width: 20px;
    }

    .content-holder{
        background: rgb(241, 239, 239);
    }

    .options-icon{
        background: white;
        height: 4.2rem;
    }
    
    

}
