page-special-offer {

//Style for refresher//
ion-refresher {
  top: 49px;
}

.scroll-content, .fixed-content {
  margin-top: 49px !important;
}

      //ION Header Style Start Here//
      .toolbar-md{
        height: 50px !important;
        min-height: 50px;
    }

    ion-header.head-menu.header.header-md {
        border-bottom: 1px solid rgb(241, 239, 239);
        padding-bottom: px !important;
    }

    #menu-name{
        color: #e01c44;
        font-size: 2.2rem;
        margin-top: 2px;
    }

    img.img-name{
        max-width: 100%;
        //height: 30px;
        margin-top: 10px;
    }

    p.cart-num {
        position: absolute;
        top: -9px;
        left: 37px;
        font-size: 12px;
        border-radius: 50%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 3px;
        background: #e01c44;
        color: white;
    }

    button.btn-cart.disable-hover.button.button-md.button-clear.button-clear-md {
        color: black;
        padding-top: 10px;
        padding-right: 6px;
        padding-left: 3px;
        font-size: 1.7rem;
        margin-top: 2px
    }

    // .pink-header {
    //     padding: 3px 8px;
    //     font-size: 16px;
    //     padding-left: -2px;
    //     font-family: 'open_sansregular';
    //     top: 12px;
    //     position: relative;
    // }

    img.cart-logo {
        margin-top: 10px;
    }
    
    // #arrow-back{
    //     position: relative;
    //     margin-top: 10px;
    //     margin-left: 6px;
    //     color: #e01c44;
    // }

    ion-col.col {
        padding: 0px;
    }

    //ION Header Style End Here//

    .menu-btn {
      z-index: 10;
      position: absolute;
      top: inherit;
    }

    .red-header {
      background: #e01c44;
      text-align: center;
      color: #ffffff;
      font-size: 2.5rem;
      font-family: "Brush Script Std";
      text-transform: initial;
    }

    img.logo {
      width: 87px;
      padding-top: 13px;
    }

    ion-row.row img.img-desc {
      position: relative;
      margin: 0 auto;
    }

    img.img-desc {
      width: 360px;
    }

    .card-title-md, p, span, ion-col, ion-segment-button, .item-md{
      font-family: 'open_sansregular' !important;
  }

    .ion-ios-options-outline:before {
      content: "\f1d8";
      color: #e01c44;
      font-size: 20px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    ion-col.search-input.col {
      padding: 0px 0px;
      width: 55px;
    }

    input.searchbar-input {
      box-shadow: none !important;
    }

    #ion-search {
      width: 106%;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      box-shadow: none !important;
      border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon {
      color: #e01c44;
    }

    .ion-searchbar#ion-search {
      margin: 0 auto;
      display: block;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-top: 0px;
      box-shadow: none !important;
    }

    .prod-price {
      color: #ffffff;
      margin-left: 5px;
      font-size: 1rem;
      text-align: left;
      margin-bottom: 0;
      position: absolute;
      bottom: 27px;
      background: #e14543;
      padding: 0 5px;
      left: 5px;
  }

    ion-row.promo-name.row {
      background: rgb(243, 241, 241);
      padding-bottom: 0px !important;
      box-shadow: none !important;
      padding-top: 0px !important;

      b {
        font-size: 2.5rem;
        font-weight: bold;
        margin-left: 22px;
        font-family: "Open Sans";
      }

      h5.title-name {
        margin-top: 7px;
      }
    }

    // img.img-name {
    //   max-width: 100%;
    //   border-radius: 50%;
    //   margin-left: 17px;
    //   height: 55px;
    //   margin-top: 15px;
    // }

    p.title-name {
      font-size: 20px;
      padding-left: 9px;
      padding-top: 6px;
      margin-bottom: 0px;
    }

    p.title-date {
      margin-top: 0px;
      padding-left: 9px;
      font-size: 13px;
      color: grey;
    }

    .desc-title {
      font-size: 18px;
      line-height: 20px;
      padding-left: 10px;
      padding-top: 6px;
      margin-bottom: 3px;
      font-weight: bold;
      margin-top: 10px;
      width: 100%;
    }

    .desc-desc {
      margin-top: 0px;
      padding-left: 10px;
      font-size: 14px;
      padding-right: 18px;
      width: 100%;
    }

    .card-background-page {
      ion-card {
        position: relative;
        text-align: center;
      }

      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }

      .card-subtitle {
        font-size: 1em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }
    }

    span.voucher-desc {
      padding: 0 10px;
    }

    h5.title-name {
      padding: 0 11px;
    }

    .row-holder {
      .card-background-page .card-title {
        font-size: 1.5em;
        width: calc(100% - 20px);
      }
    }

    ion-card.card-background-page.card.card-md {
      box-shadow: none !important;
    }

    ion-card.menu-image-card.card.card-md {
      border-radius: 7px 7px 2px 2px;
    }

    .special-name {
      font-size: 20px;
      margin-left: -79px;
      margin-top: 40px;
      font-family: "open_sansregular";
    }

    .voucher-row {
      background: #f2f2f2;
    }

    ion-grid.grid {
      background: #f1efef;
    }

    ion-col#options-icon {
      background: #fff;
    }

    ion-col.col-holder.col {
      margin: 0px !important;
      padding: 0px !important;
    }

    ion-card.menu-image-card.card.card-md {
      box-shadow: none !important;
    }

    #img-vouc {
      height: 100px;
      border-radius: 7px 7px 0px 0px;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
      padding: 0px 16px;
      padding-top: 20px !important;
      padding-bottom: 7px !important;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
      padding: 0px 16px;
    }

    ion-card-content.menu-card.card-content.card-content-md {
      margin: 0 !important;
      padding: 0px;
    }

    .item-holder {
      text-align: left;
      padding: 5px;
      font-size: 10px;
      //height: 85px;

      .item-name {
        font-weight: bold;
        font-family: "open_sansregular";
        font-size: 10px;
      }

      .item-desc {
        font-family: "open_sansregular";
        font-size: 9.5px;
      }

      .item-desc p {
        font-family: "open_sansregular";
        font-size: 9.5px;
      }
    }

    ion-col.col-holder.col {
      margin: 0px !important;
      padding: 0px !important;
    }

    .cate-name {
      margin-left: 12px;
      font-size: 20px;
      font-family: "open_sansregular";
    }

    p.shop-name {
      font-size: 11px;
      font-weight: bold;
      text-align: start;
      padding-left: 0px;
      font-family: "open_sansregular";
    }

    .result-holder {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: -1;

      p {
        padding: 10px;
        text-align: center;
        color: #777777;
      }

      .icon-holder {
        margin: 0 auto;
        font-size: 10rem;
        color: #f1efef;
      }

      .result-label {
        font-size: 2rem;
        margin: 0 auto;
        color: #777777;
      }

      ion-grid.no-result-grid.grid {
        background: none;
      }
    }

    .prod-cat-label {
      font-size: 18px;
      font-family: 'open_sansregular';
      margin: 0 10px;
  }

  .fab-color {
    background-color: #FDD51B;
  }
}
