<!-- <ion-header class="head-menu">
    <ion-toolbar class="header-holder">
      <button ion-button left menuToggle="xyz123">
        <ion-icon id="menu-name" name="menu"></ion-icon>
       </button>
  
      <ion-row *ngFor="let merchant of merchants">
        <ion-col col-1 class="col-holder-img">
            <img
              class="img-name"
              src="{{merchant.merchant_logo}}"
              alt="img"
            />
          </ion-col>
        <ion-col col-7>
          <div class="pink-header">
              <span id="merchant-name">{{ (merchant.merchant_name.length > 15)? (merchant.merchant_name | slice:0:15)+'..':(merchant.merchant_name) }}</span>
          </div>
        </ion-col>
  
        <ion-col col-2>
          <button ion-button icon-only (click)="openCart()" class="btn-cart" clear>
              <p class="cart-num">0</p>
              <ion-icon class="cart-logo" name="cart"></ion-icon>
              </button>
      </ion-col>
  
        <ion-col col-2>
          <button ion-button icon-only (click)="goBack()" clear>
            <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
          </button>
        </ion-col>
  
      </ion-row>
  
    </ion-toolbar>
  </ion-header> -->

  <app-header-home></app-header-home>

<ion-content>
  
  <!-- <div class="div-height"></div> -->

  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-10 class="search-bar" id="search-bar">
        <ion-searchbar
          placeholder="Product name or Shop name"
          class="ion-search"
          [(ngModel)]="searchTerm"
          (ionClear)="onClear($event)"
          (input)="onSearchChange($event.target.value)"
          (change)="onChange($event)"
          id="ion-search"
        >
        </ion-searchbar>
      </ion-col>

      <ion-col *ngIf="firstFilter" col-2 class="options-icon" id="options-icon">
        <button
          ion-button
          icon-right
          class="option-btn"

          clear
        >
          <ion-icon name="ios-options-outline"></ion-icon>
        </button>
      </ion-col>

      <ion-col
        *ngIf="secondFilter"
        col-2
        class="options-icon"
        id="options-icon"
      >
        <button 
          ion-button
          icon-right
          class="option-btn"

          clear
        >
          <ion-icon name="ios-options-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <div class="vouc-name">
      <h5 class="title-name"><b>Special Offer</b></h5>

      <!-- <ng-container>
            <ion-row class="voucher-row">
              <ion-col class="col-holder" *ngFor="let special of specialOffers" col-4>
                <ion-card class="menu-image-card">
                  <img
                    id="img-vouc"
                    (click)="openProductDetail(special.product_id)"
                    src="{{ special.url }}"
                    width="100"
                    height="100"
                  />
                  <p class="prod-price">{{special.price_amount}}</p> 
                  <ion-card-content class="menu-card">
                    <div class="item-holder">
                      <div class="item-name">
                        {{
                          special.product_name.length > 15
                            ? (special.product_name | slice: 0:15) + "..."
                            : special.product_name
                        }}
                      </div>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
      </ng-container> -->

      <ng-container *ngFor="let prodCat of prodCategories" class="menu-holder">
          <div class="prod-cat-label" *ngIf="prodCat.prod && prodCat.prod.length">
            {{prodCat.cat_name}}
          </div>
          
            <!-- <ion-slides slidesPerView="3">
              <ion-slide class="slider-category-holder" *ngFor="let prod of prodCat.prod">
                <div class="col-holder-cat">
                  <ion-card class="menu-image-card">
                    <img
                      id="img-sp"
                      (click)="openBookDetail(prod.product_id)"
                      src="{{prod.url}}"
                      width="120"
                      height="120"
                    />
      
                    <ion-card-content class="menu-card-name">
                      <ion-col>
                        <p class="title-name">{{ (prod.product_name.length > 10)? (prod.product_name | slice:0:10)+'...':(prod.product_name) }}</p>
                        <p class="free-deli">{{ (prod.product_desc.length > 10)? (prod.product_desc | slice:0:10)+'...':(prod.product_desc) }}</p>
                        <p class="title-price"><span class="currency">{{prod.price_currency}}</span> {{prod.price_amount}}</p>
                      </ion-col>
                    </ion-card-content>
    
                  </ion-card>
                </div>
              </ion-slide>
  
            <ion-slide></ion-slide>
            
          </ion-slides> -->



              <ion-row class="voucher-row">
                <ion-col class="col-holder" *ngFor="let special of prodCat.prod" col-4>
                  <ion-card class="menu-image-card">
                    <img
                      id="img-vouc"
                      (click)="openProductDetail(special.product_id)"
                      src="{{ special.url }}"
                      width="100"
                      height="100"
                    />
                    <p class="prod-price">{{special.price_amount}}</p> 
                    <ion-card-content class="menu-card" (click)="openProductDetail(special.product_id)">
                      <div class="item-holder">
                        <div class="item-name">
                          {{
                            special.product_name.length > 15
                              ? (special.product_name | slice: 0:15) + "..."
                              : special.product_name
                          }}
                        </div>
                      </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>


        </ng-container>


    </div>
  </ion-grid>

  <ion-fab bottom right absolute-drag>
      <button ion-fab class="fab-color"><img src="../../assets/imgs/chicken-bacolod/chicken-bacolod-logo.jpg"></button>
      <ion-fab-list side="left">
          <button ion-fab class="fab-color" (click)="toWallet('WalletFabPage')"><img src="assets/imgs/footer-menu/wallet.png"></button>
          <button ion-fab class="fab-color" (click)="toResto('VoucherFabPage')"><img src="assets/imgs/footer-menu/coupon.png"></button>
          <button ion-fab class="fab-color" (click)="toPromo('PromoPage')"><img src="assets/imgs/footer-menu/promo.png"></button>
          <button ion-fab class="fab-color" (click)="toProduct()"><img src="assets/imgs/footer-menu/shop.png"></button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
