<div class="headers">
    <button ion-button menuToggle left class="icon-align-left">
        <!-- <ion-icon><img class="profile-ico" src="assets/icon/profile-ico.png" (click)="navigateTo('VoucherPage')"></ion-icon> -->
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
      <button ion-button menuToggle right class="icon-align-right">
          <ion-icon><img class="myFlag" src="assets/icon/ph-flag.png"></ion-icon>
      </button>
      <div class="cart-holder">
          <button (click)="openUniCart()" ion-button menuToggle right class="icon-align-right2">
          <ion-icon name=cart id="cart-home"></ion-icon>
      </button>
    </div>
      
</div>

<ion-content no-padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


  <ion-grid no-padding>        
      <ion-row class="banner-row" no-padding *ngIf="banners && banners.length">
          <ion-slides loop=true *ngIf="banners && banners.length" update=true pager=true startAutoplay=true autoplay=6000 parallax=true autoplayDisableOnInteraction=false>
            <ion-slide *ngFor="let banner of banners">
              <img class="img-banner" (click)="openAdsDetail(banner.main_ad_id)" src="{{ banner.url }}" class="img-responsive">
            </ion-slide>
          </ion-slides>
      </ion-row>

      <ion-row class="special-row-icon"> 
            <ion-col col-10 class="search-bar" id="search-bar">
                <ion-searchbar placeholder="Search" 
                class="ion-search" id="ion-search"
                [(ngModel)]="searchTerm"
                (ionClear)="onClear($event)"
                (input)="onSearchChange($event.target.value)"
                (change)="onChange($event)">
                <!-- (keyup.enter)="universalSearchEnter($event)"  -->
                </ion-searchbar> 
             </ion-col>

             <ion-col col-2 class="options-icon" id="options-icon">
                <button ion-button icon-right class="option-btn" (click)="navigateTo('UniversalSearchFilterPage')" clear> 
                <ion-icon name="ios-options-outline"></ion-icon>
                </button>  
            </ion-col>
        </ion-row>

        <!-- <p class="user-data">{{localStorageUserId}}</p>
        <p class="user-data">{{localStorageFirstName}}</p>
        <p class="user-data">{{localStorageLastName}}</p> -->
    
        <div class="voucher-holder">
                <p class="label-bg">My Apps</p> 

                <ion-slides class="bottom-slide">
                    <ion-slide>

                    <ion-row class="row-bottom-holder" >
                    
                        <ion-col  class="app-col" (click)="goToAppSearch('AppSearchPage')">
                            <div><img class="app-logo" src="../../assets/imgs/ipayu.png"></div>
                            <p class="font-logo"> App Search</p>
                        </ion-col>

                        <ion-col  class="app-col" (click)="goToApp(app.screen_name, app.merchant_id)" *ngFor="let app of apps">
                            <div><img class="app-logo" src="{{app.url}}"></div>
                            <p class="font-logo">{{ (app.merchant_name.length > 8)? (app.merchant_name | slice:0:8)+'...':(app.merchant_name) }}</p>
                        </ion-col>
                        
                    </ion-row>
                </ion-slide>
                    </ion-slides>
            <p class="label-bg">App</p>

            <ion-slides class="bottom-slide">
                <ion-slide >
                  <ion-row class="row-bottom-holder" >
                    <ion-col  class="app-col" *ngFor="let merchant_10 of merchant10" (click)="goToApp(merchant_10.screen_name, merchant_10.merchant_id)">
                      <div><img class="app-logo" src="{{ merchant_10.url }} "></div>
                      <p class="font-logo">{{ (merchant_10.merchant_name.length > 8)? (merchant_10.merchant_name | slice:0:8)+'...':(merchant_10.merchant_name) }}</p>
                  </ion-col>
                  </ion-row>
                </ion-slide>

                <!-- <ion-slide >
                  <ion-row class="row-bottom-holder" >
                    <ion-col  class="app-col" *ngFor="let merchant_20 of merchant20" (click)="goToApp(merchant_20.merchant_id)">
                      <div><img class="app-logo" src="{{ merchant_20.url }}"></div>
                      <p class="font-logo">{{ (merchant_20.merchant_name.length > 8)? (merchant_20.merchant_name | slice:0:8)+'...':(merchant_20.merchant_name) }}</p>
                  </ion-col>
                  </ion-row>
                </ion-slide> -->
                
              </ion-slides>
            </div> 

        <div class="voucher-holder">
            <p class="label-bg">Vouchers</p>
  
              <ion-slides loop=true update=true *ngIf="vouchers && vouchers.length" slidesPerView="3" speed=200> 
                  <ion-slide  *ngFor="let voucher of vouchers">
                      <ion-row class="voucher-row">
                          <ion-col class="col-holder" (click)="openVoucherDetail(voucher.id)">
                                  <ion-card class="menu-image-card">
                                  <img src="{{voucher.url}}" width="100" height="100"/>
                                  <!-- <div class="item-price">P1,500</div> -->
                                      <ion-card-content class="menu-card">
                                          <div class="item-holder">
                                              <div class="item-name">{{ (voucher.name.length > 15)? (voucher.name | slice:0:15)+'..':(voucher.name) }}</div>
                                              <div class="item-desc">{{ (voucher.description.length > 30)? (voucher.description | slice:0:30)+'..':(voucher.description) }} </div>
                                              <!-- <div class="item-detail"><img src="assets/imgs/marker.png" alt="marker" class="marker-ico"><span class="location-name">790 Chino ...</span></div> -->
                                          </div>
                                      </ion-card-content>
                                  </ion-card>
                          </ion-col>
                          </ion-row>
                  </ion-slide>
              </ion-slides>
        </div>

        <ion-row class="prod-holder voucher-holder">
          <p class="label-bg">Special Offer</p>
            <ion-slides loop=true *ngIf="products && products.length" update=true slidesPerView="3" speed=200> 
                <ion-slide *ngFor="let product of products">
                    <ion-row class="voucher-row">
                        <ion-col class="col-holder" (click)="openProductDetail(product.product_id)">
                                <ion-card class="menu-image-card">
                                    <img class="sp-image-holder" src="{{product.url}}" width="100" height="100"/>
                                    <p class="prod-price">{{product.price_amount}}</p> 
                                    <ion-card-content class="menu-card">
                                        <div class="item-holder">
                                            <div class="item-name">{{ (product.product_name.length > 1)? (product.product_name | slice:0:15)+'...':(product.product_name) }}</div>
                                            <div class="item-desc">{{ (product.merchant_name.length > 15)? (product.merchant_name | slice:0:15)+'...':(product.merchant_name) }} </div>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
          </ion-row> 

        <div class="promo-name">
        
              <h5 class="title-name">
                <b> Events/News </b> 
              </h5>
        
            <ng-container *ngFor="let promoCategory of promoCategories" class="menu-holder">
        
              <div class="cate-name" *ngIf="promoCategory.promotions && promoCategory.promotions.length">
                  {{promoCategory.trade_name}}
              </div>
              
              <ion-slides slidesPerView=2>
        
                <ion-slide *ngFor="let pro of promoCategory.promotions">
        
                  <ion-row >
                    <ion-col class="menu-col">
        
                        <ion-card class="menu-image-card">
                        
                            <img id="img-resto" (click)="openPromoDetail(pro.promo_id)" src="{{pro.url}}" />
                          
                          <ion-card-content class="menu-card-name">
                              <ion-col >
                                <p class="shop-name"> {{ (pro.merchant_name.length > 12)? (pro.merchant_name | slice:0:12)+'...':(pro.merchant_name) }} </p>
                                <p class="title-name"> {{ (pro.name.length > 16)? (pro.name | slice:0:16)+'...':(pro.name) }} </p>
                                <p class="title-desc" [innerHTML]="(pro.description.length > 55)? (pro.description | slice:0:55)+'...':(pro.description)"></p>
                              
                              </ion-col>
                          </ion-card-content>
                        </ion-card>
        
                    </ion-col>
                  </ion-row>
        
                </ion-slide>
              </ion-slides>
            </ng-container>
        </div>
  </ion-grid>

  <ion-fab bottom right absolute-drag>
      <button ion-fab class="fab-color"><img src="assets/imgs/logov4.png"></button>
      <ion-fab-list side="left">
        <button ion-fab class="fab-color" (click)="toWallet('WalletFabPage')"><img src="assets/imgs/footer-menu/wallet.png"></button>
        <button ion-fab class="fab-color" (click)="toResto('VoucherFabPage')"><img src="assets/imgs/footer-menu/coupon.png"></button>
        <button ion-fab class="fab-color" (click)="toPromo('PromoPage')"><img src="assets/imgs/footer-menu/promo.png"></button>
        <button ion-fab class="fab-color" (click)="toProduct()"><img src="assets/imgs/footer-menu/shop.png"></button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
