page-home {
    .product-row{
        ion-card.img-card.card.card-md {
            border-radius: 3px !important;
            //box-shadow: none;
            // margin: 0px 4px 4px 4px;
            //width: 82px;
            //margin-bottom: 10px;
            height: 145px;
        }

        .card-content-md {
            padding: 0;
            font-size: 1.3rem;
        }
    }



    ion-col.product-row.col {
        background: #f9f9f9;
    }

    #ion-searchtext {
        position: absolute;
        // top: 132px;
        top: 141px;
        z-index: 99;
        width: 250px;
        left: 56px;
        box-shadow: none !important;
    }

    //Promo

    .promo-holder{
        ion-card.card.card-md {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .promo-name{
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
        }

        .merchant-name{
            font-size: 20px;
        }
    }

    ion-row.promo-row.row#promo-cms {
        position: relative;
        margin: 0 auto;
    }

    #promo-cms{
        width: 360px;
        //height: 330px;
    }

    //Voucher
    .voucher-holder{
        padding: 0 8px;
        //top: -8px;
        position: relative;
        //margin: 0 8px;

        .card-content-md {
            padding: 0;
            font-size: 1.3rem;
        }

        .card-md {
            height: 160px;
        }
        

        .voucher-row{
            background: #f9f9f9;
           // border-radius: 0px 0px 5px 5px;
        }

        .card-md {
            border-radius: 5px 5px 2px 2px;
            margin: 0px 5px 10px 5px;
            width: calc(100% - 10px);
            box-shadow: none;
        }
        ion-col.col-holder.col {
            padding: 0;
        }
        .item-holder{
            text-align: left;
            padding: 5px;
            font-size: 10px;
            height: 55px;

            .item-name{
                font-weight: bold;
            }

            span.location-name {
                position: relative;
                left: -5px;
            }
        }

        .item-price {
            position: absolute;
            bottom: 62px;
            font-size: 10px;
            background: #e14543;
            padding: 2px;
            color: #ffffff;
            
        }

        img.marker-ico {
            width: 14px;
            float: left;
            left: -4px;
            position: relative;
        }
        
    } 

    p.label-apps {
        margin-left: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
    }


    input.searchbar-input {
        border-radius: 5px !important;
        height: 30px !important;
        // padding: 6px 33px !important;
        box-shadow: none !important;
    }

    .searchbar-input-container{
        z-index: 999;
    }
    
    .searchbar-search-icon{
        top: 7px !important;
        left: 7px !important;
    }

    img.myFlag {    
        // top: 5px;
        position: relative;    
        border-radius: 50px !important;
        width: 28px;
        height: 28px;
    }

    img.profile-ico {
        border-radius: 16px;
        top: 5px;
        position: relative;
        width: 28px;
        height: 28px;
    }

    .center-logo{
        padding: 0 42px 1px;
    }

    img.sp-image-holder {
        height: 100px;
    }

    .headers {
        position: relative;
        display: block;
        z-index: 99;
    }

    button.icon-align-left.disable-hover.bar-buttons.bar-buttons-md.button.button-md.button-default.button-default-md.button-menutoggle.button-menutoggle-md {
        float: left;
        background: transparent !important;
        box-shadow: none !important;
    }

    button.icon-align-right.disable-hover.bar-buttons.bar-buttons-md.button.button-md.button-default.button-default-md.button-menutoggle.button-menutoggle-md {
        float: right;
        background: transparent !important;
        box-shadow: none !important;
        padding-top: 1px;
    }

    button.icon-align-right2.disable-hover.bar-buttons.bar-buttons-md.button.button-md.button-default.button-default-md.button-menutoggle.button-menutoggle-md {
        float: right;
        background: transparent !important;
        box-shadow: none !important;
        padding-right: 0;
        padding-top: 0;
    }


    img.img-responsive {
        width: 409px;
        height: 200px;
    }

    img.new-product {
        width: 100px;
        height: 100px;
    }

    .row-bottom-holder{
        margin-top: auto;
        margin-bottom: auto;
    }

    .app-logo{
        // height: 65% !important;
        // width: 65% !important;
        height: 90% !important;
        width: 90% !important;
        border-radius: 20%;
        border: solid 0.5px #000;  
        padding: 0.5px;
        box-shadow: none !important;   
    }

    .app-col{
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        line-height: 15px;
        padding: 5px;
        // -webkit-box-flex: 0;
        // -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        width: 20%;
        max-width: 20%;
    }

    .font-logo{
        //font-size: 9.5px !important;
        font-size: 1rem;
        line-height: 10px;
        margin-top: 6px;    
        margin-bottom: 0;   
    }

    .slider-voucher{
        padding-left: 3px;
    }
    
    .voucher-row{
        //padding: 0px 8px 0px 8px;
        padding: 0;
    }

    p.label-bg {
        width: 100%;
        background: #f9f9f9;
        margin: 0;
        color: #a7a4a4;
        padding: 8px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'open_sansregular';
    }

    img.voucher-image {
        width: 411px !important;
        height: 180px !important;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    img.image-promo {
        width: 420px !important;
        height: 420px !important;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .promo-row{
        .item-md ion-avatar ion-img, .item-md ion-avatar img{
            border-radius: 0;
        }
    }

    ion-row.prod-holder.row {
        // top: -4px;
        // position: relative;
        // background: #f2f2f2;
        top: -4px;
        padding: 0 8px;
        position: relative;
        margin-top: 10px;

        .card-md {
            height: 145px !important;
        }
    }



    .fab-color{
        background: #488aff;
        position: relative;
    }

    img#location-marker {
        width: 23px;
        height: 23px;
    }

    // ion-col.product-row.col{
    //     background: #e2e2e2;
    // }

    .prod-price {
        // color: #e14543;
        // margin-left: 5px;
        // font-size: 1rem;
        // text-align: left;
        // margin-bottom: 0;

        color: #ffffff;
        margin-left: 5px;
        font-size: 1rem;
        text-align: left;
        margin-bottom: 0;
        position: absolute;
        bottom: 50px;
        background: #e14543;
        padding: 0 5px;
        left: -2px;

    }

    .prod-name {
        // margin-left: 5px;
        // font-size: 1rem;
        // text-align: left;

        margin-left: 5px;
        font-size: 12px;
        text-align: left;
        top: 5px;
        position: relative;
        font-weight: bold;

    }

    .prod-merchant {
        // text-align: left;
        // font-size: 12px;
        // margin-left: 5px;

        text-align: left;
        font-size: 12px;
        margin-left: 5px;
        position: relative;
    }

    .prod-location {
        text-align: left;
        font-size: 12px !important;
        margin-left: 5px !important;
    }

    ion-icon.icon.icon-md.ion-md-menu {
        font-size: 30px;
    }

    p.title-name {
        font-size: 20px;
        padding-left: 9px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    p.title-name {
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: -10px;
        text-align: start;
        margin-bottom: 7px;
        font-family: 'open_sansregular';
    }

    p.title-name {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: -20px;
        text-align: start;
        margin-bottom: 1px;
        padding-left: 0px;
        font-family: 'open_sansregular';
    }

    .promo-name {

        background: rgb(243, 241, 241);
        padding-bottom: 0px !important;
        box-shadow: none !important;
        padding-top: 0px !important;
        margin-top: 2px;
        background: #f9f9f9;

        .card-md {
            margin: 10px;
            border-radius: 2px;
            width: calc(100% - 10px);
        }

        b {
            // font-size: 2.5rem;
            font-weight: bold;
            margin-left: 17px;
            font-family: 'open_sansregular';
            // background: grey;
            // padding-bottom: 10px;
            margin-top: 5px;
            font-size: 18px;
            background: #f9f9f9;
            color: #a7a4a4;
        }

        // b, strong {
        //     font-weight: bold;
            
        // }

        h5.title-name {
            margin-top: 9px;
            margin-bottom: 2px;
            background: #f9f9f9;
        }
    }

    .cate-name {
        font-size: 20px;
        margin-left: 17px;
        margin-top: 3px;
        margin-bottom: 0px;
        font-family: 'open_sansregular';
        
    }

    ion-col.menu-col.col {
        padding: 0px;
        padding-left: 2px;
        padding-right: 7px;
        margin-right: -17px;
        margin-left: 6px;
    }

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
    }

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
    }

    #img-resto{
        margin: 0 auto !important;
        padding: 0px !important;
        margin-left: 0px !important;
        // margin-right: 0px !important;
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        // padding-top: 0px;
        padding: 0px 16px;
    
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        // padding-top: 0px;
        padding: 0px 10px;
    
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        margin-bottom: -15px;
    }

    p.title-name {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: -20px;
        text-align: start;
        margin-bottom: 1px;
        padding-left: 0px;
        font-family: 'open_sansregular';
    }

    p.shop-name{
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: -20px;
        text-align: start;
        margin-bottom: 10px;
        padding-left: 0px;
        font-family: 'open_sansregular';
    }

    p.title-desc {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
    }

    .sub-name {
        margin-left: 17px;
        font-size: 20px;
        font-family: 'open_sansregular';
    }

    ion-slides.bottom-slide {
        background: #f9f9f9;
        margin-bottom: 0px;
        top: -5px;
        position: relative;
    }

    p.label-bg.merchant-app {
        top: -5px;
        position: relative;
    }

    // Search
    ion-row.special-row-icon.row{
        // background: rgb(241, 239, 239);
        padding-right: -4px !important;
        padding-top: 1px !important;
    }

    // .searchbar-md .searchbar-input {
    //     padding: 6px 43px;
    // }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    .searchbar-md .searchbar-input {
        padding: 17px 38px;
    }


    input.searchbar-input {
        box-shadow: none !important;
        margin-bottom: 0px !important;
        //border-right: 1px solid rgb(241, 239, 239); 
        padding-bottom: 0px;
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        // border-bottom: solid 1px #ffffff;
    }

    button.option-btn.disable-hover.button.button-md.button-clear.button-clear-md {
        // padding-left: 6px;
        // padding-top: 9px;
        // border-bottom: 2px solid rgb(194, 191, 191);
        align-content: center;
        width: 10px;
        margin-left: 19px;
        height: 30px;
        margin-bottom: 8px;
        box-shadow: none;
    }

    input.searchbar-input {
        box-shadow: none !important;
        // border-right: solid 1px rgb(226, 223, 223);
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon{
        color: #e01c44;
    }


    .ion-searchbar#ion-search {
        margin: 0 auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    ion-col#search-bar{
        padding: 0px !important;
    }

    ion-col#options-icon {
        background: #fff;
    }

    b#price-bold {
        margin-left: -19px;
        position: absolute;
        background: #e01c44;
        padding-left: 10px;
        width: 77px;
        margin-top: -51px;
        color: #f2f2f2;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-left: 5px;
        margin-top: 0px !important;
        background:  rgb(255, 255, 255);   
    }

    ion-icon#cart-home {
        border-radius: 50%;
        background: #e01c44;
        padding-left: 8px;
        padding-top: 6px;
        // padding-bottom: 10px;
        padding-right: 8px;
        color: white;
        // margin-left: 262px;
        height: 30px;
        font-size: 2rem
    }

    // .cart-holder{
    //     margin-top: 8px;
    // }


}
