<ion-content>
  <div class="menu-btn">
    <button ion-button icon-only (click)="goBack()" clear>
      <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
    </button>
  </div>

  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <div class="red-header">
          <img class="logo" src="../../assets/imgs/logo_ipayu.png" alt="img" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="holder-switch">

        <!-- <ion-row class="holder-row" no-padding>
          <ion-col col-10 class="search-bar" id="search-bar">
            <ion-searchbar
              placeholder="Search"
              class="ion-search"
              id="ion-search"
              (click)="openSearchTo()"
            >
            </ion-searchbar>
          </ion-col>

          <ion-col col-2 class="options-icon" id="options-icon">
            <button
              ion-button
              icon-right
              class="option-btn"
              (click)="goTo('FilterPage')"
              clear
            >
            </button>
          </ion-col>
        </ion-row> -->

        <ion-row class="special-row-icon"> 
            <ion-col col-10 class="search-bar" id="search-bar">
                <ion-searchbar placeholder="Search" 
                class="ion-search" id="ion-search"
                [(ngModel)]="searchTerm"
                (ionClear)="onClear($event)"
                (input)="onSearchChange($event.target.value)"
                (change)="onChange($event)"
                (keyup.enter)="universalSearchEnter($event)"
                > 
                </ion-searchbar> 
             </ion-col>

             <ion-col col-2 *ngIf="closeFilter" class="options-icon test1" id="options-icon">
                <button ion-button icon-right class="option-btn" (click)="goTo()" clear> 
                <ion-icon name="ios-options-outline"></ion-icon>
                </button>  
            </ion-col>

            <ion-col col-2 *ngIf="newFilter" class="options-icon test2" id="options-icon">
              <button ion-button icon-right class="option-btn" (click)="nextTo()" clear> 
              <ion-icon name="ios-options-outline"></ion-icon>
              </button>  
          </ion-col>
            
          </ion-row>

        <ng-container *ngIf="merchants && merchants.length">
            <ion-row class="row-holder">
                <p class="header-title">App</p>
      
                <ion-row class="row-bottom-holder">
                 
                  <ion-col class="app-col" (click)="goToApp(merchant.screen_name, merchant.merchant_id)" *ngFor="let merchant of merchants">
                      <img class="app-logo" src="{{merchant.url}}" />
                    <p class="font-logo">
                        {{
                          merchant.merchant_name.length > 7
                            ? (merchant.merchant_name | slice: 0:7) + "..."
                            : merchant.merchant_name
                        }}
                    </p>
                  </ion-col>

                </ion-row>
              </ion-row>
        </ng-container>

      </div>
    </ion-row>

    <ng-container *ngIf="products && products.length">
        <ion-row class="row-holder">
            <p class="header-title">Products</p>
      
            <ion-col class="" (click)="productDetail(product.product_id)" col-4 *ngFor="let product of products">
              <ion-card class="menu-image-card">
                <img
                  image-holder
                  src="{{product.url}}"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">
                        {{
                          product.product_name.length > 9
                            ? (product.product_name | slice: 0:9) + "..."
                            : product.product_name
                        }}
                    </div>
                    <div class="item-desc">
                        {{
                          product.product_desc.length > 9
                            ? (product.product_desc | slice: 0:9) + "..."
                            : product.product_desc
                        }}
                    </div>
                    <div class="item-price"><span class="currency">{{product.price_currency}}</span>&nbsp;{{product.price_amount}}</div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>

          </ion-row>
    </ng-container>

    <ng-container *ngIf="specialOffers && specialOffers.length">
        <ion-row class="row-holder">
            <p class="header-title">Special Offer</p>
      
            <ion-col class="" (click)="specialOfferDetail(specialOffer.product_id)" col-4 *ngFor="let specialOffer of specialOffers">
              <ion-card class="menu-image-card">
                <img
                  image-holder
                  src="{{specialOffer.url}}"
                  width="100"
                  height="100"
                />
                <p class="prod-price">{{specialOffer.price_amount}}</p> 
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                      <div class="item-name">
                          {{
                            specialOffer.product_name.length > 9
                              ? (specialOffer.product_name | slice: 0:9) + "..."
                              : specialOffer.product_name
                          }}
                      </div>
                      <div class="item-desc">
                          {{
                            specialOffer.product_desc.length > 9
                              ? (specialOffer.product_desc | slice: 0:9) + "..."
                              : specialOffer.product_desc
                          }}
                      </div>
                    <!-- <div class="item-price"><span class="currency">{{specialOffer.price_currency}}</span>&nbsp;{{specialOffer.price_amount}}</div> -->
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>

          </ion-row>
    </ng-container>

    <ng-container *ngIf="vouchers && vouchers.length">
        <ion-row class="row-holder">
            <p class="header-title">Vouchers</p>
      
            <ion-col class="" (click)="openVoucherDetail(voucher.id)" col-4 *ngFor="let voucher of vouchers">
              <ion-card class="menu-image-card">
                <img
                  image-holder
                  src="{{voucher.url}}"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">                   
                      {{
                        voucher.name.length > 9
                          ? (voucher.name | slice: 0:9) + "..."
                          : voucher.name
                      }}
                    </div>
                    <div class="item-desc">
                      {{
                        voucher.description.length > 9
                          ? (voucher.description | slice: 0:9) + "..."
                          : voucher.description
                      }}
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
    </ng-container>
    <ng-container *ngIf="events && events.length">
        <ion-row class="row-holder">
            <p class="header-title">Events/News</p>
      
            <ion-col class="" (click)="openPromoDetail(event.promo_id)" col-4 *ngFor="let event of events">
              <ion-card class="menu-image-card">
                <img
                  image-holder
                  src="{{event.url}}"
                  width="100"
                  height="100"
                />
                <ion-card-content class="menu-card">
                  <div class="item-holder">
                    <div class="item-name">
                        {{
                          event.name.length > 9
                            ? (event.name | slice: 0:9) + "..."
                            : event.name
                        }}
                    </div>
                    <div class="item-desc">
                        {{
                          event.description.length > 9
                            ? (event.description | slice: 0:9) + "..."
                            : event.description
                        }}
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
    </ng-container>

    <ng-container *ngIf="!noResult">
      <div class="result-holder">
       <ion-grid class="no-result-grid">
               <ion-row>
                       <div class="icon-holder"><ion-icon name="search"></ion-icon></div>
                   </ion-row>
                   <ion-row>
                           <div class="result-label">No Result Found.</div>
                           <p>We cannot find the item you are searching. Try a more general keyword.</p>
                   </ion-row>
       </ion-grid>
      </div>
   </ng-container>

  </ion-grid>
</ion-content>
