<ion-content class="main-view-calendar">
  <div class="overlay-calendar" (click)="dismiss()"></div>
  <div class="modal_content-calendar">
  
      <ion-row class="button-holder">
        <ion-col class="promo-submit-calendar">
          <button (click)="submit()" ion-button full>ADD to favorites</button>
        </ion-col>
      </ion-row>
  </div>
</ion-content>