
<ion-header>

  <ion-row class="back-btn">
    <ion-col>
      <button ion-button icon-only (click)="goBack()" clear>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col>
        <div class="pink-header">
            FILTERS
        </div>
      </ion-col>
    </ion-row>

</ion-header>



<ion-content>
  <form
    (ngSubmit)="filterForm($event)"
    id="ngForm"
    #documentEditForm="ngForm"
    [formGroup]="formGroup"
  >
    <ion-grid padding>
      <div class="scroll-content" id="scroll-name">
        <ion-row>
          <p class="location-name">LOCATION</p>
        </ion-row>

        <ion-row>
          <ion-input
            type="text"
            id="searh-location"
            formControlName="location"
            [(ngModel)]="newmessage"
          ></ion-input>
          <ion-icon id="seach-ico" name="search"></ion-icon>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>

<ion-footer no-padding class="btn-apply" id="btn-apply">
  <button
    ion-button
    full
    class="filter-btn"
    id="filter-btn"
    form="ngForm"
    [disabled]="!documentEditForm.form.valid"
  >
    <p class="filter">APPLY FILTERS</p>
  </button>
</ion-footer>


