page-sidemenu-yupangco {

    ion-app.android {
        font-family: 'open_sansregular' !important;
        }
    
    .card-title-md, p, span, ion-col, ion-segment-button, .item-md{
        font-family: 'open_sansregular' !important;
    }
    
    .toolbar-md-pantone .toolbar-background-md {
        background: #DA291C;
    }
    
    .link-menu-bar {
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        padding-top: 5px;
        padding: 5px 2px;
        text-align: center;
        opacity: 0.8;
    }
    
    .link-menu-bar span {
        font-size: 42%;
        display: block;
        height: 14px;
        display: block;
        overflow: hidden;
    }
    .link-menu-bar.link-menu-bar-active {
        opacity: 1;
        background: #ed3b3b;
    }
    .link-menu-bar img, .link-menu-bar ion-icon {
        height: 21px;
        margin: 0 auto;
    }
    
    .myrow{
        width: 10%;
    }
    
    .myFlag{
        height: 15px;
        width: 25px;
        margin-top: 0px;
    
    }
    
    .ion-page{
        top: -4px;
        height: 101%;
    }
    
    .tabs-md .tab-button[aria-selected=true]{
        color: black;
    }
    
    .myLogo{
        height: 25px;
        max-width: 100%;
        margin-top: 24px;
        margin-bottom: 10px;
    }
    
    ion-header {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
    }
    
    .toolbar-md{
        height: 50px !important;
        min-height: 50px;
    }
    
    .my-style-for-modal{
        font-size: 1.5rem;
    }
    
        label#label-name {
            height: 50px;
            padding-top: 100px;
            color: #fff;
            padding-left: 15px; 
            font-size: 17px; 
            font-family: 'open_sansregular';
        }
    
        .label-name{
            background: #e01c44;
            height: 155px;
            padding-top: 122px;
        }
    
        #label-order{
            color: grey;
            font-size: 25px;
            padding-left: 7px;
        }
    
        p#order-name {
            padding-left: 44px;
            position: absolute;
            top: 14px;
            font-size: 17px;
            font-family: 'open_sansregular';
            color: black !important;
            font-weight: bold;
        }
    
        label#label-setting {
            padding-left: 9px;
            font-size: 17px;
        }
    
        img#label-avatar {
            position: absolute;
            border-radius: 50%;
            z-index: 999;
            height: 87px;
            display: block;
            margin-left: 110px;
            top: 20px;
        }

}
