<ion-menu id='mainMenu' [content]="content" >
        
        <ion-content>
          <ion-list>
            <div class="label-name">
                <img id="label-avatar" src="../assets/imgs/user.jpg">
            <label id="label-name">
              Log in / Create account
            </label>
          </div>
            <button ion-item>
                <ion-icon id="label-order" name="list-box"> 
                  <p id="order-name">My orders</p>
                </ion-icon>
            </button>
            <button ion-item>
                <ion-icon id="label-order" name="md-chatbubbles">
                  <p id="order-name">Contact us</p>
                </ion-icon>
            </button>
            <button ion-item  menuClose (click)="openPage('ReservationPage')" *ngIf=resto>
                <ion-icon id="label-order" name="calendar">
                  <p id="order-name">Reservation </p>
                </ion-icon>
            </button>

            <button menuClose ion-item (click)="openPage()" *ngIf=music>
              <ion-icon id="label-order" name="calendar">
                <p id="order-name">Reservation </p>
              </ion-icon>
          </button>

          <button ion-item menuClose (click)="openPage('YupangcoBranchPage')">
            <ion-icon id="label-order" name="md-git-network">
              <p id="order-name">Branches </p>
            </ion-icon>
        </button>
            <button ion-item (click)="navigateTo()">
            <label id="label-setting">
                Setting
            </label>
          </button>
          <button ion-item (click)="navigateTo()">
            <label id="label-setting">
                FAQ
            </label>
          </button>
            <button ion-item (click)="navigateTo()">
            <label id="label-setting">
                Terms & Conditions / Privacy
            </label>
          </button>
          </ion-list>
        </ion-content>
      </ion-menu>
      

      <ion-nav id="nav" #content swipeBackEnabled="false" [root]="rootPage"></ion-nav>
