page-yupang-promo-detail {

    font-family: Helvetica;
    
        .my-style-for-modal{
            // opacity: .5;
            background: transparent !important;
            box-shadow: none !important;
            color: grey;
        }
    
        .back{
            z-index: 10;
            position: absolute;
            top: inherit;
            
        }
    
        .btn-holder{
            .button-md-secondary {
                margin: 0 auto;
                display: block;
                position: relative;
            }
        }
    
        .promo-date {
            font-size: 1.2rem;
            margin-top: 10px;
        }
    
        .promo-until {
            top: -5px;
            position: relative;
        }
    
        ion-card-title.promo-detail-title.card-title.card-title-md {
            text-align: center;
            font-size: 2.4rem;
            text-transform: none;
        }
    
        .promo-detail-card {
            width: auto;
            border: 0;
            box-shadow: none;
        }
    
        span#qty-label {
            font-size: 1.5rem;
            font-weight: bold;
        }
    
        .terms-label{
            color: #e01c44;
            font-weight: bold;
            margin-top: 10px;
        }
    
        div#red-header {
            // background: #e01c44;
            text-align: center;
            color: #ffffff;
            padding: 0px !important;
            margin: 0 auto;
            font-size: 2rem;
        }
    
        img#img-promo {
            width: 360px;
            padding: 0 !important;
        }
    
        ion-row#name-promo-label {
            background: #e01c44;
            padding: 0 !important;
            // margin: 0 auto;
            position: relative;
            top: -5px;
            height: 50px;
            // font-size: 73px;
        }
        p#name-title{
            font-size: 22px;
            margin-left: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: rgb(235, 225, 225);
            padding-left: 7px;
            padding-bottom: 7px;  
            margin-top: 14px;  
        }
    
        p#name-label {
            font-size: 20px;
            font-weight: bold;
            margin: 18px;
            padding-left: 7px;
            margin-top: 16px;
            // text-align: justify;
        }
    
        p#name-desc {
            margin-top: 21px !important;
            margin-bottom: 10px;
            margin-left: 18px;
            margin-right: 18px;
            padding-left: 8px;
            // margin-top: 20px;
            text-align: justify;
            padding-right: 8px;
            font-size: 15px;
        }
    
        p#name-date {
            margin-top: -7px !important;
            margin-bottom: 9px;
            margin-left: 10px;
            margin-right: 18px;
            padding-left: 0px;
            padding-top: 10px;
            text-align: justify;
            padding-right: 8px;
            font-size: 12px;
            color: grey;
            text-transform: uppercase;
            
        }
    
        ion-row#date-name {
            border-bottom: 1px solid grey;
            margin-left: 20px;
            margin-right: 25px;
        }
    
        .promo-card-holder{
            ion-card.card.card-md {
                box-shadow: none;
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
    
    
    
        .promo-row{
    
            .promo-name {
                font-weight: bold;
                font-size: 18px;
                line-height: 20px;
            }
            
            .merchant-name {
                font-size: 20px;
            }
    
            .card-md{
                width: 100%;
                margin: 0;
                top: -5px;
                position: relative;
            }
    
        }

        .content-holder{
            height: 100%;
            // font-family: 'open_sansregular';
            background: #f3f5f8;
        }

        // .content-holder-promo{
        //     background: #f3f5f8;
        // }

        .new-grid{
            height: 100%
        }
    
        .image-row{
            height: 65%;
        }
    
        .background-row{
            height: 35%;
            background: #5b94ef;
        }
    
        .new-image{
            // height: 100%;
            // width: 100%;
    
            margin: 0 auto;
            position: relative;
            display: block;
        }
    
        img.new-image {
            width: 409px;
        }
    
        .image-holder{
            padding: 0;
        }
    
        .search-move{
            position: absolute;
            width:  100%;
            z-index: 1;
            opacity: 0.5;
            color: none;
        }
    
        .fixed-content{
            margin-top: 0
        }
    
    
        .slide-above{
            z-index: 3;
            position: absolute;
            top: inherit;
            height: 100%;
            width: -webkit-fill-available;
        }
    
        .price-above{
            z-index: 3;
            position: absolute;
            bottom: inherit;
            padding-bottom: 4%;
            width: -webkit-fill-available;
        }
    
        .slider-middle{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-top: 59%;
        }
    
        .swiper-slide{
            width: 100% !important;
            padding-left: 10%;
            padding-right: 10%;
        }
    
        .grid-detail{
            background: white;
            border-radius: 15px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 7px;
        }
    
        .col-title{
            padding-top: 9%;
            padding-left: 0;
            padding-right: 0;
        }
    
        .product-name{
            font-weight: 800;
            text-align: left;
            margin: 0;
        }
    
        .product-address{
            text-align: left;
            color: grey;
            padding-bottom: 7%;
            padding-left: 0;
        }
    
        .row-dessert{
            text-align: left;
            padding-top: 7%;
            color: grey
        }
    
        .row-time{
            text-align: left;
            color: grey;
        }
    
        .content-holder{
            height: 100%;
            font-family: 'open_sansregular';
            background: #f7f6f2;
        }
    
        .price{
            color: white;
            font-size: 15px;
            margin: 5px 40px 5px 40px;
            text-transform: capitalize;
        }
    
        .new-price-holder{
            background: grey;
            border-radius: 9px;
        }
    
        .center-price{
            margin-left: auto;
            margin-right: auto;
        }
    
        .yellow-color{
            color: #f7b611;
            text-align: left;
        }
    
        .slider-line{
            border-top: .5px solid grey !important;
        }
    
        .back{
            z-index: 10;
            position: absolute;
            top: inherit;
            
        }
    
        .background{
            height: 51%;
        }
    
        .link-product{
            padding-bottom: 9%;
            padding-top: 3%;
            color: grey;
        }
    
        .link-size{
            font-size: 20px;
        }
    
        .my-style-for-modal{
            opacity: .5;
            background: transparent !important;
            box-shadow: none !important;
        }
    
        .desc-title{
            font-family: open_sansregular !important;
            color: grey;
            text-align: left;
        }
    
        .new-prod-desc{
            text-align: left;
            margin-top: 0;
            padding-left: 16px;
            margin-bottom: 0;
        }
    
        .merchant-name{
            text-align: left;
            padding-left: 0;
            font-size: 23px;
        }
    
        .location-ad{
            padding-bottom: 7%;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 16px;
        }
    
        .time{
            padding-left: 0;
        }
    
        .button[icon-only] {
            padding: 0;
            min-width: .9em;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    
        .desc{
            text-align: left;
            margin: 5px;
            color: grey;
        }
    
        .voucher-value {
            font-size: 32px;
            font-family: 'open_sansbold';
        }
    
        .text-label {
            font-size: 16px;
            font-weight: bold;
        }
    
        .voucher-detail {
            padding: 6px 0;
            font-size: 13px;
        }
    
        span.off-label {
            font-size: 20px;
            top: 12px;
            position: relative;
        }
    
        .slide-div {
            margin: -10px;
        }
    
        ion-row.merchant-detail-holder.row {
            top: -16px;
            position: relative;
            margin-bottom: -13px;
        }
    
        .justify {
            text-align: justify;
            padding-top: 10px;
            font-size: 14px;
            padding-bottom: 6px;
        }

}
