<ion-content class="content-holder">
    <div class="back">
        <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
    </div>
    
    <ion-grid class="new-grid" no-padding>
      <ion-row class="image-row">
        <ion-col class="image-holder">
          <img class="new-image" src="../../assets/imgs/YUPANGCO/BacktoSchool 360x360.jpg">
        </ion-col>
      </ion-row>
  </ion-grid>
  
    <div class="slide-above">
      <ion-slides class="slider-middle" parallax=true loop=true >
        <ion-slide >
          <div class="slide-div">
            <ion-grid class="grid-detail text-left">
              <ion-row>
                <ion-col class="col-title">
                  <p class="product-name"></p>
                </ion-col>
              </ion-row>

              <ion-row class="merchant-detail-holder">
                <ion-col class="merchant-image" col-2>
                    <img src="../../assets/imgs/YUPANGCO/yupangco logo.png" alt="img" height="50">
                </ion-col>
                
                <ion-col col-10>
                  <div class="text-left merchant-name">Yupangco</div>
                </ion-col>
              
              </ion-row>
              
              <ion-row>
                <div class="text-label">Validity</div>
              </ion-row>
              
              <ion-row>
                <div class="voucher-detail">1 Jun 2019 - 30 Jun 2019</div>
              </ion-row>

              <!-- <ion-row>
                  <div class="text-label">Time</div>
                </ion-row>
                
                <ion-row>
                  <div class="voucher-detail">10:00 AM - 03:00 PM </div>
                </ion-row> -->

                <ion-row>
                    <div class="text-label">Venue</div>
                  </ion-row>
                  
                  <ion-row>
                    <div class="voucher-detail">Yupangco Music Academy</div>
                  </ion-row>

                   <div class="text-label text-left">Condition</div>
                  <div class="voucher-detail">This promo runs only during school enrollment from Monday to Friday, 10:00am to 3:00pm classes. </div>
  
                  
  

            </ion-grid>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <ion-col class="col-title" >
                  <p class="product-name">Description</p>
                  <div class="justify"> Yupangco Music Academy gives daily promos on the whole month of July. For every 36 lessons, enrollees could enjoy discounts from 10% to 50% off to any course they want. YMA believes that daily training and practice helps one grow to be they wanted to be. 
                     <br><br>YMA also promotes their Lean Hour promo, where one could enjoy training themselves during and in-between school breaks or siestas.</div> 
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <ion-col class="col-title" >
                  
                  <div class="justify">  Room rentals are also included to offer an all-day long workshop of their talents and skills inside YMA premises. All these offers are giving away to help you and your kids pursue their passions and turn their dreams to life.
                    <br><br>Better make your everyday a sync of YMA! Keep posted and get daily updates on YMA’s Facebook Page!</div>
                  
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </div>
        </ion-slide>
  
      </ion-slides>
    </div>
  </ion-content>
  
  
  
  
  
  