<ion-menu id="xyz123" persistent="true" [content]="content" type="overlay" (ionOpen)="menuOpened()">
    <ion-content>
        <ion-list>
          <div class="label-name">
            <ion-icon id="img-icon" name="ios-contact"></ion-icon>
            <label id="label-name">
              <!-- {{firstName}} / {{lastName}} -->
            </label>
          </div>

          <button ion-item menuClose (click)="navScreen('BranchesPage')">
            <ion-icon id="label-order" name="md-git-network">
              <p id="order-name">Branches</p>
            </ion-icon>
          </button>
    
          <button ion-item>
            <ion-icon id="label-order" name="md-chatbubbles">
              <p id="order-name">Contact us</p>
            </ion-icon>
          </button>
    
          <button ion-item menuClose (click)="navScreen('SpecialOfferPage')">
            <ion-icon id="label-order" name="md-pricetag">
              <p id="order-name">Special Offers</p>
            </ion-icon>
          </button>
    
          <button ion-item menuClose (click)="navScreen('PromoPage')">
            <ion-icon id="label-order" name="ios-calendar">
              <p id="order-name">Events/News</p>
            </ion-icon>
          </button>
    
          <button ion-item menuClose (click)="navScreen('VoucherFabPage')">
            <ion-icon id="label-order" name="md-megaphone">
              <p id="order-name">Vouchers</p>
            </ion-icon>
        </button>
    
          <button ion-item menuClose (click)="navScreen('WalletFabPage')">
            <ion-icon id="label-order" name="md-card">
              <p id="order-name">Wallet</p>
            </ion-icon>
          </button>
          
          <button ion-item (click)="navigateTo()">
            <label id="label-setting">
              About us
            </label>
          </button>
          <button ion-item (click)="navigateTo()">
            <label id="label-setting">
              Setting
            </label>
          </button>
          <button ion-item (click)="navigateTo()">
            <label id="label-setting">
              FAQ
            </label>
          </button>
          <button ion-item (click)="navigateTo()">
            <label id="label-setting">
              Terms & Conditions / Privacy
            </label>
          </button>
          <button ion-item (click)="navigateToLogin()">
            <label id="label-setting">
              Logout
            </label>
          </button>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-nav #content [root]="rootPage">

    </ion-nav>