// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .toolbar-background-md {
//     border-color: #b2b2b2;
//     background: #000;
// }

// .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
//     color: #eeeeee;
//     background-color: transparent;
// }

// .toolbar-title-md {
//     padding: 0 12px;
//     font-size: 2rem;
//     font-weight: 500;
//     color: #eeeeee;
// }

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.justify{
    text-align: justify;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../assets/fonts/opensans-regular-webfont.eot');
    src: url('../assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-regular-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../assets/fonts/opensans-bold-webfont.eot');
    src: url('../assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

// ion-app.android {
//     font-family: 'open_sansregular' !important;
//     }

// .card-title-md, p, span, ion-col, ion-segment-button, .item-md{
//     font-family: 'open_sansregular' !important;
// }

// .toolbar-md-pantone .toolbar-background-md {
//     background: #DA291C;
// }

// .link-menu-bar {
// 	display: block;
// 	text-decoration: none;
// 	font-size: 20px;
// 	color: #fff;
// 	padding-top: 5px;
// 	padding: 5px 2px;
// 	text-align: center;
// 	opacity: 0.8;
// }

// .link-menu-bar span {
// 	font-size: 42%;
// 	display: block;
// 	height: 14px;
// 	display: block;
// 	overflow: hidden;
// }
// .link-menu-bar.link-menu-bar-active {
// 	opacity: 1;
// 	background: #ed3b3b;
// }
// .link-menu-bar img, .link-menu-bar ion-icon {
// 	height: 21px;
// 	margin: 0 auto;
// }


// // .card-md{
// //     margin: 0;
// //     //margin-bottom: 10px;
// //     width: 100%;
// // }

// .myrow{
//     width: 10%;
// }

// .myFlag{
//     height: 15px;
//     width: 25px;
//     margin-top: 0px;

// }

// .ion-page{
//     top: -4px;
//     height: 101%;
// }

// .tabs-md .tab-button[aria-selected=true]{
//     color: black;
// }

// .myLogo{
//     height: 25px;
//     max-width: 100%;
//     margin-top: 24px;
//     margin-bottom: 10px;
// }

// ion-header {
//     left: 0;
//     top: 0;
//     position: absolute;
//     z-index: 10;
//     display: block;
//     width: 100%;
// }

// .toolbar-md{
//     height: 50px !important;
//     min-height: 50px;
// }

// // ion-spinner * {
// //     stroke: red;
// //   }

// .my-style-for-modal{
//     font-size: 1.5rem;
// }

// // fix ion-input in cards
// // .card-md .item-md.item-block:not(:last-child) .item-inner {
// //     // border-bottom: 1px solid #dedede;
// //   }
  
// //   .card-md .item-md.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
// //     border: 0;
// //   }

// //   .mb40 {
// //         margin-bottom: 40px !important;
// //     }

// //     .mb20 {
// //         margin-bottom: 20px !important;
// //     }

//     label#label-name {
//         height: 50px;
//         padding-top: 100px;
//         color: #fff;
//         padding-left: 15px; 
//         font-size: 17px; 
//         font-family: 'open_sansregular';
//     }

//     .label-name{
//         background: #e01c44;
//         height: 155px;
//         padding-top: 122px;
//     }
        
//     // label, input, select, textarea {
//     //     font-family: inherit;
//     //     line-height: normal;

//     // }

//     #label-order{
//         color: grey;
//         font-size: 25px;
//         padding-left: 7px;
//     }

//     p#order-name {
//         padding-left: 44px;
//         position: absolute;
//         top: 14px;
//         font-size: 17px;
//         font-family: 'open_sansregular';
//         color: black !important;
//         font-weight: bold;
//     }

//     label#label-setting {
//         padding-left: 9px;
//         font-size: 17px;
//     }

//     img#label-avatar {
//         position: absolute;
//         border-radius: 50%;
//         z-index: 999;
//         height: 87px;
//         display: block;
//         margin-left: 110px;
//         top: 20px;
//     }


.div-height {
    height: 50px;
}

.fab-color{
    background: #488aff;
    position: relative;
}


//Side Menu Starts Here//

label#label-name {
    height: 50px;
    padding-top: 100px;
    color: #fff;
    padding-left: 15px; 
    font-size: 17px; 
    font-family: 'open_sansregular';
}

.label-name{
    background: #e01c44;
    height: 155px;
    padding-top: 122px;
}

#img-icon {
    position: absolute;
    border-radius: 50%;
    z-index: 999;
    height: 87px;
    display: block;
    margin-left: 113px;
    top: 20px;
    font-size: 95px;
    color: #f2f2f2;
}

#label-order{
    color: grey;
    font-size: 25px;
    padding-left: 7px;
}

p#order-name {
    padding-left: 44px;
    position: absolute;
    top: 14px;
    font-size: 17px;
    font-family: 'open_sansregular';
    color: black !important;
    // font-weight: bold;
}

label#label-setting {
    padding-left: 9px;
    font-size: 17px;
}

//Side Menu End Here//

#search-bar{
    .searchbar-md .searchbar-input {
      padding: 6px 0 7px 55px;
    }
}



