<app-header-home></app-header-home>
<ion-content >  
  <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col col-10 class="search-bar" id="search-bar">
          <ion-searchbar placeholder="Product name or Shop name" 
              class="ion-search" id="ion-search" 
              [(ngModel)]="searchTerm"
              (ionClear)="onClear($event)"
              (input)="onSearchChange($event.target.value)"
              (change)="onChange($event)">

          </ion-searchbar> 
      </ion-col>

        <ion-col col-2 *ngIf="closeFilter" class="options-icon" id="options-icon">
            <button ion-button icon-right class="option-btn"  clear> 
            <ion-icon name="ios-options-outline"></ion-icon>
            </button>  
        </ion-col>

        <ion-col col-2 *ngIf="newFilter" class="options-icon" id="options-icon">
            <button ion-button icon-right class="option-btn"  clear> 
            <ion-icon name="ios-options-outline"></ion-icon>
            </button>  
        </ion-col>

        <!-- <ion-col col-2 *ngIf="newFilter" class="options-icon" id="options-icon">
            <button ion-button icon-right class="option-btn" (click)="nextTo('FilterPage')" clear> 
            <ion-icon name="ios-options-outline"></ion-icon>
            </button>  
        </ion-col> -->
      </ion-row>

      <div class="promo-name">

    <div *ngIf="promoLoad">

      <h5 class="title-name">
        <b>Events/News</b> 
      </h5>

    <ng-container class="menu-holder">
      
      <!-- <ion-slides slidesPerView=2>

        <ion-slide *ngFor="let pro of promoCategories"> -->

          <ion-row >
            <ion-col class="menu-col" *ngFor="let pro of promoCategories" col-6>

                <ion-card class="menu-image-card">
                
                    <img id="img-resto" (click)="openPromoDetail(pro.promo_id)" src="{{pro.url}}" />
                  
                  <ion-card-content class="menu-card-name" (click)="openPromoDetail(pro.promo_id)">
                      <ion-col >
                        <!-- <p class="shop-name"> {{ (pro.merchant_name.length > 12)? (pro.merchant_name | slice:0:12)+'...':(pro.merchant_name) }} </p> -->
                        <p class="title-name"> {{ (pro.name.length > 16)? (pro.name | slice:0:16)+'...':(pro.name) }} </p>
                        <p class="title-desc" [innerHTML]="(pro.description.length > 55)? (pro.description | slice:0:55)+'...':(pro.description)"></p>
                      
                      </ion-col>
                  </ion-card-content>
                </ion-card>

            </ion-col>
          </ion-row>

        <!-- </ion-slide>
      </ion-slides> -->
    </ng-container>
    </div>
    </div>
      
  </ion-grid>


  <ion-fab bottom right absolute-drag>
      <button ion-fab class="fab-color"><img src="../../assets/imgs/chicken-bacolod/chicken-bacolod-logo.jpg"></button>
      <ion-fab-list side="left">
          <button ion-fab class="fab-color" (click)="toWallet('WalletFabPage')"><img src="assets/imgs/footer-menu/wallet.png"></button>
          <button ion-fab class="fab-color" (click)="toResto('VoucherFabPage')"><img src="assets/imgs/footer-menu/coupon.png"></button>
          <button ion-fab class="fab-color" (click)="toPromo('PromoPage')"><img src="assets/imgs/footer-menu/promo.png"></button>
          <button ion-fab class="fab-color" (click)="toProduct()"><img src="assets/imgs/footer-menu/shop.png"></button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
