page-bookstore-voucher-detail {

    .new-grid{
        height: 100%
    }

    .image-row{
        height: 65%;
    }

    .background-row{
        height: 35%;
        background: #5b94ef;
    }

    .new-image{
        // height: 100%;
        // width: 100%;

        margin: 0 auto;
        position: relative;
        display: block;
    }

    img.new-image {
        width: 409px;
    }

    .image-holder{
        padding: 0;
    }

    .search-move{
        position: absolute;
        width:  100%;
        z-index: 1;
        opacity: 0.5;
        color: none;
    }

    .fixed-content{
        margin-top: 0;
    }


    .slide-above{
        z-index: 3;
        position: absolute;
        top: inherit;
        height: 100%;
        width: -webkit-fill-available;
    }

    .price-above{
        z-index: 3;
        position: absolute;
        bottom: inherit;
        padding-bottom: 4%;
        width: -webkit-fill-available;
    }

    .slider-middle{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 59%;
    }

    .swiper-slide{
        width: 100% !important;
        padding-left: 10%;
        padding-right: 10%;
    }

    .grid-detail{
        background: white;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .col-title{
        padding-top: 9%;
        padding-left: 0;
        padding-right: 0;
    }

    .product-name{
        font-weight: 800;
        text-align: left;
        margin: 0;
    }

    .product-address{
        text-align: left;
        color: grey;
        padding-bottom: 7%;
        padding-left: 0;
    }

    .row-dessert{
        text-align: left;
        padding-top: 7%;
        color: grey
    }

    .row-time{
        text-align: left;
        color: grey;
    }

    .content-holder{
        height: 100%;
        font-family: 'open_sansregular';
        background: #f0f2f5;
    }

    .price{
        color: white;
        font-size: 15px;
        margin: 5px 40px 5px 40px;
        text-transform: capitalize;
    }

    .new-price-holder{
        background: grey;
        border-radius: 9px;
    }

    .center-price{
        margin-left: auto;
        margin-right: auto;
    }

    .yellow-color{
        color: #f7b611;
        text-align: left;
    }

    .slider-line{
        border-top: .5px solid grey !important;
    }

    .back{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    .background{
        height: 51%;
    }

    .link-product{
        padding-bottom: 9%;
        padding-top: 3%;
        color: grey;
    }

    .link-size{
        font-size: 20px;
    }

    .my-style-for-modal{
        // opacity: .5;
        background: transparent !important;
        box-shadow: none !important;
        color: grey;
    }

    .desc-title{
        font-family: open_sansregular !important;
        color: grey;
        text-align: left;
    }

    .new-prod-desc{
        text-align: left;
        margin-top: 0;
        padding-left: 16px;
        margin-bottom: 0;
    }

    .merchant-name{
        text-align: left;
        padding-left: 0;
        font-size: 23px;
        margin-top: 4px;
    }

    .location-ad{
        padding-bottom: 7%;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 16px;
    }

    .time{
        padding-left: 0;
    }

    .button[icon-only] {
        padding: 0;
        min-width: .9em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .desc{
        text-align: left;
        margin: 5px;
        color: grey;
    }

    .voucher-value {
        font-size: 36px;
        font-family: 'open_sansbold';
    }

    .text-label {
        font-size: 16px;
        font-weight: bold;
    }

    .voucher-detail {
        padding: 6px 0;
        font-size: 13px;
        text-align: justify;
    }

    span.off-label {
        font-size: 24px;
        top: 12px;
        position: relative;
    }

    .slide-div {
        margin: -10px;
    }

    ion-row.merchant-detail-holder.row {
        top: -16px;
        position: relative;
    }

    button.voucher-btn.disable-hover.button.button-md.button-default.button-default-md {
        width: 158px;
        margin: 10px auto;
        top: 34px;
        border-radius: 10px;
        text-transform: inherit;
        font-weight: bold;
        font-size: 20px;
        background: #4472c5;
    }

}
