page-yupang-food-detail {

    img{
        margin-top: 0;
    }

    .myLogo{
        height: 25px;
        max-width: 100%;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .toolbar-title-md{
        color: black;
    }

    .item-price{
        color: red  ;
        font-weight: 800;
        font-size: 20px;
    }

    .item-name{
        color: black;
        font-weight: 800;
        font-size: 15px;
    }

    .item-logo{
        font-weight: 200;
        font-weight: 10px;
    }   
    .app-search{
        padding: 0 3px 0 0;
    }
    
    .searchbar-wallet-page{
        padding: 0px 0px 0px 0px;
    }
    .shop-search-text{
        color: white;
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
        font-family: Bahnschrift;
        font-weight: bold;
    }
    .search-top-grid{
        padding-bottom: 1.5px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 0;
        position: relative;
        display: block;
    }

    .img-card{
        width:360px ;
        height:367px ;
    }

    .item-img{
        width: 100%;
        height: 100%;
    }

    .item-grid{
        border-bottom: 1px solid grey;
    }

    .quantity-grid{
        padding-top: 3%;
    }

    .collapsible-grid{
        padding-top: 3%;
    }

    .product-name{
        font-size: 18px;
        font-weight: 800;
    }

    .product-rate{
        text-align: right;
        font-size: 80%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 4px;
        
    }

    .product-star{
        text-align: left;
        padding-left: 0px !important;
        padding-right: 0px !important;
        font-size: 14px;
        padding-top: 2px;
    }

    .big-price{
        font-size: 130%;
    }

    .small-price{
        font-size: 80%;
    }

    .price-col{
        padding-top: 8px;
        padding-right: 5px;
    }

    .price-square{
        border: .5px solid black;
        padding: 8px;
        text-align: center;
    }

    .find-col{
        padding-left: 56px;
        text-align: left;
    }

    .quantity-text{
        font-size: 120%;
    }

    .button-center{
        text-align: left;
        display: block; 
    }

    .button-row{
        padding-top: 3%;
    }

    .find-store{
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 80%;
        border-bottom: 1px solid grey;
    }

    .bag-button{
        background: #da291c;
        color: white;
        font-weight: 800;
        font-size: 100%;
        max-width: 160%;
        min-width: 180%;
    }

    .drop-square{
        border: .5px solid lightgray;
        padding: 10px;
        border-radius: 5px;
    }

    .drop-row{
        padding-top: 8px;
        padding-left: 10px;
    }

    .swipe-col{
        padding: 32px 6px 10px 6px;
    }

    .output-div{
        padding-left: 5px;
        padding-right: 5px;
        text-align: justify;
        font-size: 120%;
    }

    .collapse-label{
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 120%;
        font-weight: 800;
    }
    
    .color-white{
        background: white;
        border: .5px solid grey;
        color: grey;
    }

    .collapse-icon{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .center-logo{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .bar-button-default-md{
        color: black;
    }

    .card-md{
        width: 75%;
        margin: auto;
        margin-bottom: 10px;
    }

    .uni-tab{
        height: 21px;
        width: 26px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }

    .uni-label{
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px !important;
        margin-bottom: 5px;
        display: block;
    }

    .col-pad{
        padding: 0;
    }

    .swiper-slide{
        font-size: 12px !important;
    }

    .swiper-slide img{
        //height: 260px;
        padding-top: 2%;
    }

    .slide-imgs{
        width: 100%;
        height: 50%;
    }

    ion-card img{
        height: 50%;
    }

    .scroll-content {
        display: block;
        flex-direction: column;
    
        ion-slides {
            display: flex;
        }
    }

    .img-product-detail{
        width: 100%;
        height: 100%;
    }

    .product-imgs-column{
        padding: 0;
    }

    .swiper-pagination-bullet-active{
        background: white;
    }

    .list-md{
        padding-bottom: -40px !important;
    }
    
    .this-slide{
        left: 0;
        top: 0;
        position: absolute;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    // New Layout

    .new-grid{
        height: 100%
    }

    .image-row{
        height: 65%;
    }

    // .background-row{
    //     height: 35%;
    //     background: #f1f4f7;
    // }

    .new-image{
        // height: 100%;
        // width: 100%;

        margin: 0 auto;
        position: relative;
        display: block;
    }

    img.new-image {
        width: 409px;
    }

    .image-holder{
        padding: 0;
    }

    .search-move{
        position: absolute;
        width:  100%;
        z-index: 1;
        opacity: 0.5;
        color: none;
    }

    .fixed-content{
        margin-top: 0
    }


    .menu-above{
        z-index: 3;
        position: absolute;
        top: inherit;
        height: 100%;
        width: -webkit-fill-available;
    }

    .price-above{
        z-index: 3;
        position: absolute;
        bottom: inherit;
        padding-bottom: 4%;
        width: -webkit-fill-available;
    }

    .slider-middle{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 59%;
    }

    .swiper-slide{
        width: 100% !important;
        padding-left: 10%;
        padding-right: 10%;
    }

    .grid-detail{
        background: white;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 11px;
        padding-top: 0px;
        padding-bottom: 19px;
        width: 288px;
        height: 320px;
    }

    .col-title{
        padding-top: 9%;
        padding-left: 0;
        padding-right: 0;
    }

    .product-name{
        font-weight: 800;
        text-align: left;
        margin: 0;
    }

    .product-address{
        text-align: left;
        color: grey;
        padding-bottom: 7%;
        padding-left: 0;
    }

    .row-dessert{
        text-align: left;
        padding-top: 7%;
        color: grey
    }

    .row-time{
        text-align: left;
        color: grey;
    }

    .content-holder{
        height: 100%;
        font-family: 'open_sansregular';
        background: #f0f2f5;
    }

    .price{
        color: white;
        font-size: 15px;
        margin: 5px 40px 5px 40px;
        text-transform: capitalize;
    }

    .new-price-holder{
        background: grey;
        border-radius: 9px;
    }

    .center-price{
        margin-left: auto;
        margin-right: auto;
    }

    .yellow-color{
        color: #f7b611;
        text-align: left;
    }

    .slider-line{
        border-top: .5px solid grey !important;
    }

    .back{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    .background{
        height: 51%;
    }

    .link-product{
        padding-bottom: 9%;
        padding-top: 3%;
        color: grey;
    }

    .link-size{
        font-size: 20px;
    }

    .my-style-for-modal{
        // opacity: .5;
        background: transparent !important;
        box-shadow: none !important;
        color: grey;
    }

    .desc-title{
        font-family: open_sansregular !important;
        color: grey;
        text-align: left;
    }

    .new-prod-desc{
        text-align: left;
        margin-top: 0;
        padding-left: 16px;
        margin-bottom: 0;
    }

    img#resto-img {
        padding: 0px;
        margin: 0 auto;
        display: block;
        position: relative;
        margin-top: 29px;
    }

    .text-left.merchant-name{
        text-align: left;
        padding-left: 0;
        font-size: 21px;
        font-family: 'open_sansregular';
    }

    .location-ad{
        padding-bottom: 7%;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 16px;
    }

    .time{
        padding-left: 0;
    }

    .button[icon-only] {
        padding: 0;
        min-width: .9em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .desc{
        text-align: left;
        margin: 5px;
        color: grey;
    }

    .menu-value {
        font-size: 36px;
        font-family: 'helvetica';
        font-weight: bold;
        margin-bottom: 6px;
        margin-top: 3px;
    }

    .text-label {
        font-size: 16px;
        font-weight: bold;
    }

    .menu-detail {
        padding: 6px 0;
        font-size: 15px;
        text-align: justify;
        margin-bottom: 6px;
        font-family: 'helvetica';
    }

    span.off-label {
        font-size: 24px;
        top: 12px;
        position: relative;
    }

    .slide-div {
        margin: -10px;
    }

    ion-row.merchant-detail-holder.row {
        top: -16px;
        position: relative;
    }

    li {
        padding-left: 3px;
        padding-top: 6px;
    }
}
