<ion-content class="content-holder">
    <div class="back">
        <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
    </div>
  
  
    <ion-grid class="new-grid" no-padding>
      <ion-row class="image-row">
        <ion-col class="image-holder">
          <img class="new-image" src="../../assets/imgs/YUPANGCO/guitar-primary-1 360x360.jpg">
        </ion-col>
      </ion-row>
      
    </ion-grid>
  
    <div class="menu-above">
      <ion-slides class="slider-middle" parallax=true loop=true>
        <ion-slide>
          <div class="menu-div">
            <ion-grid class="grid-detail text-left">
              <ion-row>
                <ion-col class="col-title">
                  <p class="product-name"></p>
                </ion-col>
              </ion-row>
  
              <ion-row class="merchant-detail-holder">
                
                <ion-col col-10>
                  <div class="text-left merchant-name">ACOUSTIC GUITAR LESSON</div>
                </ion-col>
              
              </ion-row>
  
              <ion-row>
                  <!-- <div class="menu-value">PHP 15,000.00</div>  -->
              </ion-row>
              
              <ion-row>
                  
                  <div class="menu-detail">Gain skills with our guitar playing lessons from chord playing to basic finger styles  
                      <br><li> Guitar Parts,Tuning</li>
                    <li> Rudiments,Positioning</li>
                    <li> Right hand use of rest & free stroke,Left hand Thumb position</li>
                    <li> Chromatic scales & arpeggios</li> </div>
              </ion-row>
  
  
            </ion-grid>
          </div>
        </ion-slide>
  
        <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <img id="resto-img" src="../../assets/imgs/YUPANGCO/guitar-intermediate-2 248x261.jpg" width="248" height="260">
              </ion-row>
            </ion-grid>
          </div>
        </ion-slide>
  
      </ion-slides>
    </div>
    
  </ion-content>
  
  
  
  
  
  