<ion-content class="main-view-calendar">
  <div class="overlay-calendar" (click)="dismiss()"></div>
  <div class="modal_content-calendar">
    <h2 class="modal-title-calendar">{{ this.promo_name }}</h2>
    <p class="promo-desc">{{ this.promo_desc }}</p>
    <h5 class="sub-mesg">Location: {{ this.promo_loc }}</h5>
    <h5 class="sub-mesg">Date Start: {{ this.val_start }}</h5>
    <h5 class="sub-mesg">Date End: {{ this.val_end }}</h5>
      <ion-row class="button-holder">
        <ion-col class="promo-submit-calendar">
          <button (click)="submit()" ion-button full>ADD TO calendar</button>
        </ion-col>
      </ion-row>
  </div>
</ion-content>