<ion-content>
  <div class="back">
    <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
    </button>
</div>

<ion-grid no-padding>

  <ion-row class="banner-slide">

      <ion-slides>
          <ion-slide>
              <img id="img-banner" src="../../assets/imgs/resto/appetizer1 360x200.jpg" width="360" />
          </ion-slide>

          <ion-slide>
                  <img id="img-banner" src="../../assets/imgs/resto/beef-chicken-seafood- 360x200jpg.jpg" width="360" />
          </ion-slide>

          <ion-slide>
                  <img id="img-banner" src="../../assets/imgs/resto/drinks-1 360x200.jpg" width="360" />
          </ion-slide>

          <ion-slide>
                  <img id="img-banner" src="../../assets/imgs/resto/pork-1 360x200.jpg" width="360" />
          </ion-slide>
  </ion-slides>
  </ion-row>

  <ion-row class="merchant-detail-holder">
    <ion-col class="merchant-image" col-2>
        <img id="img-reserve" src="../../assets/imgs/kuya-50x50.jpg" alt="img" height="50">
    </ion-col>
    
    <ion-col col-10>
      <div class="text-left merchant-name">Kuya J</div>
      <div class="add-name">SM Jazz Mall, Nicanor Garcia, Makati...</div>
    </ion-col>
  
  </ion-row>

<ion-row>
<div class="holder-switch">
    <ion-list>
        <ion-item>
          <ion-row class="input-info">
            <ion-col col-8>
              <p class="question-label">How many Diners?</p>
              <p class="answer-name">2 People</p>
              </ion-col>
              <ion-col col-2 class="remove-btn">
                <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle"></ion-icon>
              </ion-col>
              <ion-col col-2 class="add-btn">
                <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
              </ion-col>
          </ion-row>

          <ion-row class="input-info-dine">
                <ion-col col-8>
                  <p class="question-label">Dining Time</p>
                  <p class="answer-name">12:00</p>
                  </ion-col>
                  <ion-col col-2 class="remove-btn-time">
                    <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle-time"></ion-icon>
                  </ion-col>
                  <ion-col col-2 class="add-btn">
                    <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
                  </ion-col>
            </ion-row>

            <ion-row class="input-info-pick">
                    <ion-col col-8>
                      <p class="pick-label">Pick a Date</p>
                      <p class="answer-name">Monday 6/5</p>
                      </ion-col>
                      <ion-col col-4 class="pick-btn">
                        <button ion-button round id="pick-btn">Pick</button>
                      </ion-col>
                     
                </ion-row>

                <ion-row class="input-info-book">
                       
                          <ion-col col-12 class="book-btn">
                            <button ion-button full round id="book-btn">Book the Table</button>
                          </ion-col>
                         
                    </ion-row>
        </ion-item>
      </ion-list>

    
  </div>
</ion-row> 

</ion-grid>
</ion-content>
