<ion-content class="content-holder">
  <div class="back">
   
    <button ion-button left (click)="goBack()" class="icon-align-left">
        <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
    </button>
    <button ion-button right class="icon-align-right">
        <div class="cart" (click)="toCart()">
            <p class="cart-num">{{ counterFront }}</p>
          <ion-icon id="cart-home" name="cart"></ion-icon>
        </div>
        <div class="home" (click)="toHome()">
          <ion-icon id="cart-home" name="ios-home"></ion-icon>
        </div>
    </button>
  </div>

  <ion-grid class="new-grid" no-padding *ngFor="let product of products">
    <ion-row class="image-row">
      <ion-col class="image-holder">
        <img class="new-image" src="{{product.url}}">
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <div class="menu-above">
    <ion-slides class="slider-middle" parallax=true *ngFor="let product of products">
      <ion-slide>
        <div class="menu-div">
          <ion-grid class="grid-detail text-left">
            <ion-row>
              <ion-col class="col-title">
                <p class="product-name"></p>
              </ion-col>
            </ion-row>

            <ion-row class="merchant-detail-holder">              
              <ion-col col-8>
                  <div class="text-left merchant-name">{{ product.product_name }}</div>
                </ion-col>

            <ion-col col-4 class="input-btn">
                <ion-icon id="remove-icon" (click)="remove()" name="md-remove"></ion-icon>
                <p id="input-name">{{ counter }}</p>
                <ion-icon id="add-btn" (click)="add()" name="md-add"></ion-icon>
            </ion-col>
            
            </ion-row>

            <ion-row>
                <div class="menu-value">{{product.price_currency}} {{product.price_amount}}</div> 
            </ion-row>
                <div class="menu-detail">{{product.product_desc}}</div>
                <div class="order-holder">
                  <button ion-button class="voucher-btn" (click)="getMenu(product.product_id, product.price_amount, product.merchant_id)">Order</button>
                </div>
                </ion-grid>
        </div>
      </ion-slide>

      <ion-slide *ngFor="let productSubImage of productSubImages" update=true>
        <div class="slide-div">
          <ion-grid class="grid-detail">
            <ion-row>
              <img src="{{productSubImage.url}}" width="248" height="260">
              
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>
    

    </ion-slides>
    </div>

    <!-- <ion-grid class="new-grid" no-padding>
      <ion-row class="image-row">
        <ion-col class="image-holder">
          <img class="new-image" src="../../assets/imgs/resto/pata grad 360x360.jpg">
        </ion-col>
      </ion-row>
      
    </ion-grid> -->
  
    <!-- <div class="menu-above">
      <ion-slides class="slider-middle" parallax=true loop=true >
        <ion-slide>
          <div class="menu-div">
            <ion-grid class="grid-detail text-left">
              <ion-row>
                <ion-col class="col-title">

                </ion-col>
              </ion-row>
  
              <ion-row class="merchant-detail-holder">              
                <ion-col col-8>
                  <div class="text-left merchant-name">Chorizo Dinamitas</div>
                </ion-col>

                <ion-col col-4 class="input-btn">
                  <ion-icon id="remove-icon" name="md-remove"></ion-icon>
                    <p id="input-name">1</p>
                    <ion-icon id="add-btn" name="md-add"></ion-icon>
                </ion-col>
              
              </ion-row>
  
              <ion-row>
                  <div class="menu-value">Php 200.00</div> 
              </ion-row>
                  <div class="menu-detail">Deep-fried pastry wrapped jalapenos with Cebu Chorizo and cheddar cheese. Fried seasoned pork-filled spring rolls na pinasarap ng Kuya J dipping sauce.</div>
                  <button ion-button class="voucher-btn" (click)="getMenu()">Order</button>
            </ion-grid>
          </div>
        </ion-slide>
  
        <ion-slide *ngFor="let productSubImage of productSubImages" update=true>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <img src="{{productSubImage.url}}" width="248" height="260">
                
              </ion-row>
            </ion-grid>
          </div>
        </ion-slide>
      
  
      </ion-slides>
  </div> -->
  
</ion-content>





