<ion-content>
  <div class="menu-btn">
    <button ion-button icon-only (click)="goBack()" clear>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </div>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <div class="red-header">
          <img class="logo" src="../../assets/imgs/logo_ipayu.png" alt="img" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-10 class="search-bar" id="search-bar">
        <ion-searchbar
          placeholder="Search App"
          class="ion-search"
          id="ion-search"
          [(ngModel)]="searchTerm"
          (input)="getItems($event)"
          (keyup.enter)="searchApp($event)"
        >
        </ion-searchbar>
      </ion-col>

      <ion-col col-2 class="options-icon" id="options-icon">
        <!-- <button
          ion-button
          icon-right
          class="option-btn"
          (click)="goTo('FilterPage')"
          clear
        >
          <ion-icon name="ios-options-outline"></ion-icon>
        </button> -->
      </ion-col>
    </ion-row>
    <div id="merchant-app">
      <ion-row class="voucher-row">
        <ion-col
          class="col-holder"
          (click)="addAppToFav(merchant.merchant_id)"
          *ngFor="let merchant of merchants"
          col-4
        >
          <ion-card class="menu-image-card">
            <img src="{{ merchant.url }}" width="100" height="100" />
            <ion-card-content class="menu-card">
              <div class="item-holder">
                <div class="item-name">
                  {{
                    merchant.merchant_name.length > 10
                      ? (merchant.merchant_name | slice: 0:10) + "..."
                      : merchant.merchant_name
                  }}
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
