page-app-search {

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    .red-header {
        background: #e01c44;
        text-align: center;
        color: #ffffff;
        font-size: 2.5rem;
        font-family: 'open_sansregular';
        text-transform: initial;
        
    }

    img.logo{
        width: 87px;
        padding-top: 13px;
    }

    ion-row.row img.img-desc {
        position: relative;
        margin: 0 auto;
    }

    img.img-desc {
        width: 360px;
    }

    span.button-inner {
        color: white;
        font-size: 1.2rem;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    button.option-btn.disable-hover.button.button-md.button-clear.button-clear-md {
        align-content: center;
        width: 10px;
        margin-left: 19px;
        height: 30px;
        margin-bottom: 9px;
        box-shadow: none;
    }

    input.searchbar-input {
        box-shadow: none !important;
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon{
        color: #e01c44;
    }


    .ion-searchbar#ion-search {
        margin: 0 auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    ion-row.promo-name.row {

        background: rgb(243, 241, 241);
        padding-bottom: 0px !important;
        box-shadow: none !important;
        padding-top: 0px !important;

        b {
            font-size: 2.5rem;
            font-weight: bold;
            margin-left: 22px;
            font-family: 'open_sansregular';
        }

        h5.title-name {
            margin-top: 7px;
        }
    }

    img.img-name{
        max-width: 100%;
        border-radius: 50%;
        margin-left: 17px;
        height: 55px;
        margin-top: 15px;
    }

    p.title-name {
        font-size: 20px;
        padding-left: 9px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    p.title-date {
        margin-top: 0px;
        padding-left: 9px;
        font-size: 13px;
        color: grey;
    }


    .desc-title{
        font-size: 18px;
        line-height: 20px;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 3px;
        font-weight: bold;
        margin-top: 10px;
        width: 100%;
    }

    .desc-desc {
        margin-top: 0px;
        padding-left: 10px;
        font-size: 14px;
        padding-right: 18px;
        width: 100%;
        text-align: justify;
        padding-bottom: 11px;
    }

    .col-holder {
        width: 133%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;

        .card-content-md {
            padding: 5px;
            font-size: 1.4rem;
            line-height: 1.5;
            text-align: center;
            font-weight: bold;
            color: #777777;
        }
    }

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
    }

    #img-resto{
        margin: 0 auto !important;
        padding: 0px !important;
        margin-left: 0px !important;
    }

    p.title-name {
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: -10px;
        text-align: start;
        margin-bottom: 7px;
        font-family: 'open_sansregular';
    }

    p.title-desc {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
        text-align: justify;
    }

    .col-holder-menu {
        width: 238%;
        margin-left: 63px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;
        padding-top: 2px;

    }

    .col-holders {
        width: 132%;
        margin-left: 117px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-name {
        width: 240%;
        margin-left: 171px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    .special-name {
        font-size: 19px;
        margin-left: 14px;
        margin-top: 12px;
        font-family: 'open_sansregular';
    }

    .voucher-row{
        background: #f2f2f2;
    }

    ion-grid.grid{
        background: #f1efef;
    }

    ion-col#options-icon {
        background: #fff;
    }

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    .red-header {
        background: #e01c44;
        text-align: center;
        color: #ffffff;
        font-size: 2.5rem;
        font-family: 'open_sansregular';
        text-transform: initial;
        
    }

    img.logo{
        width: 87px;
        padding-top: 13px;
    }

    ion-row.row img.img-desc {
        position: relative;
        margin: 0 auto;
    }

    img.img-desc {
        width: 360px;
    }

    span.button-inner {
        color: white;
        font-size: 1.2rem;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    button.option-btn.disable-hover.button.button-md.button-clear.button-clear-md {
        align-content: center;
        width: 10px;
        margin-left: 19px;
        height: 30px;
        margin-bottom: 9px;
        box-shadow: none;
    }

    input.searchbar-input {
        box-shadow: none !important;
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon{
        color: #e01c44;
    }


    .ion-searchbar#ion-search {
        margin: 0 auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    ion-row.promo-name.row {

        background: rgb(243, 241, 241);
        padding-bottom: 0px !important;
        box-shadow: none !important;
        padding-top: 0px !important;

        b {
            font-size: 2.5rem;
            font-weight: bold;
            margin-left: 22px;
            font-family: 'open_sansregular';
        }

        h5.title-name {
            margin-top: 7px;
        }
    }

    img.img-name{
        max-width: 100%;
        border-radius: 50%;
        margin-left: 17px;
        height: 55px;
        margin-top: 15px;
    }

    p.title-name {
        font-size: 20px;
        padding-left: 9px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    p.title-date {
        margin-top: 0px;
        padding-left: 9px;
        font-size: 13px;
        color: grey;
    }


    .desc-title{
        font-size: 18px;
        line-height: 20px;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 3px;
        font-weight: bold;
        margin-top: 10px;
        width: 100%;
    }

    .desc-desc {
        margin-top: 0px;
        padding-left: 10px;
        font-size: 14px;
        padding-right: 18px;
        width: 100%;
        text-align: justify;
        padding-bottom: 11px;
    }

    .col-holder {
        width: 133%;
        margin-left: 5px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    #img-resto{
        margin: 0 auto !important;
        padding: 0px !important;
        margin-left: 0px !important;
    }

    p.title-name {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: -20px;
        text-align: start;
        margin-bottom: 1px;
        padding-left: 0px;
        font-family: 'open_sansregular';
    }
    p.shop-name{
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: -20px;
        text-align: start;
        margin-bottom: 10px;
        padding-left: 0px;
        font-family: 'open_sansregular';
    }
    
    p.title-desc {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
        text-align: justify;
    }

    .col-holder-menu {
        width: 238%;
        margin-left: 63px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;
        padding-top: 2px;

    }

    .col-holders {
        width: 132%;
        margin-left: 117px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-name {
        width: 240%;
        margin-left: 171px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    .special-name {
        font-size: 19px;
        margin-left: 14px;
        margin-top: 12px;
        font-family: 'open_sansregular';
    }

    .voucher-row{
        background: #f2f2f2;
    }

    ion-grid.grid{
        background: #f1efef;
    }

    ion-col#options-icon {
        background: #fff;
    }


    // New Layout

    .menu-btn{
        z-index: 10;
        position: absolute;
        top: inherit;
        
    }

    .red-header {
        background: #e01c44;
        text-align: center;
        color: #ffffff;
        font-size: 2.5rem;
        font-family: 'open_sansregular';
        text-transform: initial;
        
    }

    img.logo{
        width: 87px;
        padding-top: 13px;
    }

    ion-row.row img.img-desc {
        position: relative;
        margin: 0 auto;
    }

    img.img-desc {
        width: 360px;
    }

    span.button-inner {
        color: white;
        font-size: 1.2rem;
    }

    .ion-ios-options-outline:before {
        content: "\f1d8";
        color: #e01c44;
        font-size: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        
    }

    ion-col.search-input.col {
        padding: 0px 0px;
        width: 55px;
    }

    button.option-btn.disable-hover.button.button-md.button-clear.button-clear-md {
        align-content: center;
        width: 10px;
        margin-left: 19px;
        height: 30px;
        margin-bottom: 9px;
        box-shadow: none;
    }

    input.searchbar-input {
        box-shadow: none !important;
    }

    #ion-search {
        width: 106%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
        border-bottom: solid 1px #ffffff;
    }

    .searchbar-search-icon{
        color: #e01c44;
    }


    .ion-searchbar#ion-search {
        margin: 0 auto;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none !important;
    }

    .promo-name {

        background: rgb(243, 241, 241);
        padding-bottom: 0px !important;
        box-shadow: none !important;
        padding-top: 0px !important;

        b {
            font-weight: bold;
            margin-left: 17px;
            font-family: 'open_sansregular';
            margin-top: 5px;
            font-size: 18px;
        }

        h5.title-name {
            margin-top: 9px;
            margin-bottom: 9px;
        }
    }

    img.img-name{
        max-width: 100%;
        border-radius: 50%;
        margin-left: 17px;
        height: 55px;
        margin-top: 15px;
    }

    p.title-date {
        margin-top: 0px;
        padding-left: 9px;
        font-size: 13px;
        color: grey;
    }


    .desc-title{
        font-size: 18px;
        line-height: 20px;
        padding-left: 10px;
        padding-top: 6px;
        margin-bottom: 3px;
        font-weight: bold;
        margin-top: 10px;
        width: 100%;
    }

    .desc-desc {
        margin-top: 0px;
        padding-left: 10px;
        font-size: 14px;
        padding-right: 18px;
        width: 100%;
    }

    .special-name {
        font-size: 19px;
        margin-left: 14px;
        margin-top: 12px;
        font-family: 'open_sansregular';
        text-align: start;
    }

    .col-holder {
        width: 133%;
        margin-left: 0px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    ion-card.menu-image-card.card.card-md {
        box-shadow: none !important;
        width: calc(100% - 5px);
        margin: 10px 5px 0px 4px;

    }

    #img-resto{
        margin: 0 auto !important;
        padding: 0px !important;
        margin-left: 0px !important;
        height: 160px;
        width: 100%;
    }

    p.title-name {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: -20px;
        text-align: start;
        margin-bottom: 1px;
        padding-left: 0px;
        font-family: 'open_sansregular';
    }

    p.shop-name{
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: -20px;
        text-align: start;
        margin-bottom: 10px;
        padding-left: 0px;
        font-family: 'open_sansregular';
    }
    
    ion-card-content.menu-card-name.card-content.card-content-md {
        padding: 0px 10px;
    
    }

    p.title-desc {
        font-size: 1.2rem;
        font-weight: normal;
        text-align: start;
        font-family: 'open_sansregular';
        text-align: justify;
        font-weight: normal !important;
    }

    .col-holder-menu {
        width: 238%;
        margin-left: 50px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;
        padding-top: 2px;

    }

    .col-holders {
        width: 132%;
        margin-left: 96px;
        position: relative;
        display: block;
        margin-right: 0px !important;
    }

    .col-holder-name {
        width: 240%;
        margin-left: 149px;
        position: relative;
        display: block;
        padding-right: 195px !important;
        margin-right: 5px !important;

    }

    .cate-name {
        font-size: 20px;
        margin-left: 17px;
        margin-top: 3px;
        margin-bottom: 0px;
        font-family: 'open_sansregular';
        
    }
    .sub-name {
        margin-left: 17px;
        font-size: 20px;
        font-family: 'open_sansregular';
    }

    ion-card-content.menu-card-name.card-content.card-content-md {
        margin-bottom: -15px;
    }

    ion-col.menu-col.col {
        padding: 0px;
        padding-left: 2px;
        padding-right: 7px;
        margin-right: -17px;
        margin-left: -2px;
    }

    img#img-promo {
        width: 30px;
        height: 30px;
    }

    .swiper-wrapper{
        width: 0;
    }

    .extra-icon{
        display: inline-block;
        font-size: 1em;
        color: #3366ff;
        padding: 0 5px 0 5px;
    }

    .toolbar-md {
        min-height: 21px;
        background-color: white !important;
    }

    .bg-color{
        background-color: white !important;
    }

    .result-holder {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: -1;
        top: 0;

        p {
            padding: 10px;
            text-align: center;
            color: #777777;
        }

        .icon-holder {
            margin: 0 auto;
            font-size: 10rem;
            color: #f1efef;
        }
    
          .result-label {
            font-size: 2rem;
            margin: 0 auto;
            color: #777777;
        }
    
        ion-grid.no-result-grid.grid {
            background: none;
        }

      }
}
