<!-- <ion-header>
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>
        Search
      </ion-title>
    </ion-navbar>
  </ion-header> -->

  <ion-content no-padding>
    <ion-grid no-padding>
        <div class="form-grid" padding>

                <div class="back-arrow">
                        <ion-icon ios="ios-arrow-back" md="md-arrow-back" (click)="goBack()"></ion-icon>
                    </div>

        <button class="map-btn" ion-button menuToggle right (click)="show = !show" id="map-label">
            <p id="map-label" *ngIf="show; else elseBlock2">Map</p>
    
            <ng-template #elseBlock2>
                <p id="map-label">List</p>
            </ng-template> 
        </button>
    
        <div class="image-holder text-center">
            <img class="img-class" src="assets/imgs/ipayu-logo.png" alt="ipayu-logo" width="150" height="58"> 
        </div>

      <ion-row>
          <form id="filterForm" [formGroup]="todo" (ngSubmit)="searchForm()">
              <ion-item>
                <ion-input type="text" placeholder="Location" formControlName="current_location"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Description" formControlName="item_description"></ion-input>
              </ion-item>
              <button ion-button type="submit" class="filter-btn">Voucher</button>
              <button ion-button type="submit" class="filter-btn">Promo</button>
              <button ion-button type="submit" class="filter-btn">Discount</button>
              <button ion-button type="submit" class="filter-btn">Gift</button>
            </form>
      </ion-row>
    </div>

    <!-- <ion-row>
        <div id="map" class="test"></div>
      </ion-row> -->
  
      <ion-row *ngIf="show; else elseBlock" class="location-search-result list-view">
  
        <div *ngFor="let loc of locs">
            <ion-row class="result-holder">
                <ion-col col-4>
                  <ion-card class="img-card">
                      <img src="{{loc.url}}" alt="" class="responsive-img">
                    </ion-card>
                </ion-col>
                <ion-col col-8 class="location-detail">
                    <div class="title">{{loc.merchant_name}}</div>
                    <div class="address">{{loc.merchant_address}}</div>
                    <div class="phone">{{loc.merchant_tel}}</div>
                    <button ion-button class="time-btn"><span class="time">{{loc.merchant_op_start_time}} - {{loc.merchant_op_end_time}}</span></button>
                </ion-col>
            </ion-row>
        </div>

        <div *ngFor="let product of products">
            <ion-row class="result-holder">
                <ion-col col-4>
                    <ion-card class="img-card">
                        <img src="{{product.url}}" alt="" class="responsive-img">
                    </ion-card>

                </ion-col>
                <ion-col col-8 class="prod-location-detail">
                    <div class="title">{{product.product_name}}</div>
                    <div class="">{{product.merchant_name}}</div>
                    <div class="address">{{product.merchant_address}}</div>
                    <div class="phone">{{product.merchant_tel}}<button ion-button class="discount-btn" *ngIf="product.sales_discount_percentage"><span class="discount  ">-{{product.sales_discount_percentage | number}} %</span></button> </div>
                    
                    <ion-row>
                        <ion-col col-6 class="prod-time-col">
                            <button ion-button class="time-btn"><span class="time">{{product.merchant_op_start_time}} - {{product.merchant_op_end_time}}</span></button>
                        </ion-col>
                        <ion-col col-6 class="prod-price-col">
                            <button ion-button class="price-btn"><span class="price">P{{product.price_amount}}</span></button>
                        </ion-col>
                    </ion-row>
                    
                </ion-col>
            </ion-row>
        </div>
      </ion-row>
<!-- 
      <ion-row>
        <div id="map"></div>
      </ion-row> -->

  
      <ng-template #elseBlock>
          <ion-row>
              <ion-col no-padding>
                <!-- <ion-card>
                    <img src="assets/imgs/google-map.png" alt="">
                </ion-card> -->
                <div id="map" class="test"></div>

              </ion-col>
            </ion-row>
            
      </ng-template>
    </ion-grid>
  </ion-content>
  

