page-search {
    .form-grid{
        background: #e01c44;
        padding: 30px 16px !important;
        margin: 0;

        .image-holder {
            text-align: center;
            margin: 10px 0;
        }

    }

    button.filter-btn {
        background: #eeeeee;
        height: 2em;
        padding: 14px;
        border-radius: 5px;
        color: #777777;

        .button-inner{
            text-transform: none;
        }
    }

    img.responsive-img {
        width: 104px !important;
        height: 104px !important;
    }



    form#filterForm{
        width: 100%;

        .item-input {
            padding: 0;
            border-radius: 10px !important;
            margin: 5px 0;
        }

        .input-md {
            background: transparent;
            width: 100%;
            display: block;
            margin: 2px 0;
            border-radius: 5px!important;
            height: 4rem;
        }

        .item-inner {
            border: 0 !important;
        }
    }

    ion-row.location-search-result.row {
        display: block;
    }

    .title {
        font-size: 1.3em;
        font-weight: bold;
        color: #595959;
    }

    .address {
        line-height: 1.2em;
        font-size: 1.1em;
    }

    .phone {
        line-height: 1.7em;
        font-size: 1.1em;
    }

    button.time-btn {
        background: red;
        padding: 8px;
        height: 2rem;
    }

    button.price-btn.button-md {
        background: #0070c0;
        height: 2rem;
    }

    button.discount-btn.button-md {
        background: #ff3300;
        height: 2rem;
        float: right;
    }

    button#map-label {
        background: transparent;
        color: #ff3300;
        top: 8px;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 1.2em;
        text-transform: none;
    }

      input.searchbar-input {
        box-shadow: none !important;
    }
    
    .searchbar-md .searchbar-input{
        padding: 6px 6px 0px 20px !important;
    }
    
    .searchbar-search-icon {
        left: -5px !important;
    }


    input[type="search"]::-webkit-input-placeholder {
        color: #ff3300 !important;
    }
        
    input[type="search"]:-moz-placeholder { /* Firefox 18- */
        color: #ff3300 !important;  
    }
        
    input[type="search"]::-moz-placeholder {  /* Firefox 19+ */
        color: #ff3300 !important;  
    }
        
    input[type="search"]:-ms-input-placeholder {  
        color: #ff3300 !important;  
    }

    .input-has-focus
    .input-cover {
          display: none;
    }

    .location-search-result .card-md {
        margin: 5px 0;
        width: auto;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    ion-icon.icon.icon-md.ion-md-arrow-back {
        font-size: 30px;
        position: absolute;
        color: #ffffff;
        top: 15px;
    }

    .click-button:focus{
        border-color: none;
    }

    #map-label {
        color: #ffffff;
    }

    div#map {
        height: 500px !important;
        border: solid 1px red;
        width: 100%;
    }

    button.map-btn {
        position: absolute;
        right: 0;
        background: none;
        box-shadow: none;
    }

    .location-detail{
        button.time-btn {
            background: red;
            padding: 8px !important;
            height: 2rem;
            font-size: 14px;
        }
    }

    .prod-location-detail{
        button.time-btn {
            background: red;
            padding: 8px !important;
            height: 2rem;
            font-size: 14px;
           
        }
        
        button.price-btn {
            padding: 8px !important;
            height: 2rem;
            font-size: 14px;
            width: 100%;
            position: relative;
            right: -68%;
            display: block;
        }

        button.discount-btn {
            padding: 8px !important;
            height: 2rem;
            font-size: 10px;
            width: 25%;
            font-size: 14px;
            margin: 5px 0;
        }

        ion-col.prod-time-col.col{
            padding-right: 5px;
        }

        ion-col.prod-price-col.col{
            padding-left: 5px;
        }

        [col-6]{
            padding: 0;
        }
    }

    button.filter-btn {
        width: calc(91.5%/4) !important;
    }

    ion-row.result-holder.row {
        border-bottom: solid 1px #eeeeee;
    }
}
