<ion-content class="content-holder">
  <div class="back">
   
    <button ion-button left (click)="goBack()" class="icon-align-left">
        <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
    </button>
    <button ion-button right class="icon-align-right">
        <div class="cart" (click)="toCart()">
            <p class="cart-num">{{cartQty}}</p>
          <ion-icon id="cart-home" name="cart"></ion-icon>
        </div>
        <div class="home" (click)="toHome()">
          <ion-icon id="cart-home" name="ios-home"></ion-icon>
        </div>
    </button>
  </div>

  <ion-grid class="new-grid" no-padding *ngFor="let product of products">
    <ion-row class="image-row">
      <ion-col class="image-holder">
        <img class="new-image" src="{{product.url}}">
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <div class="menu-above">
    <ion-slides class="slider-middle" parallax=true *ngFor="let product of products">
      <ion-slide>
        <div class="menu-div">
          <ion-grid class="grid-detail text-left">
            <ion-row>
              <ion-col class="col-title">
                <p class="product-name"></p>
              </ion-col>
            </ion-row>

            <ion-row class="merchant-detail-holder">              
         
            <div class="text-left merchant-name"> {{ (product.product_name.length > 16)? (product.product_name | slice:0:16)+'...':(product.product_name) }}</div>
         

            <!-- <ion-col col-4 class="input-btn">
                <ion-icon id="remove-icon" (click)="remove()" name="md-remove"></ion-icon>
                <p id="input-name">{{ counter }}</p>
                <ion-icon id="add-btn" (click)="add()" name="md-add"></ion-icon>
            </ion-col>  -->
            
            </ion-row>

            <ion-row>
                <div class="menu-value" col-8>{{product.price_currency}} {{product.price_amount}}</div>
                
                <div class="quantity-holder" col-4>
                    <ion-icon id="rm-icon" (click)="remove()" name="md-remove"></ion-icon>
                    <p id="qty-counter">{{ counter }}</p>
                    <ion-icon id="plus-btn" (click)="add()" name="md-add"></ion-icon>
                </div>
                
            </ion-row>
                <div class="menu-detail">{{product.product_desc}}</div>
                <div class="order-holder">
                  <button ion-button class="voucher-btn" (click)="getMenu(product.product_id, product.price_amount)">Order</button>
                </div>
                </ion-grid>
        </div>
      </ion-slide>

      <ion-slide *ngFor="let productSubImage of productSubImages" update=true>
        <div class="slide-div">
          <ion-grid class="grid-detail">
            <ion-row>
              <img src="{{productSubImage.url}}" width="248" height="260">
              
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>

      <ion-slide>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <ion-col class="col-title">
                  <p class="product-name">Terms & Conditions</p>
                  <p class="voucher-detail text-left">Chicken Bacolod started its humble beginnings way back 1970s when an architect and his sisters took over a small Inasal restaurant at the heart of Bacolod City. Famous for its original and irresistible taste of chicken inasal combined with the "city of smile" friendly service, Chicken Bacolod captured the heart of the city slickers when it opened its first branch in Metro Manila in 1985. In 1993, the daughter of one of the owners started her own restaurant in Quezon City under the name of Chicken Bacolod.</p>
                </ion-col>
              </ion-row>
             
            </ion-grid>
          </div>
        </ion-slide>
  
    </ion-slides>
    </div>

    <!-- <ion-grid class="new-grid" no-padding>
      <ion-row class="image-row">
        <ion-col class="image-holder">
          <img class="new-image" src="../../assets/imgs/resto/pata grad 360x360.jpg">
        </ion-col>
      </ion-row>
      
    </ion-grid> -->
  
    <!-- <div class="menu-above">
      <ion-slides class="slider-middle" parallax=true loop=true >
        <ion-slide>
          <div class="menu-div">
            <ion-grid class="grid-detail text-left">
              <ion-row>
                <ion-col class="col-title">

                </ion-col>
              </ion-row>
  
              <ion-row class="merchant-detail-holder">              
                <ion-col col-8>
                  <div class="text-left merchant-name">Chorizo Dinamitas</div>
                </ion-col>

                <ion-col col-4 class="input-btn">
                  <ion-icon id="remove-icon" name="md-remove"></ion-icon>
                    <p id="input-name">1</p>
                    <ion-icon id="add-btn" name="md-add"></ion-icon>
                </ion-col>
              
              </ion-row>
  
              <ion-row>
                  <div class="menu-value">Php 200.00</div> 
              </ion-row>
                  <div class="menu-detail">Deep-fried pastry wrapped jalapenos with Cebu Chorizo and cheddar cheese. Fried seasoned pork-filled spring rolls na pinasarap ng Kuya J dipping sauce.</div>
                  <button ion-button class="voucher-btn" (click)="getMenu()">Order</button>
            </ion-grid>
          </div>
        </ion-slide>
  
        <ion-slide *ngFor="let productSubImage of productSubImages" update=true>
          <div class="slide-div">
            <ion-grid class="grid-detail">
              <ion-row>
                <img src="{{productSubImage.url}}" width="248" height="260">
                
              </ion-row>
            </ion-grid>
          </div>
        </ion-slide>
      
  
      </ion-slides>
  </div> -->
  
</ion-content>





