<ion-content class="content-holder">
  <div class="back">
      <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
  </div>

 

  <ion-grid class="new-grid" no-padding>
    <ion-row class="image-row">
      <ion-col class="image-holder">
        <img class="new-image" src="../../assets/imgs/resto/kuya J halo halo promo oct 2017.jpg">
      </ion-col>
    </ion-row>
    
  
  </ion-grid>

  <div class="slide-above">
    <ion-slides class="slider-middle" parallax=true loop=true >
      <ion-slide >
        <div class="slide-div">
          <ion-grid class="grid-detail text-left">
            <ion-row>
              <ion-col class="col-title">
                <p class="product-name"> </p>
              </ion-col>
            </ion-row>

            <ion-row class="merchant-detail-holder">
              <ion-col class="merchant-image" col-2>
                  <img src="../../assets/imgs/kuya-50x50.jpg" alt="img" height="50">
              </ion-col>
              
              <ion-col col-10>
                <div class="text-left merchant-name">Ang maligayang... </div>
              </ion-col>
            
            </ion-row>

            <ion-row>
                <div class="voucher-value">PHP 75.00</div> &nbsp; <span class="off-label">off</span>
            </ion-row>
            
            <ion-row>
              <div class="text-label">Validity</div>
            </ion-row>
            
            <ion-row>
              <div class="voucher-detail">1 Dec 2018 - 31 Dec 2018</div>
            </ion-row>

                <div class="text-label text-left">Condition</div>
                <div class="voucher-detail">50% Off Halo-Halo Special</div>

                <div class="text-label">Terms & Conditions</div>
                <div class="voucher-detail">Swipe right to view Terms and Conditions</div>
                <button ion-button class="voucher-btn">Get Voucher</button>
          
            
           
          </ion-grid>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide-div">
          <ion-grid class="grid-detail">
            <ion-row>
              <ion-col class="col-title">
                <p class="product-name">Terms & Conditions</p>
                <p class="voucher-detail text-left">Get your favorite Kuya J Original and Ube Halo-Halo Espesyal for only P55 each on October 7-31, from 2pm – 5pm. That’s 50% off from its original price and it’s available in all Kuya J branches nationwide. Kaya tara na sa Kuya J and let’s #CheersTo100! #KuyaJ #HaloHaloEspesyal</p>
              </ion-col>
            </ion-row>
           
          </ion-grid>
        </div>
      </ion-slide>

    </ion-slides>
  </div>

</ion-content>





