
<app-header-home></app-header-home>
<ion-content #content>
  <ion-grid no-padding>
    <ion-row class="special-row-icon">
      <ion-col col-10 class="search-bar" id="search-bar">
        <ion-searchbar placeholder="Search" 
        class="ion-search" id="ion-search"
        (input)="getItems($event)">
        <!-- (keyup.enter)="universalSearchEnter($event)"  -->
        </ion-searchbar> 
      </ion-col>

      <ion-col *ngIf="firstFilter" col-2 class="options-icon" id="options-icon">
        <button ion-button icon-right class="option-btn" (click)="goTo('FilterPage')" clear> 
        <ion-icon name="ios-options-outline"></ion-icon>
        </button>  
    </ion-col>

    <ion-col *ngIf="secondFilter" col-2 class="options-icon" id="options-icon">
          <button ion-button icon-right class="option-btn" (click)="goToFilter()" clear> 
          <ion-icon name="ios-options-outline"></ion-icon>
          </button>  
      </ion-col>

    </ion-row>

    <!-- <ng-container *ngIf="prodCategories; else noItems"></ng-container> -->
    
    <div class="sub-appe-name music-label">
      <br /><br />
      Search Result(s)
    </div>

    <ng-container *ngIf="noResultFound">
      <div class="result-holder">
       <div class="no-result-grid">
               <ion-row>
                       <div class="icon-holder"><ion-icon name="search"></ion-icon></div>
              </ion-row>
              <ion-row>
                      <div class="result-label">No Result Found.</div>
                      <p>We cannot find the item you are searching. Try a more general keyword.</p>
              </ion-row>
        </div>
      </div>
   </ng-container>
   


   <ng-container *ngFor="let prodCat of prodCategories" class="menu-holder">
      <div class="sub-appe-name music-label" *ngIf="prodCat.prod && prodCat.prod.length">
        <br /><br />
        {{prodCat.cat_name}}
      </div>
      
        <ion-slides slidesPerView="3">
          <ion-slide class="slider-category-holder" *ngFor="let prod of prodCat.prod">
            <div class="col-holder-cat">
              <ion-card class="menu-image-card">
                <img
                  id="img-sp"
                  (click)="openBookDetail(prod.product_id)"
                  src="{{prod.url}}"
                  width="120"
                  height="120"
                />
  
                <ion-card-content class="menu-card-name">
                  <ion-col>
                    <p class="title-name">{{ (prod.product_name.length > 10)? (prod.product_name | slice:0:10)+'...':(prod.product_name) }}</p>
                    <p class="title-price"><span class="currency">{{prod.price_currency}}</span> {{prod.price_amount}}</p>
                  </ion-col>
                </ion-card-content>

                <ion-grid>
                  <ion-row class="quantity-holder">
                      <ion-col>
                          <ion-icon id="remove-icon" (click)="remove(prod.product_id)" name="md-remove"></ion-icon>
                      </ion-col>
                      <ion-col>
                          <p (click)="addtoOrder(prod.product_id, prod.price_amount)" id="input-name">{{counter}}</p>
                      </ion-col>
                      <ion-col>
                          <ion-icon id="add-btn" (click)="add(prod.product_id)" name="md-add"></ion-icon>
                      </ion-col>
                  </ion-row>
                </ion-grid>

              </ion-card>
            </div>
          </ion-slide>
          
          <ion-slide></ion-slide>

        </ion-slides>
    </ng-container>

    <!-- <ng-template #noItems>
        Please friend, login.
      </ng-template>
 -->


   <ion-row class="prod-holder voucher-holder">
      <div class="sub-appe-name sp-label" *ngIf="prodSpecialOffers && prodSpecialOffers.length">
      <br /><br />
      Special Offer
    </div>

      <ion-slides *ngIf="prodSpecialOffers && prodSpecialOffers.length" update=true slidesPerView="3" speed=200> 
          <ion-slide *ngFor=" let product of prodSpecialOffers" >
              <ion-row class="voucher-row">
                  <ion-col class="col-holder sp-col-holder">
                          <ion-card class="menu-image-card">
                              <img class="sp-image-holder" (click)="openBookDetail(product.product_id)" src="{{product.url}}" width="100" height="100"/>
                              <p class="prod-price">{{product.price_amount}}</p> 
                              <ion-card-content class="menu-card">
                                  <div class="item-holder">
                                      <div class="item-name">{{ (product.product_name.length > 15)? (product.product_name | slice:0:15)+'...':(product.product_name) }}</div>
                                      <div class="item-desc">{{ (product.product_desc.length > 15)? (product.product_desc | slice:0:15)+'...':(product.product_desc) }} </div>
                                  </div>
                              </ion-card-content>

                              <ion-grid>
                                <ion-row class="quantity-holder">
                                    <ion-col>
                                        <ion-icon id="remove-icon" (click)="remove(product.product_id)" name="md-remove"></ion-icon>
                                    </ion-col>
                                    <ion-col>
                                        <p (click)="addtoOrder(product.product_id, product.price_amount)" id="input-name">{{counter}}</p>
                                    </ion-col>
                                    <ion-col>
                                        <ion-icon id="add-btn" (click)="add(product.product_id)" name="md-add"></ion-icon>
                                    </ion-col>
                                </ion-row>
                              </ion-grid>

                          </ion-card>
                  </ion-col>
              </ion-row>
          </ion-slide>
      </ion-slides>
    </ion-row> 


   <div class="sub-appe-name music-label" *ngIf="prodVouchers && prodVouchers.length">
    <br /><br />
    Vouchers
  </div>
  
   <ng-container class="menu-holder">    
      <ion-slides slidesPerView="3">
        <ion-slide class="slider-category-holder" *ngFor="let vouchers of prodVouchers">
          <div class="col-holder-cat">
            <ion-card class="menu-image-card">
              <img
                id="img-sp"
                (click)="openVoucherDetail(vouchers.voucher_id)"
                src="{{vouchers.url}}"
                width="120"
                height="120"
              />

              <ion-card-content class="menu-card-name">
                <ion-col>
                  <p class="title-name">{{ (vouchers.name.length > 10)? (vouchers.name | slice:0:10)+'...':(vouchers.name) }}</p>
                  <div class="item-desc" [innerHTML]="(vouchers.description.length > 40)? (vouchers.description | slice:0:40)+'...':(vouchers.description)"> </div>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>
        
        <ion-slide></ion-slide>

      </ion-slides>
  </ng-container>

  <div class="sub-appe-name music-label" *ngIf="prodEvents && prodEvents.length">
      <br /><br />
      Events / News
    </div>
    
     <ng-container class="menu-holder">    
        <ion-slides slidesPerView="3">
          <ion-slide class="slider-category-holder" *ngFor="let promo of prodEvents">
            <div class="col-holder-cat">
              <ion-card class="menu-image-card">
                <img
                  id="img-sp"
                  (click)="openPromoDetail(promo.promo_id)"
                  src="{{promo.url}}"
                  width="120"
                  height="120"
                />
  
                <ion-card-content class="menu-card-name">
                  <ion-col>
                    <p class="title-name">{{ (promo.name.length > 10)? (promo.name | slice:0:10)+'...':(promo.name) }}</p>
                    <div class="item-desc" [innerHTML]="(promo.description.length > 40)? (promo.description | slice:0:40)+'...':(vouchers.description)"> </div>
                  </ion-col>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-slide>
          
          <ion-slide></ion-slide>
  
        </ion-slides>
    </ng-container>
  </ion-grid>
</ion-content>
