<ion-content class="content-holder">
  <div class="back">
      <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
  </div>
  
  <ion-grid no-padding>
    <ion-row no-padding>
        <ion-col no-padding>
          <div class="red-header" id="red-header">
              <img id="img-promo" src="../../assets/imgs/resto/grad-promo.jpg" alt="img">
          </div>
        </ion-col>
        </ion-row>

            <div class="promo-holder">
          <ion-row class="promo-row" (click)="openPromoDetail()">
              <ion-col no-padding>
                <ion-card>
                  <ion-item>
                    <ion-avatar item-start>
                      <img src="../../assets/imgs/kuya-50x50.jpg">
                    </ion-avatar>
                    <h2 class="merchant-name">Pata tayo diyan, Grad! </h2>
                    <p>December 31, 2018</p>
                  </ion-item>


                  <ion-card-content>
                      <p class="promo-name">Pata tayo diyan, Grad! Celebrate your Graduation</p>
                      <br/>
                      <div class="justify"> Pata tayo diyan, Grad! Celebrate your Graduation at SM City Sta. Mesa, visit Kuya J Restaurant at 3rd floor to enjoy your FREE CRISPY PATA #EatsMoreFunatSMStaMesa #KuyaJ #KuyaJRestaurant #Graduation #Graduation2015</div>
                  </ion-card-content>
                </ion-card>
            </ion-col>
          </ion-row>
        </div>  
    
  </ion-grid>
</ion-content>





