page-resto-promo-detail {
    
        font-family: Helvetica;
    
        .my-style-for-modal{
            opacity: .5;
            background: transparent !important;
            box-shadow: none !important;
        }
    
        .back{
            z-index: 10;
            position: absolute;
            top: inherit;
            
        }
    
        .btn-holder{
            .button-md-secondary {
                margin: 0 auto;
                display: block;
                position: relative;
            }
        }
    
        .promo-date {
            font-size: 1.2rem;
            margin-top: 10px;
        }
    
        .promo-until {
            top: -5px;
            position: relative;
        }
    
        ion-card-title.promo-detail-title.card-title.card-title-md {
            text-align: center;
            font-size: 2.4rem;
            text-transform: none;
        }
    
        .promo-detail-card {
            width: auto;
            border: 0;
            box-shadow: none;
        }
    
        span#qty-label {
            font-size: 1.5rem;
            font-weight: bold;
        }
    
        .terms-label{
            color: #e01c44;
            font-weight: bold;
            margin-top: 10px;
        }
    
        div#red-header {
            // background: #e01c44;
            text-align: center;
            color: #ffffff;
            padding: 0px !important;
            margin: 0 auto;
            font-size: 2rem;
        }
    
        img#img-promo {
            width: 360px;
            padding: 0 !important;
        }
    
        ion-row#name-promo-label {
            background: #e01c44;
            padding: 0 !important;
            // margin: 0 auto;
            position: relative;
            top: -5px;
            height: 50px;
            // font-size: 73px;
        }
        p#name-title{
            font-size: 22px;
            margin-left: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: rgb(235, 225, 225);
            padding-left: 7px;
            padding-bottom: 7px;  
            margin-top: 14px;  
        }
    
        p#name-label {
            font-size: 20px;
            font-weight: bold;
            margin: 18px;
            padding-left: 7px;
            margin-top: 16px;
            // text-align: justify;
        }
    
        p#name-desc {
            margin-top: 21px !important;
            margin-bottom: 10px;
            margin-left: 18px;
            margin-right: 18px;
            padding-left: 8px;
            // margin-top: 20px;
            text-align: justify;
            padding-right: 8px;
            font-size: 15px;
        }
    
        p#name-date {
            margin-top: -7px !important;
            margin-bottom: 9px;
            margin-left: 10px;
            margin-right: 18px;
            padding-left: 0px;
            padding-top: 10px;
            text-align: justify;
            padding-right: 8px;
            font-size: 12px;
            color: grey;
            text-transform: uppercase;
            
        }
    
        ion-row#date-name {
            border-bottom: 1px solid grey;
            margin-left: 20px;
            margin-right: 25px;
        }
    
        .promo-card-holder{
            ion-card.card.card-md {
                box-shadow: none;
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
    
    
    
        .promo-row{
    
            .promo-name {
                font-weight: bold;
                font-size: 18px;
                line-height: 20px;
            }
            
            .merchant-name {
                font-size: 20px;
            }
    
            .card-md{
                width: 100%;
                margin: 0;
                top: -5px;
                position: relative;
            }
    
        }

        .content-holder{
            height: 100%;
            // font-family: 'open_sansregular';
            background: #f3f5f8;
        }
    
    
    

}
