<ion-content class="content-holder">
  <div class="back">
      <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
  </div>

 

  <ion-grid class="new-grid" no-padding>
    <ion-row class="image-row">
      <ion-col class="image-holder">
        <img class="new-image" src="../../assets/imgs/YUPANGCO/BacktoSchool 360x362.jpg">
      </ion-col>
    </ion-row>
    
  
  </ion-grid>

  <div class="slide-above">
    <ion-slides class="slider-middle" parallax=true loop=true >
      <ion-slide >
        <div class="slide-div">
          <ion-grid class="grid-detail text-left">
            <ion-row>
              <ion-col class="col-title">
                <p class="product-name"> </p>
              </ion-col>
            </ion-row>

            <ion-row class="merchant-detail-holder">
              <ion-col class="merchant-image" col-2>
                  <img src="../../assets/imgs/YUPANGCO/yupangco logo.png" alt="img" height="50">
              </ion-col>
              
              <ion-col col-10>
                <div class="text-left merchant-name">Back to School </div>
              </ion-col>
            
            </ion-row>

            <ion-row>
                <div class="voucher-value">25%</div> &nbsp; <span class="off-label">off</span>
            </ion-row>
            
            <ion-row>
              <div class="text-label">Validity</div>
            </ion-row>
            
            <ion-row>
              <div class="voucher-detail">1 Jun 2019 - 31 Jul 2019</div>
            </ion-row>

                <div class="text-label text-left">Condition</div>
                <div class="voucher-detail">25% Off 12 Lesson</div>

                <div class="text-label">Terms & Conditions</div>
                <div class="voucher-detail">Swipe right to view Terms and Conditions</div>
                <button ion-button class="voucher-btn">Get Voucher</button>
          
            
           
          </ion-grid>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide-div">
          <ion-grid class="grid-detail">
            <ion-row>
              <ion-col class="col-title">
                <p class="product-name">Terms & Conditions</p>
                <p class="voucher-detail text-left">Rain, rain in YMA, come now and make my day!

                  As all classes resume this June, YMA continues to make your child’s dream possible by giving away discounted music lessons with their promo, ‘SchoolTunes’. YMA believes that music helps in honing your child’s intelligence and it harmonizes the life of your kids both at school and home.</p>
              </ion-col>
            </ion-row>
           
          </ion-grid>
        </div>
      </ion-slide>

    </ion-slides>
  </div>

</ion-content>





