<app-header></app-header>

<ion-content #content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid no-padding>
    <ion-row class="special-row-icon">
      <ion-col col-10 class="search-bar" id="search-bar">
        <ion-searchbar placeholder="Search" 
        class="ion-search" id="ion-search"
        [(ngModel)]="searchTerm"
        (ionClear)="onClear($event)"
        (input)="onSearchChange($event.target.value)"
        (change)="onChange($event)">
        <!-- (keyup.enter)="universalSearchEnter($event)"  -->
        </ion-searchbar> 
     </ion-col>

      <ion-col col-2 class="options-icon" id="options-icon">
        <button
          ion-button
          icon-right
          class="option-btn"

          clear
        >

        <!-- (click)="navigateTo('BooksFilterPage')" -->

          <ion-icon name="ios-options-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="special-row" no-padding>
      <ion-slides pager>
          <ion-slide *ngFor="let merchant_ad of merchant_ads">
              <img id="img-banner" src="{{merchant_ad.url}}" width="360" height="166"/>
          </ion-slide>
      </ion-slides>

    </ion-row>

        <div class="sub-appe-name sp-label" *ngIf="prodCategories && prodCategories.length">
            <br /><br />
            <b>Menu</b>
        </div>

        <ng-container *ngFor="let prodCat of prodCategories" class="menu-holder">
        <div class="sub-appe-name music-label" *ngIf="prodCat.prod && prodCat.prod.length">
          <br /><br />
          {{prodCat.cat_name}}
        </div>
        
          <ion-slides slidesPerView="3">
            <ion-slide class="slider-category-holder" *ngFor="let prod of prodCat.prod">
              <div class="col-holder-cat">
                <ion-card class="menu-image-card">
                  <img
                    id="img-sp"
                    (click)="openBookDetail(prod.product_id)"
                    src="{{prod.url}}"
                    width="120"
                    height="120"
                  />
    
                  <ion-card-content class="menu-card-name">
                    <ion-col>
                      <p class="title-name">{{ (prod.product_name.length > 10)? (prod.product_name | slice:0:10)+'...':(prod.product_name) }}</p>
                      <p class="free-deli">{{ (prod.product_desc.length > 10)? (prod.product_desc | slice:0:10)+'...':(prod.product_desc) }}</p>
                      <p class="title-price"><span class="currency">{{prod.price_currency}}</span> {{prod.price_amount}}</p>
                    </ion-col>
                  </ion-card-content>

                  <ion-grid>
                    <ion-row class="quantity-holder">
                        <ion-col>
                            <ion-icon id="remove-icon" (click)="remove(prod.product_id)" name="md-remove"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <p (click)="addtoOrder(prod.product_id, prod.price_amount)" id="input-name">{{counter}}</p>
                        </ion-col>
                        <ion-col>
                            <ion-icon id="add-btn" (click)="add(prod.product_id)" name="md-add"></ion-icon>
                        </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-card>
              </div>
            </ion-slide>

          <ion-slide></ion-slide>
          
        </ion-slides>
      </ng-container>

      <ion-row class="prod-holder voucher-holder">
        <div class="sub-appe-name sp-label" *ngIf="specialOffers && specialOffers.length">
        <br /><br />
        <b>Special Offer</b>
      </div>

        <ion-slides *ngIf="specialOffers && specialOffers.length" update=true slidesPerView="3" speed=200> 
            <ion-slide *ngFor=" let product of specialOffers" >
                <ion-row class="voucher-row">
                    <ion-col class="col-holder sp-col-holder">
                            <ion-card class="menu-image-card">
                                <img class="sp-image-holder" (click)="openBookDetail(product.product_id)" src="{{product.url}}" width="100" height="100"/>
                                <p class="prod-price">{{product.price_amount}}</p> 
                                <ion-card-content class="menu-card">
                                    <div class="item-holder" (click)="openBookDetail(product.product_id)">
                                        <div class="item-name">{{ (product.product_name.length > 15)? (product.product_name | slice:0:15)+'...':(product.product_name) }}</div>
                                        <div class="item-desc">{{ (product.merchant_name.length > 15)? (product.merchant_name | slice:0:15)+'...':(product.merchant_name) }} </div>
                                    </div>
                                </ion-card-content>

                                <ion-grid>
                                  <ion-row class="quantity-holder">
                                      <ion-col>
                                          <ion-icon id="remove-icon" (click)="remove(product.product_id)" name="md-remove"></ion-icon>
                                      </ion-col>
                                      <ion-col>
                                          <p (click)="addtoOrder(product.product_id, product.price_amount)" id="input-name">{{counter}}</p>
                                      </ion-col>
                                      <ion-col>
                                          <ion-icon id="add-btn" (click)="add(product.product_id)" name="md-add"></ion-icon>
                                      </ion-col>
                                  </ion-row>
                                </ion-grid>

                            </ion-card>
                    </ion-col>
                </ion-row>
            </ion-slide>
        </ion-slides>
      </ion-row> 

    <ion-row class="prod-holder voucher-holder">
    <div class="sub-appe-name sp-label" *ngIf="vouchers && vouchers.length">
        <br /><br />
        <b>Vouchers</b>
      </div>
      
      <ion-slides *ngIf="vouchers && vouchers.length" update=true slidesPerView="3" speed=200> 
          <ion-slide *ngFor=" let voucher of vouchers" >
              <ion-row class="voucher-row">
                  <ion-col class="col-holder sp-col-holder">
                          <ion-card class="menu-image-card">
                              <img class="sp-image-holder" (click)="openVoucherDetail(voucher.voucher_id)" src="{{voucher.url}}" width="100" height="100"/>
                              <ion-card-content class="menu-card">
                                  <div class="item-holder" (click)="openVoucherDetail(voucher.voucher_id)">
                                      <div class="item-name">{{ (voucher.name.length > 15)? (voucher.name | slice:0:15)+'...':(voucher.name) }}</div>
                                      <div class="item-desc">{{ (voucher.description.length > 30)? (voucher.description | slice:0:30)+'...':(voucher.description) }} </div>
                                  </div>
                              </ion-card-content>
                          </ion-card>
                  </ion-col>
              </ion-row>
          </ion-slide>
      </ion-slides>
    </ion-row> 

    <ion-row>
      <div class="sub-appe-name sp-label" *ngIf="promos && promos.length">
        <br /><br />
        <b>Events/News</b>
      </div>

      <ion-slides slidesPerView="2">
        <ion-slide class="slider-events-holder" *ngFor="let promo of promos">
          <div class="col-holder">
            <ion-card class="menu-image-card">
              <img
                id="img-resto"
                (click)="openPromoDetail(promo.id)"
                src="{{promo.url}}"
                width="262"
                height="147"
              />

              <ion-card-content class="menu-card-name" (click)="openPromoDetail(promo.id)">
                <ion-col>
                  <p class="title-name">{{ (promo.name.length > 15)? (promo.name | slice:0:15)+'...':(promo.name) }}</p>
                  <p class="title-desc">{{ (promo.description.length > 100)? (promo.description | slice:0:100)+'...':(promo.description) }}</p>
                </ion-col>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-slide>

        <ion-slide></ion-slide>  


      </ion-slides>

    </ion-row>

  </ion-grid>

  <ion-fab bottom right absolute-drag>
    <button ion-fab class="fab-color"><img src="../../assets/imgs/chicken-bacolod/chicken-bacolod-logo.jpg"></button>
    <ion-fab-list side="left">
        <button ion-fab class="fab-color" (click)="toWallet('WalletFabPage')"><img src="assets/imgs/footer-menu/wallet.png"></button>
        <button ion-fab class="fab-color" (click)="toResto('VoucherFabPage')"><img src="assets/imgs/footer-menu/coupon.png"></button>
        <button ion-fab class="fab-color" (click)="toPromo('PromoPage')"><img src="assets/imgs/footer-menu/promo.png"></button>
        <button ion-fab class="fab-color" (click)="toProduct()"><img src="assets/imgs/footer-menu/shop.png"></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
