page-reservation {

    .resto-name, .resto-addr {
            text-align: center;
        }
    
        .resto-addr{
            font-size: 1.2rem;
        }
    
        .rating-ico-holder{
            text-align:center;
        }
    
        ion-icon.icon.icon-md.ion-md-star {
            color: #f9d214;
        }

        span.button-inner {
            // color: #e01c44;
            color: white;
        }
        
    
        ion-card.resto-banner.card.card-md {
            padding: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            box-shadow: none;
            padding-bottom: 0;
    
            // img {
            //     height: 180px;
            // }
        }
    
        // .item-md ion-thumbnail img {
        //     width: 120px;
        //     height: 120px;
        // }
    
            
    
        // ion-col.col-holder.col {
        //     padding: 0 !important;
        // }
        
    
        .item-name {
            font-weight: bold;
            color: #4d4c4f;
        }
    
        .item-price {
            color: #488aff;
            font-weight: bold;
            font-size: 1.3rem;
        }
    
        .item-detail {
            color: #9c9ba0;
            font-size: 1.2rem;
        }
    
        ion-item.item-content.item.item-block.item-md {
            padding: 0;
        }
    
        // img.item-image {
        //     border-radius: 20px;
        // }
    
        .item-inner {
            border-bottom: none !important;
            padding: 0 !important;
        }
    
        ion-card.item-image-card.card.card-md {
            box-shadow: none;
        }
    
        // .label-md {
        //     margin: 13px 0px 13px 0px;
        // }
    
        // .item-md ion-thumbnail[item-start] {
        //     margin: 0 !important;
        // }
    
        .segment-holder .segment-button {
            text-transform: none;
        }
    
        // .item-holder {
        //     padding: 10px;
        // }
    
        // ion-col.col-holder.col {
        //     padding: 5px 10px;
        // }
    
        //Promotion Style
    
        .col-holder{
            .card-md {
                margin: 0 !important;
                width: auto;
            }
        }
    
        .right-detail{
            float: right;
        }
    
        .left-detail {
            float: left;
            color: #ffffff;
            top: 3px;
            left: 14px;
            position: relative;
        }
    
        .revert-left {
            top: 0px !important;
            left: 0 !important;
        }
    
        // .odd-bg{
        //     background: #2c3d4d;
        // }
    
        .promo-list:nth-child(odd){
            background: #e14543; 
        }
    
        .promo-list:nth-child(even){
            background: #2c3d4d;
        }
    
        // .even-bg{
        //     background: #e14543; 
        // }
    
        .back{
            z-index: 10;
            position: absolute;
            top: inherit;
            
        }
    
        .my-style-for-modal{
            opacity: .5;
            background: transparent !important;
            box-shadow: none !important;
        }
    
        ion-col.promo-date-holder.odd.col {
            padding: 0;
            height: 70px;
            width: 20%;
            max-width: 20%;
        }
    
        ion-col.promo-date-holder.even.col {
            padding: 0;
            height: 70px;
        }
    
        .promo-day {
            font-size: 2.5rem;
            padding: 5px 5px 0px 5px;
        }
    
        .voucher-price{
            font-size: 2.5rem;
            padding: 5px 5px 0px 5px;
        }
    
        .promo-price-holder {
            font-size: 12px;
            margin: 0 10px;
            position: relative;
        }
    
        ion-item.promo-corner.item.item-block.item-md {
            //background: #d9dddc;
            padding-left: 6px;
            
        }
    
        ion-row.promo-list.row {
            margin-bottom: 10px;
            right: 1px;
            position: relative;
        }
    
        p.item-detail {
            word-break: break-all;
            white-space: normal;
        }
    
        .right-col-detail-holder {
            background: #ffffff;
            height: 70px;
            padding: 0;
            top: 0;
            position: relative;
            width: 103%;
        }
    
        ion-col.right-col-detail.col {
            padding: 0 5px 0px 0px;
        }
    
        .promo-name {
            font-size: 14px;
            font-weight: bold;
            margin: 0 10px;
            padding: 3.9px 0 0 0;
        }
    
        .promo-location {
            font-size: 12px;
            margin: 0 10px;
            top: -4px;
            position: relative;
            padding: 5px 0 4px 0;
        }
    
        .branch-promo-location {
            font-size: 12px;
            margin: 0 10px;
            top: -4px;
            left: -5px;
            position: relative;
        }
        
    
        .promo-month {
            font-size: 1.3rem;
            top: -5px;
            left: 3px;
            letter-spacing: 3px;
            position: relative;
        }
        
        img.marker-ico {
            width: 14px;
            top: 4px;
            position: relative;
            width: 16px;
        }
    
        .promo-contact-number {
            font-size: 12px;
            top: -3px;
            position: relative;
            left: 10px;
            text-decoration: underline;
        }
    
        span.loc-val {
            font-size: 12px;
        }
    
        img.promo-image-thumbnail {
            width: 70px;
            height: 70px;
        }
    
        img.female-ico {
            height: 20px;
            position: relative;
            display: inline;
            top: 5px;
        }
    
    
        .avatar-list{
            .item-md ion-avatar[item-start]{
                width: 100%;
            }
    
            .item-md ion-avatar ion-img, .item-md ion-avatar img {
                width: 150px;
                height: 150px;
                margin: 0 auto;
            }
        }
    
        ion-list.avatar-list.list.list-md {
            margin: 0;
        }
    
        // ion-card-content.card-content.card-content-md {
        //     padding: 0;
        // }
    
        ion-card-title.card-title-holder.card-title.card-title-md {
            padding: 0 !important;
        }
    
        //Bookings
    
        .booking-time {
            top: -5px;
            position: relative;
            font-size: 1rem;
        }
    
        //Branch
    
        // ion-card.branch-image-card.card.card-md {
        //     margin: 0;
        //     width: auto;
        // }
    
        // ion-card.branch-image-card.card.card-md img {
        //     width: 70px;
        //     height: 70px;
        // }
    
        //Menu
    
        ion-card.menu-image-card.card.card-md img {
            width: 91px !important;
            height: 91px;
            border-radius: 20px;
        }
        
        ion-card.menu-image-card.card.card-md {
            box-shadow: none;
            margin: 0 10px;
        }
        
    
        //Segment
        .segment-holder {
            width: 100%;
        }
    
        .holder-switch {
            width: 100%;
            margin-top: 10px;
        }
    
        //Voucher
    
        // .left-detail-voucher {
        //     left: 6px !important;
        //     top: 14px !important;
        // }
    
        // button
        .ion-md-remove-circle:before {
            content: "\f367";
            font-size: 46px;
            color: #e14543;
            margin-left: 5px;
        }
    
        .ion-md-add-circle:before {
            content: "\f272";
            font-size: 46px;
            color:#e14543;
        }
    
        ion-col.add-btn.col {
            padding-left: 2px;
        }
    
        .resto-banner img {
            width: 411px;
            // height: 213px;
            height: 168px;
        }
    
        //Segments
    
        .segment-holder{
    
            .segment-button {
                text-transform: none;
                font-size: 1.4rem;
                font-weight: normal;
                width: auto;
                padding: 0 10px;
                -webkit-box-flex: auto;
                -webkit-flex: auto;
                -ms-flex: auto;
                flex: auto;
    
            }
    
            .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
                border-color: #488aff;
                opacity: 1;
                font-size: 1.4rem;
                font-weight: bold;
            }
        } 
    
        .segment-sub-holder{
            ion-scroll{
                padding: 20px 0 !important;
                height: auto;
                margin-top: 10px;
            }
    
            .segment-button {
                text-transform: none;
                font-size: 1.4rem;
                border:none;
                background: #e14543;
                opacity: 1;
                color: #ffffff;
                margin: 0 2px;
                line-height: initial;
                height: auto;
                padding: 5px;
            }
    
            .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
                border-color: #488aff;
                opacity: 1;
                font-size: 1.4rem;
                border:none;
                background: #e14543;
                color: #ffffff;
                margin: 0 2px;
                line-height: initial;
                height: auto;
                padding: 5px;
            }
        } 
    
        .shop-segments{
            background: white;
            width: 120% !important;
        }
    
        ion-scroll {
            height: 42px;
            white-space: nowrap;
        }
    
        ion-icon.icon.icon-md.ion-md-call {
            font-size: 11px;
        }
    
        p.question-label {
            text-transform: capitalize;
            color: grey;
            font-size: 12px;
            position:relative;
            display:block;
            z-index: 9999;
        }
    
        p.answer-name {
            text-transform: uppercase;
            color: black;
            font-size: 20px;
        }
    
        .input-info{
            // border-bottom: 1px solid grey;
            // padding-bottom: 10px;

            .item-input:last-child {
                border-bottom: 1px solid grey;
            }

            ion-item.item.item-block.item-md {
                top: -10px;
            }

        }
    
        .input-info-dine{
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
        }
    
        .ion-md-remove-circle-time:before {
            content: "\f367";
            font-size: 46px;
            color: rgb(196, 196, 196);
            margin-left: 5px;
        }
    
        p.pick-label {
            color: grey;
            font-size: 12px;
        }
    
        button.pick-btn {
            background-color: #e14543;
            box-shadow: none;
            margin-top: 7px;
            right: -6px;
            
        }
    
        .input-info-pick{
            // border-bottom: 1px solid grey;
            padding-bottom: 10px;
            padding-top: 16px;   
        }
    
        button#book-btn {
            background-color: #e14543;
            text-transform: uppercase;
            box-shadow: none;
            top: -4px;
            left: -2px;
            width: 98%;
        }
    
        .input-info-book {
            padding-top: 16px;   
        }

        ion-row.merchant-detail-holder.row {
            top: -16px;
            position: relative;
        }

        #img-reserve{
            margin-top: 24px;
            margin-left: 15px;
        }

        .text-left.merchant-name {
            margin-left: 15px;
            margin-top: 26px;
            font-size: 20px;
            font-family: 'open_sansregular';
            font-weight: bold;
        }

        .add-name {
            font-size: 15px;
            font-family: 'open_sansregular';
            margin-left: 15px;
        }

        ion-item.item.item-block.item-md {
            top: -23px;
        }

        .select-holder{
            float: right;
            height: 35px;

            .select-md {
                padding: 13px 8px 13px 16px;
                width: 207px;
                max-width: none;
            }

            .select-text {
                text-align: right;
                margin-right: 10px;
            }
        }

        
        .service-type {
            float: left;
        }

        .select-option {
            border-bottom: solid 1px grey;
            padding: 12px 7px;
        }

        .app-lab {
            color: #000000;
            font-size: 28px;
            padding: 0 0 14px 0;
            text-align: center;
        }


}
