<ion-content>
    <div class="back">
      <button ion-button icon-only (click)="goBack()" class="my-style-for-modal">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
  </div>
  
  <ion-grid no-padding>
  
    <ion-row class="banner-slide">
  
        <ion-slides>
            <ion-slide *ngFor="let merchant_ad of merchant_ads">
                <img id="img-banner" src="{{merchant_ad.url}}" width="360" height="166"/>
            </ion-slide>
        </ion-slides>
    
    </ion-row>
    
    <ion-row class="merchant-detail-holder">
      <ion-col class="merchant-image" col-2 *ngFor="let merchant of merchants">
          <img id="img-reserve" src="{{merchant.merchant_logo}}" alt="img" height="50">
      </ion-col>
      
      <ion-col col-10>
        <ng-container *ngFor="let merchant of merchants">
            <div class="text-left merchant-name">{{merchant.merchant_name}}</div>
            <div class="add-name">{{ (merchant.merchant_address.length > 20)? (merchant.merchant_address | slice:0:20)+'...':(merchant.merchant_address) }}</div>
        </ng-container>
      </ion-col>
    
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="app-lab">Reservation</div>
      </ion-col>
    </ion-row>
  
  <ion-row>
  <form class="holder-switch" [formGroup]="reservation" (ngSubmit)="reservationForm()">
      <ion-list>
          <ion-item>
            <ion-row class="input-info">
                <ion-col col-12>
                    <p class="question-label">First Name</p>
                    <div class="res-name">
                      <ion-item>
                          <ion-input type="text" formControlName="firstname"></ion-input>
                      </ion-item> 
                    </div>
                  </ion-col>
            </ion-row>
  
            <ion-row class="input-info">
                <ion-col col-12>
                    <p class="question-label">Last Name</p>
                    <div class="res-name">
                      <ion-item>
                        <ion-input type="text" formControlName="lastname"></ion-input>
                      </ion-item> 
                    </div>
                  </ion-col>
            </ion-row>
  
            <ion-row class="input-info select-option">
                <ion-col col-12 no-padding>
                    <p class="question-label service-type">Order Type</p>
                    <div class="res-name select-holder">
                      <ion-list>
                        <ion-item>  
                          <ion-select formControlName="product_id" (ionChange)="optionsFn()">
                            <ion-option value="{{prod.product_id}}" *ngFor="let prod of productMerchantList">{{prod.product_name}}</ion-option>
                          </ion-select>
                        </ion-item>
  
                      </ion-list>
                    </div>
                  </ion-col>
            </ion-row>
  
            <ion-row class="input-info select-option">
                <ion-col col-12 no-padding>
                    <p class="question-label service-type">Branch</p>
                    <div class="res-name select-holder">
                      <ion-list>
                        <ion-item>  
                          <ion-select formControlName="branch_id" (ionChange)="optionsFn()">
                            <ion-option value={{branch.branch_id}} *ngFor="let branch of branchList">{{branch.branch_name}}</ion-option>
                          </ion-select>
                        </ion-item>
  
                      </ion-list>
                    </div>
                  </ion-col>
            </ion-row>

            <ion-row class="input-info-dine">
              <ion-col col-8>
                <p class="pick-label">Pick a Date</p>
                <p class="answer-name">{{newDate | date:'EEEE MMM dd y'}}</p>
                </ion-col>
                <ion-col col-4 class="pick-btn">
                  <button ion-button round class="pick-btn" (click)="selectDate()">Pick</button>
                </ion-col>
            </ion-row>
  
            <ion-row class="input-info-pick">
                  <ion-col col-8>
                    <p class="question-label">Reservation Time</p>
                    <p class="answer-name">{{newTime | date:'hh:mm aa'}}</p>
                    </ion-col>
                    <ion-col col-4 class="pick-btn">
                        <button ion-button round class="pick-btn" (click)="selectTime()">Pick</button>
                    </ion-col>
              </ion-row>
  
          </ion-item>
          <ion-item>
              <ion-row class="input-info-book">
                  <ion-col col-12 class="book-btn">
                    <button ion-button full round id="book-btn" >RESERVATION TABLE</button>
                  </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </form>
  </ion-row> 

  <!-- [disabled]="buttonStatus" -->
  
  </ion-grid>
  </ion-content>
  