<ion-header class="head-menu">
  <ion-toolbar class="header-holder">
    <button ion-button left menuToggle="xyz123">
      <ion-icon id="menu-name" name="menu"></ion-icon>
     </button>

    <ion-row *ngFor="let merchant of merchants">
      <ion-col col-1>
          <img
            class="img-name"
            src="{{merchant.merchant_logo}}"
            alt="img"
          />
        </ion-col>
      <ion-col col-7>
        <div class="pink-header">
            <span id="merchant-name">{{ (merchant.merchant_name.length > 15)? (merchant.merchant_name | slice:0:15)+'..':(merchant.merchant_name) }}</span>
        </div>
      </ion-col>

      <ion-col col-2>
        <button ion-button icon-only (click)="openCart()" class="btn-cart" clear>
            <p class="cart-num">{{cartQty}}</p>
            <ion-icon class="cart-logo" name="cart"></ion-icon>
            </button>
    </ion-col>

    <ion-col col-2>
      <button ion-button id="reserve-btn" icon-only (click)="goToReservation()" clear>
        <ion-icon id="calendar-ico" name="calendar"></ion-icon>
      </button>
    </ion-col>
    
    </ion-row>

  </ion-toolbar>
</ion-header>

