app-header {
    button.btn-cart.disable-hover.button.button-md.button-clear.button-clear-md {
        color: black;
        padding-top: 10px;
        padding-right: 6px;
        padding-left: 3px;
        font-size: 1.7rem;
        margin-top: 2px;
        float: right;
    }

    img.img-name{
        max-width: 100%;
        margin-top: 10px;
    }

    .pink-header {
        padding: 3px 8px;
        font-size: 16px;
        padding-left: -2px;
        font-family: 'open_sansregular';
        top: 10px;
        position: relative;
    }

    ion-icon.cart-logo.icon.icon-md.ion-md-cart {
        font-size: 1.6em;
    }

    #calendar-ico{
        color: #e01c44;
    }

    ion-icon.cart-logo.icon.icon-md.ion-md-cart {
        font-size: 1.5em;
    }

}
