<ion-content class="card-background-page" no-padding>
    <div id="overlay"><img src="assets/imgs/white.jpg" width="200" height="100"/></div>
    <ion-card>
        <img src="assets/imgs/20181114_Pata.jpg"/>
        <div class="card-title">Crispy Pata</div>
        <div class="card-subtitle">
          <p>Deep-fried crispy pork skin with tender juicy pata meat</p>
        </div>

        
        <!-- <ion-card-content>
          <ion-card-title>
            Nine Inch Nails Live
              <p>
                The most popular industrial group ever, and largely
                responsible for bringing the music to a mass audience.
              </p>
            </ion-card-title>
        </ion-card-content> -->
      </ion-card>


  <ion-grid no-padding>
    <!-- <ion-row>
        <ion-col>
            <img src="assets/imgs/20181114_Pata.jpg" width="411" class="detail-image"/>
            <div class="detail-desc-tag-holder">
              <div id="detail-title">Kuya J</div>
              <div id="detail-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
        </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
