
<ion-header>

    <ion-toolbar class="header-holder">
        
        <ion-row>
          <ion-col col-2>
              <button ion-button icon-only (click)="goBack()" clear>
                  <ion-icon id="arrow-back" name="arrow-back"></ion-icon>
                </button>
          </ion-col>
            <ion-col col-8>
              <div class="pink-header">
                  <span id="merchant-name">Ordering Cart</span>
                </div>
            </ion-col>
  
            <ion-col col-2 class="home-holder">
              <button ion-button icon-only class="cart-col" (click)="goHome()"  clear>
                <ion-icon id="cart-home" name="ios-home"></ion-icon>
              </button>
            </ion-col>
  
        </ion-row>
      </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding>
  
    <ion-grid no-padding>
      {{user_id}}
      <div *ngFor="let total of carts">
      <div class="sub-sum">
        <p class="name-sum">SUMMARY</p>
        <ion-row class="row-sum">
        <ion-col col-8>
         <p class="sub-name">Subtotal</p>
        </ion-col>
        <ion-col col-2>
        <p class="sub-price"><span class="peso-sign">PHP</span> {{ total.grand_total | number:'2.2' }}</p>
      </ion-col>
      </ion-row>
      <ion-row class="delivery">
          <ion-col col-8>
           <p class="sub-name">Delivery charge</p>
          </ion-col>
          <ion-col col-2>
          <p class="sub-price"><span class="peso-sign">PHP</span> 50.00</p>
        </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8>
             <p class="sub-name">GST(12%) Inclusive</p>
            </ion-col>
            <ion-col col-2>
            <p class="sub-price"><span class="peso-sign">PHP</span> {{ f_vat | number:'2.2' }}</p>
          </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-8>
               <p class="total-name">TOTAL</p>
              </ion-col>
              <ion-col col-2>
              <p class="total-price"><span class="peso-sign">PHP</span> {{ f_grand | number:'2.2' }}</p>
            </ion-col>
            </ion-row>
          </div> 
        </div>
  
      <!-- <ion-row class="input-vouc">
        <ion-input type="number" placeholder="Cash" [(ngModel)]=cash></ion-input>
      </ion-row> -->
      <!-- <ion-row class="row-icon">
        <ion-col class="col-icon" col-4>
          <ion-grid>
            <ion-row class="inside-row-icon">
                <div class="icon-holder"><ion-icon class="icon-height" name="albums"></ion-icon>
                </div>
            </ion-row>
            <ion-row class="inside-row">
              Credit Card
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="col-icon" col-4>
          <ion-grid>
            <ion-row class="inside-row-icon">
              <div class="icon-holder"><ion-icon class="icon-height" name="card"></ion-icon>
              </div>
            </ion-row>
            <ion-row class="inside-row">
              Voucher
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="col-icon" col-4>
          <ion-grid>
            <ion-row class="inside-row-icon">
                <div class="icon-holder"><ion-icon class="icon-height" name="more"></ion-icon>
                </div>
            </ion-row>
            <ion-row class="inside-row">
              Options
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row> -->
  
      <!-- <ion-row class="btn-apply" id="btn-apply">
        <button ion-button full class="filter-btn" (click)="openPlaceOrder()" id="filter-btn" form="ngForm" >
          <p class="filter">PAY</p>
        </button>
      </ion-row> -->
  
      <div class="list-order" *ngFor="let product of products">
        <div class="close">
          <ion-icon name="close-circle" (click)="cancelOrder(product.product_id, product.cart_detail_id, product.cart_id)"></ion-icon>
        </div>
        <ion-row class="order-row">
          <ion-col col-4>
              <img id="img-order" src="{{ product.url }}" width="100" />
          </ion-col>
          <ion-col col-8>
            <p class="name-order">{{ product.product_name }}</p>
            <p class="extra-order">Quantity: 
              <ion-icon class="remove-btn" (click)="remove(product.product_id, product.qty, product.cart_detail_id)" name="md-remove"></ion-icon> 
              {{ product.qty | number:'1.0-0' }}
              <ion-icon class="add-btn" (click)="add(product.product_id, product.qty, product.cart_detail_id)" name="md-add"></ion-icon></p>
            <p class="order-price"><span class="peso-sign-list">{{ product.price_currency }}</span> {{ product.price_amount }}</p>
          </ion-col>
        </ion-row>
      </div>
  
      <ion-row class="row-padding">
      </ion-row>
    </ion-grid>
  
  </ion-content>
  