page-menu-ordering {

    ion-toolbar.header-holder.toolbar.toolbar-md {
        box-shadow: none !important;
        left: 0;
        bottom: -5px;
        background-position: left 0 top 1px;
        // position: absolute;
        width: 100%;
        // height: 5px;
        /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==); */
        /* background-repeat: repeat-x; */
        content: "";
    }

    #arrow-back{
        position: relative;
        margin-top: 5px;
        margin-left: -2px;
        color: #e01c44;
    }

    span#merchant-name {
        top: -3px;
        position: relative;
    }

    .pink-header {
        padding: 7px;
        font-size: 22px;
        padding-left: 0px;
        // padding-bottom: 9px;
        padding-top: 11px;
        font-family: 'open_sansregular';
        margin-top: 2px;
        text-align: center;

    }

    p.name-check {
        font-size: 18px;
        // padding-bottom: 9px;
        // padding-top: 6px;
        font-family: 'open_sansregular';
        top: -3px;
        position: absolute;
        // margin-top: 10px;
        text-align: end;
        padding-right: 13px;
        color: #e01c44;
        text-transform: uppercase;
    }

    ion-col.col {
        padding: 0px;
        // border: 1px solid grey;
    }

    .sub-sum {
        box-shadow: none !important;
        margin: 10px 7px 10px 7px;
        border-radius: 5px;
        background: #f7b605;
    }

    ion-row.row-sum.row {
        margin-top: -12px;
        height: 18px;
    }

    .delivery{
        height: 18px;
    }

    p.name-sum {
        margin-top: 15px;
        text-align: end;
        font-size: 20px;
        padding-right: 15px;
        font-family: 'open_sansregular';
        color: white;
    }

    p.sub-name {
        font-size: 16px;
        margin-top: 0px;
        margin-left: 18px;
        font-family: 'open_sansregular';
    }

    p.sub-price{
        font-size: 16px;
        margin-top: 0px;
        text-align: end;
        font-family: 'open_sansregular';
        width: 100px;
    }

    p.total-name{
        font-size: 16px;
        margin-top: 0px;
        margin-left: 18px;
        font-family: 'open_sansregular';
        color: white;
    }

    p.total-price{
        font-size: 16px;
        margin-top: 0px;
        text-align: end;
        font-family: 'open_sansregular';
        width: 100px;
        color: #e01c44;
    }

    .list-order {
        background: rgb(243, 241, 241);
        height: 100%;
    }

    ion-row.order-row.row {
        /* border: 1px solid; */
        margin: 10px;
        border-radius: 5px;
        background: white;
        // height: 123px;
    }

    img#img-order {
        margin-top: 15px;
        margin-left: 15px;
        border-radius: 7px;
        margin-bottom: 7px;
        border: 1px solid grey;
    }

    p.name-order {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
        font-family: 'open_sansregular';
    }

    p.extra-order {
        font-size: 17px;
        // font-weight: bold;
        margin-left: 10px;
        margin-top: -18px !important;
        font-family: 'open_sansregular';
    }

    p.order-price {
        // position: absolute;
        margin: 0 18px 5px 0;
        font-size: 20px;
        color: #e01c44;
        font-family: 'open_sansregular';
        text-align: right;
    }

    p.order-price2 {
        text-align: end;
        position: absolute;
        left: 235px;
        top: 423px;
        font-size: 20px;
        color: #e01c44;
        font-family: 'open_sansregular';
    }

    .input-vouc {
        // margin-left: 21px;
        margin-top: 5px;
        font-size: 17px;
        font-family: 'open_sansregular';
        margin-bottom: 5px;
    }

    ion-input.input.input-md {
        border: 1px solid #e01c44;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'open_sansregular';
        background: white;
        // margin-bottom: 16px;
        border-radius: 5px;
    }

        button#filter-btn {
            top: -5px;
            position: relative !important;
            // position: -webkit-sticky; 
            // position: sticky;
            font-size: 1.7rem;
            background: #e01c44;
            padding: 0px;
            // margin-top: 529px;
            height: 50px;
            // width: 60%;
            z-index: 100;
            // position: absolute;
            overflow: hidden;
            bottom: 30%;
            // margin-left: 10px;
            align-items: center;
            border-radius: 7px;
            // margin-right: 100px;
        }

        p.filter {
            /* padding-bottom: 5px; */
            padding-top: 6px;
            font-size: 19px;
            height: 30px;
        }
    // }
    ion-row#btn-apply {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .header-md::after, .tabs-md[tabsPlacement=bottom]>.tabbar::before, .tabs-md[tabsPlacement=top]>.tabbar::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        content: "";
    }

    span {
        content: "\20B1";
      }

    .peso-sign{
        font-size: 1.3rem;
    }

    .peso-sign-list{
        font-size: 1.5rem;
    }

    #cart-home {
        border-radius: 50%;
        background: #e01c44;
        padding-left: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 8px;
        color: white;
        // margin-left: 262px;
    }

    .home-holder{
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .row-icon{
        height: auto;
    }

    .col-icon{
        text-align: center;
    }

    .inside-row{
        text-align: center;
        margin: auto;
        padding: 10px 0 10px 0;
    }

    .inside-row-icon{
        margin: auto;
    }

    .icon-holder{
        margin-left: auto;
        margin-right: auto;
    }

    .icon-height{
        font-size: 2em;
        color: grey;
    }

    .close{
        position: absolute;
        padding-left: 90%;
        padding-top: 5%;
        font-size: 2rem;
        z-index: 10;
    }

    .remove-btn{
        background: #e01c44;
        color: white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 40px;
        text-align: center;
    }

    .add-btn{
        background: #e01c44;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 40px;
        text-align: center;
    }

    .alertCustomCss2{
        // text color for basic alerts
        color: black !important; 
    
        button {
            color: white !important; // button text color
            background-color: #e01c44 !important;
            // width: 50% !important;
        }
    
        .alert-message {
            color: white; // text color for confirm alerts
        }
      }

    .alert-md .alert-button{
        color: black;
    }
}
